[2019-09-01 20:44] antonovicha commented on #715
Extra information. TypeScript guys favor `baseUrl` + `paths` over `typeRoots`. The later is supposed to be used for migration. See https://github.com/microsoft/TypeScript/issues/22217#issuecomment-370019383.

[2019-09-02 13:35] sajadghawami commented on #817
Does `ts-node` automatically pass the `--incremental` flag?
In other words, Is this ready for usage now? :)

[2019-09-02 18:47] JustinDFuller opened #878 "tsc build works, ts-node fails"
Hi,

I'm seeing the following error:

[code]

Building with `tsc` works just fine. The interesting part is that it doesn't show my types at all. Here is the code that is being type-checked:

[code]

You can see that the error message does not include types, but the code does.

Here is my tsconfig:

[code]

[code]

Here is my ts-node usage:

[code]

[2019-09-02 18:55] JustinDFuller commented on #878
I was calling ts-node multiple times. Ensuring that it was only called once resolved this issue.

[2019-09-02 18:55] #878 closed

[2019-09-03 13:20] saitonakamura commented on #792
I have a similar problem, I have a transformer that will generate runtime json validation based on generic type argument so I need an access to typeChecker in there.
https://github.com/ts-type-makeup/superstruct-ts-transformer
The way it's done with `ts-loader`, they create a program manually
https://github.com/TypeStrong/ts-loader/blob/35b1b5634eececa914f977c31ae182ed88f24987/src/instances.ts#L21

[2019-09-03 13:21] saitonakamura commented on #792
@gfx nice find with `ttsc`! It would still be better the less hoops you need to jump, methinks

[2019-09-04 17:01] thearegee opened #880 "Node option for experimental and module resolutions"
Hello,

I have a project that is written in typescript that imports node modules that are not transpiled. So I want to be able to use both `ts-node` to handle my code and pass flags to node so I can use native imports.

I thought the following might work:

[code]

Unfortunately not, I also saw the following: https://github.com/TypeStrong/ts-node/issues/560

I was just wondering if there was suppor

[2019-09-04 17:19] yi-fan-song commented on #869
try `TS_NODE_PROJECT` environment variable

[2019-09-04 17:59] yi-fan-song opened #881 "Environment variable doesn't strip"
In my package.json I have a script
`set TS_NODE_PROJECT=./tsconfig.server.json && node --inspect=5858 -r ts-node/register ./server/server.ts`.
When ran, it gives me
[code]
Notice the extra space after `tsconfig.server.json`

[2019-09-04 18:04] blakeembrey commented on #869
@DylanJu Like @yi-fan-song mentions, `--project` is not an option for `node` - it's an option for `ts-node`. You can also change the executable with `nodemon` to be `ts-node` to get around this.

[2019-09-04 18:04] #869 closed

[2019-09-04 18:06] blakeembrey commented on #881
@yi-fan-song Is this a Windows related thing? It seems odd to have to change the string you set manually, but it could be done.

[2019-09-04 18:07] blakeembrey commented on #880
@thearegee There's a long thread around here where people have commented on possible implementations, but yes - still looking for a PR! Happy to work with you on getting it out.

[2019-09-04 18:09] blakeembrey commented on #872
@kbd In which version did this used to be possible? You are probably correct, but a major version does imply backward incompatible changes. In any case, this does sound like something we should correct in https://github.com/zeit/arg. Happy to accept a PR with tests to ensure we don't regress if `arg` supports it already.

[2019-09-04 18:12] #798 closed

[2019-09-04 19:53] thearegee commented on #880
@blakeembrey if you could link the thread, or let me know if there was a preference in approach and maybe give me a point in the right direction I will knock something up tomorrow

I would love to get something like this in because it will make my project so much cleaner

[2019-09-04 23:25] vjba commented on #861
Thank you for this @krzkaczor.

Do you know of any way to make the ` "runtimeExecutable"` path dynamically update to newer versions of node after being installed by nvm?

[2019-09-04 23:29] krzkaczor commented on #861
@vjba not sure but it seems like there are some aliases available:
[code]

[2019-09-04 23:43] vjba commented on #861
@krzkaczor thanks again for the help. I've got your first solution working.

I'll do some digging on the suggestion you provided and hopefully I'll be able to post back with a clean solution.

[2019-09-05 02:21] ray0324 opened #882 "declare global interface doesn't work"
gobal definations:
[code]

[code]
[code]

[code]

[2019-09-05 11:54] thearegee commented on #880
I was thinking we need the ability to pass any node flags to ts-node. I looked at some tickets I could find, some looked like they suggested using environmental variables:

[code]

Others seemed to suggest maybe use `argv` so maybe more like this:

[code]

First I was wondering if you had a preference of what you would like?

Secondly I was struggling to understand how you were passing the script

[2019-09-05 15:28] kbd commented on #872
Not sure exactly, but [my "scratch" script](https://github.com/kbd/setup/blob/master/snip/scratch.ts) using `ts-node` in its shebang was last updated on Oct 30, 2018, so it worked then (I stopped working in JavaScript since then but am on another project now).

[2019-09-05 16:11] vmarchaud commented on #817
@sajadghawami I believe it doesn't, `ts-node` need to use the implement the new API released in 3.6

[2019-09-06 02:39] flux627 commented on #104
A user early in this thread said that `reflect-metadata` broke when using this in `-T` (at the time it was `-F`) mode. Is this still the case?

[2019-09-06 03:01] blakeembrey commented on #104
Yes, it’s not possible to get type information if your compiling without type information - which is what transpile only does.

[2019-09-06 04:26] blakeembrey commented on #880
Node flags to TS node is a much different request and we should keep these separate, but I’ll be the first to decline supporting node.js flags in the TS Node executable. If you go through the Git history, you’ll discover that used to be possible - it was just too much to maintain and had some annoying edge cases. Every feature brings more issues/requests so I ended up removing it in favor of using

[2019-09-06 04:27] blakeembrey commented on #882
There’s a section in the README for this.

[2019-09-06 04:27] #882 closed

[2019-09-06 04:30] blakeembrey commented on #880
The issue is https://github.com/TypeStrong/ts-node/issues/436.

[2019-09-06 05:48] mauril26 commented on #396
`mocha -r ts-node/register --preserve-symlinks ./src/**/*.test.ts`

this worked for me.

I have the code (./src) in a place and a workspace in other location (which contains node_modules), ie:

- {real_place}
 | -src

///////////////////////

- workspace
 | - node_modules/
 | - src/ --> {real_place}/src

running the script with --preserve-symlinks fix the missing module error. (chai in my case)

[2019-09-06 10:22] thearegee commented on #880
@blakeembrey so would you be open for both `--experimental-modules` and `--es-module-specifier-resolution=node` as apposed allowing for any node flag?

I will catch up on the issue today

[2019-09-06 17:14] yi-fan-song commented on #881
Yea, windows keeps that space there. Unintuitively, `set TS_NODE_PROJECT=./tsconfig.server.json&& node --inspect=5858 -r ts-node/register ./server/server.ts` works.

[2019-09-06 17:14] #881 closed

[2019-09-06 19:06] pirix-gh commented on #46
Hey @blakeembrey, do you know if this is still working correctly?
Because I am able to debug using breakpoints, but in some cases, the breakpoint is just ignored.
This seems to happen when a breakpoint is placed in a file that is not directly run. I also tried to add `--nolazy` but without success. Should I just transpile?

[code]

[2019-09-09 02:27] chadarsenault opened #883 "error TS7022: '__importDefault' implicitly has type 'any' because it does not have a type annotation and is referenced directly or indirectly in its own initializer."
OS: Windows 10 64
Environment: node v10.14.2, ts-node v8.3.0, typescript v3.6.2

I receive this error only while running ts-node as the loader, but not while compiling with typescript directly.  I've attached the contents of my project's root\api dir, `C:\www\node-framework\api` for inspection.  The only two files currently being touched by typescript should be `C:\www\node-framework\api\src\frame

[2019-09-10 01:15] blakeembrey commented on #883
It looks like you've registered `ts-node` twice, so it's compiling your TypeScript then again with the output from TypeScript.

[2019-09-10 01:16] #883 closed

[2019-09-10 01:16] blakeembrey commented on #883
It actually says so in your CLI: `ts-node --require ts-node/register` - use one or the other, not both at the same time.

[2019-09-10 14:05] hamad-Adel commented on #707
I solve this problem by reinstalling typescript globally
npm i -g typescript

[2019-09-11 18:58] nazar-pc opened #884 "8.2.0 regression"
Here is my tsconfig.json:

<details>

[code]

</details>

Code sample:
[code]

With 8.1.1 it works fine, with 8.2.0 and 8.3.0 it fails with:
[code]

Even though project has `@types/node` installed and `tsc -b` works fine and `tslint` in strict mode doesn't complain either.

[2019-09-11 19:44] schmod commented on #104
I haven't seen any issues with sequelize-typescript – the current limitation may be _specifically_ limited to the enum issue described in #873.

[2019-09-11 19:44] blakeembrey commented on #884
Seems like https://github.com/TypeStrong/ts-node/commit/9691206def28405d4e53c5a7753f96d15be46e79 then, which itself was an unexpected breaking change in 8.1.0, it can be re-added in 9.0.

[2019-09-11 19:45] blakeembrey commented on #884
Can you check by running on 8.0.2?

[2019-09-11 19:46] blakeembrey commented on #884
Personally, this looks more like you added “dom” to the list of types than a change in versions. I’m pretty sure if you remove DOM it’ll work.

[2019-09-11 19:53] nazar-pc commented on #884
8.0.2 work fine too.

I can't remove DOM because project targets both environments and a lot of other things will fail to compile because of that.

[2019-09-11 23:25] blakeembrey commented on #884
Can you create a reproduction? The change I pointed out, which is the only change of code between the version you say broke, didn’t exist on 8.0.2 which is why I asked you to test it. If that works, there must be something else going on.

[2019-09-14 23:31] Lange commented on #874
This is caused by https://github.com/TypeStrong/ts-node/blob/629525474fb548fddb7a90a48ab795a9199b1997/src/index.ts#L207-L209.

This block causes `ts-node` to ignore any file which has `node_modules` in its path. As a temporary fix, try setting a value for `ignore` which will override this. Here's an example I used to ignore all of `node_modules` _except_ my particular folder, using negative lookah

[2019-09-15 11:28] Perry5 commented on #619
I know this is old, but hopefully it helps someone.

@RichAyotte's response worked for me. In my case I needed to specify the relative path to the file:
`const childProcess = fork("./src/controllers/child-process.ts", [], { execArgv:  ["-r", "ts-node/register"] });`

[2019-09-15 20:46] blakeembrey commented on #619
Heads up: This should have been solved back in January, please let me know if you're still still needing to manually change `.ts` handling in a new issue. Reference: https://github.com/TypeStrong/ts-node/pull/760.

[2019-09-15 23:05] #792 closed

[2019-09-15 23:33] blakeembrey commented on #884
Closing because it this _should_ be failing. In browsers `setTimeout` returns a `number` and you're using the types from DOM (browsers).

[2019-09-15 23:58] nazar-pc commented on #884
I believe ts-node should be running successfully anything that compiles with TypeScript compiler. That code compiles in strict mode with TypeScript and runs both in Node.js and Browser.

Moreover, explicit check for property narrows down `timeout` inside of `if` branch, hence this code if perfectly correct even if used with DOM types and without any Node.js types at all (while I do have `@types/no

[2019-09-16 00:07] blakeembrey commented on #884
I'll take a quick look, you are correct. I'd really appreciate any sort of help in the future.

[2019-09-16 00:30] blakeembrey commented on #884
Appears to be resolved with https://github.com/TypeStrong/ts-node/releases/tag/v8.4.1.

[2019-09-16 00:30] #884 closed

[2019-09-16 00:36] nazar-pc commented on #884
Verified, 8.4.1 works, thanks!

[2019-09-16 00:49] blakeembrey commented on #870
@Lange Are you seeing this error:

[code]

It's actually by the node.js runtime and it's because there's a build step to get the `dist/` directory created that doesn't exist on GitHub (reference: https://github.com/svgdotjs/svg.filter.js/blob/master/package.json#L54). If they used a `prepare` script instead of `prepublishOnly`, I believe this may be resolved because it runs after an `npm install`

[2019-09-16 00:53] Lange commented on #870
@blakeembrey that makes sense, I'm guessing it'll be fixed once I get back to using the normal npm releases. I'll close this for now.

[2019-09-16 00:53] #870 closed

[2019-09-16 01:44] drachehavoc commented on #676
I made a different solution with a dynamic approach, I create an a function with a eval worker whos import the TS file.

check the code below:

[code]
ps: sorry for the bad english.

[2019-09-17 02:35] paxperscientiam commented on #505
@ blakeembrey  "ts-node doesn't compile dependencies in node_modules. "

Perhaps something like this could appear in an error message?

[2019-09-17 06:42] blakeembrey commented on #505
You are welcome to create a PR, but what error message are you describing?

[2019-09-18 16:54] adjerbetian commented on #884
@blakeembrey This change triggered a big loss in performance when watching files (with mocha for instance). Would there be another way to solve the problem ?

I'm stuck at version `8.4.0` now (opposite of nazar-pc 😅)

[2019-09-20 05:41] skjo0c commented on #797
This error is shown if I put my files inside src folder but not if I put them outside src. Does anyone know how to deal with it? I have tried preserveSymlinks but no luck. `ts-node` version is `8.3.0`

[2019-09-20 18:24] akopchinskiy commented on #820
Same crap here

[2019-09-22 14:21] vogler opened #885 "options to always show types and shadow bindings in REPL"
If one wants to play around with types in the REPL, it would be nice if there was an option to not just show the value of an expression but also its type.
Having to bind an expression to some identifier `x` and then use `.type x` gets annoying since it doesn't allow to shadow bindings. An option to allow that would also be nice (maybe by just nesting blocks).

![image](https://user-images.githubus

[2019-09-24 01:55] matthew-dean commented on #797
This is still an issue as of 8.4.1, and the `preserveSymlinks` doesn't seem to fix it.

[2019-09-24 04:51] blakeembrey commented on #797
@matthew-dean Can you create a reproduction?

[2019-09-24 16:11] matthew-dean commented on #797
@blakeembrey In my case, I think it was actually because my mocha test path was set to `**/__tests__/*.ts`, which I think was then globbing `node_modules`, and some `.ts` file in there was failing. I fixed it by making sure I was globbing `src/**/__tests__/*.ts`

[2019-09-24 16:14] matthew-dean commented on #797
@blakeembrey So maybe in my case, the error was legitimate because some node module had a test `.ts` file which wasn't actually compilable. 🤷‍♂

[2019-09-25 14:05] gruckion commented on #754
I have read over all the comments, the issue is still open and it's been close to 9 months. The latest version still has this problem and the only solution I can see here is to role back to 6.2.0.

Are there any updates on this issue and when this will be resolved.

[2019-09-25 15:08] grogi commented on #876
I run into similar issues with @types/express - which reexports @types/express-serve-static-core...

[2019-09-25 18:39] blakeembrey commented on #754
@gruckion If you want it to be improved, you'll need to submit a PR. Based on this discussion I'm unclear of how to improve the performance - the only possible configs are `--files` or `--transpile-only`. The only major gripe I can understand from comments is that people liked the file system cache a lot, which could be re-enabled but not as default because it causes subtle hard-to-debug issues an

[2019-09-25 20:33] ronjouch commented on #754
Passersby interested in implementing that, here's the announcement: [TS 3.6 APIs to Support `--build` and `--incremental`](https://devblogs.microsoft.com/typescript/announcing-typescript-3-6/#apis-to-support-build-and-incremental).

[2019-09-26 09:59] connorjayfitzgerald commented on #754
I've been using 8.3.0 for a while. Tried upgrading to 8.4.1 today and startup time went from ~16s to ~75s.

[2019-09-26 15:35] blakeembrey commented on #754
What about with 8.4.0? There’s only only code change which was performance based there, and it had to be reverted because it caused type errors that shouldn’t have been happening.

[2019-09-26 15:57] connorjayfitzgerald commented on #754
Just tried 8.4.0 and that's starting up fine

[2019-09-26 19:11] blakeembrey commented on #754
@connorjayfitzgerald Would you be willing to test https://github.com/TypeStrong/ts-node/tree/be/incremental-program and let me know what performance looks like for you?

[2019-09-27 07:32] connorjayfitzgerald commented on #754
Sure. Still seeing the slow startup on that branch

[2019-09-27 20:23] blakeembrey commented on #754
@connorjayfitzgerald This is why the issue is still open and needs help. I've tried a half dozen refactors (including the one above which rewrite the way TypeScript is used) and none see any measurable change in performance.

[2019-09-27 20:25] DanielSchaffer commented on #754
is there a way to compare perf profiling from 8.4.0 and 8.4.1 to see what's causing the problem?

[2019-09-27 21:08] blakeembrey commented on #754
@DanielSchaffer I'd love help with it, there's only one change (https://github.com/TypeStrong/ts-node/commit/87a6e2c5d73a43610bf21abde710a6c9ae973756) and it was reverted to fix https://github.com/TypeStrong/ts-node/issues/884. It's unclear how this negatively affected things, and it's also unclear why the changes in the incremental program aren't faster (they are in the test suite).

[2019-09-27 22:49] ORESoftware commented on #754
maybe:

[code]

?

[2019-09-28 03:37] ohjames opened #886 "Please consider using `prepublishOnly` rather than `prepare` to transpile code to `dist`"
Having the transpilation in `prepare` means that everyone time someone `npm install`s this package into their own project, it is transpiled (despite the transpiled source code already existing in `dist`).

If you moved the build into `prepublishOnly` or `prepack` then the code would be transpiled once before being uploaded to the npm repository. Then you'd save everyone who installs `ts-node` from

[2019-09-28 05:54] ohjames commented on #817
I'm working on an incremental cache for `ts-node` here: https://github.com/ohjames/ts-node/tree/jpike/cache

It doesn't need to use the incremental API though.

I'm also caching included `js` files in the cache for this implementation though (although that could be hidden behind an option).

Why cache included `js` files? Because docker mac filesystem access is incredibly slow. So so damn slow. So

[2019-09-28 15:41] blakeembrey commented on #817
@ohjames that looks unrelated to this issue, please keep it separate. This issue is specifically around using the incremental compilation API available in TypeScript. The solution you’ve written is actually available on an older version of this package and it’s be preferable to just re-use that functionality - the reason it was removed is because you end up having transitive type issues on changed

[2019-09-28 15:43] blakeembrey commented on #886
That’s not true at all.

[2019-09-28 15:43] #886 closed

[2019-10-01 14:23] kaienbcjdoapwkfldue opened #887 "Runtime reference error with --transpile-only"
When using the `--transpileOnly` flag, I get a runtime reference error that `ReturnType` is undefined on the following code

[code]
I know that there is a type error in that it should read `Promise<ReturnType<T>>`. However, I would like to ignore it for now as I won't get the correct return type if `func` returns itself a promise (I would get `Promise<Promise<...>>`).

Anyway, It seems that `Retur

[2019-10-01 19:06] gremo opened #888 "How can I use TypeScript references with ts-node?"
I'm using [TypeScript project references](https://www.typescriptlang.org/docs/handbook/project-references.html). How can I add the `-b` flag in order to make the composite compilation work?

Here is `packages/server/main.ts`:

[code]

Note that `@shared` is an **alias in the root `package.json`** (it works just fine when building using `tsc`):

[code]

`ts-node -r tsconfig-paths/register src/main.

[2019-10-01 22:26] gremo commented on #888
Closing as the problem was the presence of `_moduleAliases` itself.

[2019-10-01 22:26] #888 closed

[2019-10-02 14:13] tqma113 opened #889 "extend Window occur error"
Typescript: 3.6.2
ts-node: 8.4.1

[code]
when i write it in ide, it doesn't warn, but when run it with ts-node it will throw an error.

How can i avoid it?

[2019-10-02 18:20] harrysolovay opened #890 "Respecting untranspiled, symlinked package dependencies"
I have a Lerna monorepo. Within this monorepo are several packages, none of which have any build step. In their `package.json`s, I'm adding `"types": "."`. This lets me effectively jump between packages during development. My plan is to have a GitHub action transpile and patch each `package.json` with the currently-missing `main` field... but there's no need to get into that in this issue, as I do

[2019-10-02 18:41] harrysolovay commented on #890
Nevermind! My mistake was accidentally excluding `esModuleInterop` in the project that linked to the monorepo. Rookie mistake on my part. Thank you!

[2019-10-02 18:41] #890 closed

[2019-10-03 02:19] ViniAugusto opened #891 "Got syntax error when running npm start SyntaxError: missing ) after argument list"
Hi, I would like some help to understand what's happening here.

When I run `npm start` I got this error:
 `basedir=$(dirname "$(echo "$0" | sed -e 's,\\,/,g')")
          ^^^^^^^

SyntaxError: missing ) after argument list
    at createScript (vm.js:80:10)`

also got this path:  `\node_modules\.bin\ts-node:2`

When doing some research I found that other packages also have this issue when running

[2019-10-04 13:06] mmc41 opened #892 "Installing on raspberry pi (arm32) yields empty package in node_modules"
The most recent ts-node npm 12.7.11 does not install correctly with "npm install" for raspberry pi (arm 32). The resulting folder in node_modules is empty except from a "package.json" file when running node 12.0 and npm 6.10.3

[2019-10-04 21:28] blakeembrey commented on #892
This sounds out of my control. Have you tried installing other packages? This is deployed as a single build to the NPM registry, not as different builds for different machines, so there shouldn’t be any difference unless there’s an issue with your machine or NPM on this machine.

[2019-10-04 21:29] blakeembrey commented on #891
It looks like your trying to run a shell script with this package? I’d need more information to help though.

[2019-10-04 21:31] blakeembrey commented on #889
There’s no such thing as window on node.js.

[2019-10-04 21:31] #889 closed

[2019-10-04 21:39] blakeembrey commented on #887
I’ll test this in the next few days, if it does turn out to be a reproducible issue we’ll need to report it to the TypeScript repository.

[2019-10-04 23:09] ViniAugusto commented on #891
I'm trying to run a server when I type npm start on terminal I got this error.

my package.json script is:
[code]

I was doing a tutorial and there's said that when running this command I should be able to open localhost:5000 but I got this error and since my research found that maybe it's a Windows thing with the package I thought that maybe someone already saw this and have a solution.

This is

[2019-10-04 23:31] blakeembrey commented on #891
It could be because you're doing `nodemon ./node_modules/.bin/ts-node`, which I believe doesn't usually work. Can you try pointing to the `bin` file within the package directly instead of the bash proxy? E.g. `nodemon node_modules/ts-node/dist/bin.js`? Usually that's how you work around this with other packages too.

[2019-10-05 10:33] mmc41 commented on #892
Not sure what is wrong - some packages install correctly (f.x. typescript npm) and some does not (like this one).

[2019-10-06 08:02] mmc41 commented on #892
just tested using yarn instead of npm and here it works. So it must be a npm problem. Closing this.

[2019-10-06 08:02] #892 closed

[2019-10-07 12:20] b1zzu commented on #73
Also if you don't want to install ts-node globally:
[code]

[2019-10-07 12:23] b1zzu commented on #639
This is not working for me:
[code]
I've fixed it in this way:
[code]

[2019-10-07 23:04] ORESoftware commented on #73
without the ts extension, I assume you could do something like

[code]

[2019-10-08 18:34] Bubomir commented on #754
I can confirm a big performance difference between 8.4.1 and 8.4.0

my start script

    cross-env NODE_ENV=development nodemon --inspect --watch src -r dotenv/config -r ts-node/register src/index.t

and tsconfig

    {
    "compilerOptions": {
		"esModuleInterop": true,
        "target": "es6",
        "module": "commonjs",
    	"outDir": "./dist",
		"sourceMap": true,
        "noImplicitAny": tr

[2019-10-09 15:51] christianrondeau commented on #754
Just a FYI, 8.4.0 takes approx. 5 seconds to launch our app, and 8.4.1 takes between 5 to 15 minutes to launch. We cannot share the project code to replicate, but hopefully this gives an idea of the slowdown it causes.

[2019-10-09 15:59] blakeembrey commented on #754
Are either of you able to test the incremental compiler API branch and let me know if it’s just as slow?

[2019-10-09 17:01] christianrondeau commented on #754
@blakeembrey looks good when using this in our `package.json`:
[code]

[2019-10-09 17:35] blakeembrey commented on #754
That’s great feedback, thanks! If I can gather another piece of positive feedback in terms of performance on a large project, I’ll look into releasing this as v9 along with other breaking changes.

[2019-10-10 09:32] connorjayfitzgerald commented on #754
@blakeembrey I've tried the incremental program branch and it launches our app in 10 or 11 seconds, whereas 8.4.0 takes around 16

[2019-10-10 12:07] Amrkamel1 opened #893 "import D from '../data-provider/conf-data.js'; ^ SyntaxError: Unexpected identifier"
**Im encountered weird behavior from protractor when im executing my script,

when im executing the script using the command : protractor conf.js console throws the following error**

[code]

**and when im executing same script using this command : npm run protractor:browser
its working fine ?!!

is there possible reason for this issue ?**

[code]
[code]

[code]

[code]

[2019-10-10 16:15] blakeembrey commented on #893
Actually, based on this code, nothing here is actually using `ts-node`. Can you verify that?

[2019-10-10 17:40] Amrkamel1 commented on #893
Yes you are right its node js, code in js

[2019-10-10 21:01] blakeembrey commented on #893
This issue is not related to TS node.

[2019-10-10 21:01] #893 closed

[2019-10-12 18:39] bcoe commented on #807
👋 I've been working on adding support for source-maps into Node.js itself, `--enable-source-maps` in `Node@12.12.x` works similarly to `--source-map-support`.

One thought on my mind, is whether we could expose a public API that lets implementors look at what source-maps have been cached in Node.js itself.

In general, would love help kicking the tires of this new feature.

[2019-10-14 00:34] #891 closed

[2019-10-14 04:23] blakeembrey commented on #875
Closing in favor of https://github.com/TypeStrong/ts-node/issues/874.

[2019-10-14 04:23] #875 closed

[2019-10-14 04:25] blakeembrey commented on #874
@lu4 You can use the `ignore` or `skipIgnore` configurations mentioned by @Lange. By default this module will not compile any files within `node_modules` because that would likely break a lot of applications. For example, if you are using `allowJs` this would have every single file attempt to be compiled by TypeScript that's required - and internally, TypeScript won't compile files it believes are

[2019-10-14 04:25] #874 closed

[2019-10-14 04:33] blakeembrey commented on #874
One possibility is that this configuration could be made cleaner by having a configuration of `include` instead of ignore. In these cases you could specifically do something like `include: ['./**', '!node_modules/**']`, while the default is `!node_modules/**`. Would this make it easier at all?

[2019-10-14 04:56] blakeembrey commented on #866
It does and did, I think the configuration of `typeRoots` is incorrect. TypeScript only found the first one. If you had named it `express-logging-extension` or something this would be a non-issue.

Yes, this is how it works today. Except all these details are within TypeScript and not `ts-node`.

Wouldn't this imply that running two compilers would actually run at 2x 40s?

[2019-10-14 04:56] #866 closed

[2019-10-14 04:58] blakeembrey commented on #866
The reason I offered `--files` as a solution originally is specifically because you commented on the `tsc` vs `ts-node` disparity FWIW. The `typeRoots` gotcha is something I wouldn't have noticed if I hadn't debugged this once before for someone else :frowning:

[2019-10-14 05:01] blakeembrey commented on #871
This is outside of the scope of `ts-node`. Importing an image isn't supported by node.js natively in any case, so I suspect all this behavior is somewhere within Webpack or other bundler configuration, or another loader you're using. Happy to help if you need it, but it's unclear what I can change with this issue description.

[2019-10-14 05:01] #871 closed

[2019-10-14 05:05] blakeembrey commented on #872
Makes sense. You'll need to submit a feature request to https://github.com/zeit/arg/issues, for now this will unfortunately be incompatible. This was released as a breaking change in https://github.com/TypeStrong/ts-node/releases/tag/v8.0.0, I'd definitely recommend pinning to a major version in the future - it's expected that some breaking changes can happen over the course of a year.

[2019-10-14 05:05] #872 closed

[2019-10-14 05:07] blakeembrey commented on #873
You would only need one of either `--type-check` or `--transpile-only` (`--type-check` is there for backward compatibly and not documented anywhere as far as I know).

Unfortunately this is just how the TypeScript compiler works. For certain use-cases (such as these enums), TypeScript requires type information to compile correctly. If it needs type information, `--transpile-only` will be incapable

[2019-10-14 05:07] #873 closed

[2019-10-14 05:15] blakeembrey commented on #868
I don't have any desire to implement it out of the box. I believe it'll open a larger class of bugs related to `ts-node`. For example, if `.ts` resolves before `.js`, every `node_modules` will be loading `.ts` files first and breaking on 1. TypeScript not compiling it and 2. even if `ts-node` did compile it, it will break because of differences in `tsconfig.json` files.

To get around this, `ts-no

[2019-10-14 05:15] #868 closed

[2019-10-14 05:16] blakeembrey commented on #868
Also, it's definitely documented in the README 😄

[2019-10-14 05:20] blakeembrey commented on #857
@marcotuna It looks like you've imported a TypeScript file from within a promise. Those are node.js warnings because you aren't handling your promise rejections. These errors are outside of `ts-node`'s control because this module does not **exit** for you, it throws errors that your application or node.js handles as expected. Because you don't handle it, whatever script you wrote has continued run

[2019-10-14 05:20] #857 closed

[2019-10-14 05:56] blakeembrey commented on #855
I haven't been able to replicate this in 8.x:

[code]

However, I noticed on the latest builds (going to be v9) this will be broken and you'll be expected to use `references` going forward.

[2019-10-14 07:32] theKashey commented on #868
That was not only `.ts`, but also about `.css` and other extensions. As far as I remember our problem was `Component.tsx` and `Component.less` - while `webpack` was resolving everything correctly - `ts-node` was picking `Component.less` as long as `.less` comes before `.ts` in the resolution order.

So - I am not asking to hoist `ts` over `js` - I am asking to put them next to each other - `['js',

[2019-10-14 15:07] pirix-gh commented on #46
nevermind, it seems to be related to https://github.com/microsoft/vscode-chrome-debug-core/issues/533

[2019-10-14 16:01] blakeembrey commented on #868
That’s related to the order you add these extensions. If you put things in the order you want when you register, this won’t be a problem. It feels like too much magic for this module to maintain when the solutions are fairly straightforward.

[2019-10-14 21:32] theKashey commented on #868
Then `ts-node` is going to have undefined behavior, as long as:
- in one case, `.css`, or any other legit extension would have priority over `ts`, so once you migrate your codebase from `js` to `ts` - it stops working.
- in another case, `ts` would be more important as `js`, and _For example, if .ts resolves before .js, every node_modules will be loading .ts files first and breaking on 1._

Howeve

[2019-10-15 01:40] blakeembrey commented on #868
Isn't your points above the reason `ts-node` shouldn't be doing this itself? I'm not sure how it's undefined behavior though, it's well-defined - extensions are ordered in the order they're registered. I agree this should be done externally to `ts-node` as a general solution, but also believe in your example of `.css` and `.ts`, you could just re-order where you register extension instead of messi

[2019-10-15 18:25] iriekun commented on #715
@antonovicha this is awesome! you have really saved my day!!! thanks a lot

[2019-10-16 13:09] kerdany opened #897 "ts-node with typescript project references"
I'm using `lerna` with typescript project references for a node application containing two packages. Package `lib` and package `api` (which depends on `lib`).

I've configured typescript project references so that package `lib` is built automatically whenever we run `tsc --build` inside package `api` (i.e. to build for production).

Here's how the `tsconfig.json` files are configured for each of t

[2019-10-16 18:07] blakeembrey commented on #897
1. I don't think so, though I can replicate project references working for other cases. It's using the language services API today which has typically had no problems, but I'd have to ask if you can build a simple repro for me to work with on this to confirm.
2. I don't think so, more likely that references don't work as expected.
3. Correct, I can probably rename to `--emit` to clarify the use-ca

[2019-10-16 18:53] kerdany commented on #897
Thanks @blakeembrey for the diligent and prompt response.

1. Sure, I will prepare a sample repo to reproduce the issue first thing in the morning (UTC+2 here) and get back to you.

Thanks!

[2019-10-17 17:07] krzysztof-raciniewski commented on #566
I have the sam problem. I don't know how to pass `--project` parameter with `node --max_old_space_size=8192 -r ts-node/register ./src/index.ts`. Can anyone help?

[2019-10-21 18:32] LiranLast commented on #807
@bcoe this sounds like an amazing feature.

We are currently relying on the inspector API together with a few third-party libraries to load the source maps. Built-in support would help us a lot, and we would love to take part in this feature!

[2019-10-21 18:49] mscottx88 commented on #831
Confirmed.  We upgraded to jest 24 and we ignored the ts-jest incompatibility issues.  Then we upgraded ts-jest to 24 and got this error.  I noticed the problem occurred in Linux (not Windows).  Adding the `preserveSymlinks` setting resolving the issue.

[2019-10-21 21:30] bcoe commented on #807
@LiranLast awesome, would love the help from some folks who have specific use-cases (beyond my own :smile: ). I've created a tracking issue here:

https://github.com/nodejs/node/issues/29865

And am happy to help folks onboard to the Node.js project who'd like to pitch in.

[2019-10-25 19:17] tangentlin commented on #817
Hi, I wonder if there is any updates with this issue?  Supporting incremental build from TypeScript 3.6 API would be hugely beneficial in performance.  Thanks!

[2019-10-26 01:54] blakeembrey commented on #817
@tangentlin It's supported on `master` but is not available for release. The TypeScript build cache hasn't had any measurable effect that I can see so I'm probably using the API incorrectly in some way. However, the `master` build can not be released because it does not support project references properly (as in backward compatible with how it worked before, it appears to work differently to `tsc

[2019-10-26 01:55] blakeembrey commented on #817
Anyone reading this or other issues is welcome to pitch in and open a PR, right now I just don't have the personal bandwidth to figure it all out.

[2019-10-26 02:56] hasezoey opened #898 "Source Maps with mocha and ts-node and nyc"
<sub>i didnt know a better title</sub>
## The Issue
i noticed strange source mappings when there is an error outside of the test file of mocha (like the actual source files that the tests are for) where
[code]
happen, but actually should be
[code]

## Using & Versions
- source-map-support: 0.5.13
- typescript: 3.6.4
- ts-node: 8.4.1
- mocha: 6.2.2
- nyc: 15.0.0

## Already Tested
- using environme

[2019-10-30 07:16] hpyou opened #899 "`ts-node xxx.ts` run in bat file will auto close cmd window"

[2019-10-30 21:09] RazgrizHsu opened #900 "How to prevent moment automatically converted to number in the Template Literals"
on node:
[code]

on ts-node:
[code]

i need it keep string output (ts-node)

but even override moment.prototype.toString still same result...

[2019-10-30 22:46] tstelzer commented on #754
I'm avoiding the issue by splitting compilation and the repl, as I still want type information:

package.json (cropped)
[code]

then I run `npm run build:dev` in one terminal split, `npm start` in the other.

That's my workaround until this is fixed :man_shrugging:

[2019-10-30 22:53] eliseumds commented on #754
@tstelzer I do something like that too.

[2019-10-31 02:28] blakeembrey commented on #900
If you use `"target": "es2015"` then you will have native template literals, which appear to have a different behavior than string concatenation which is what TypeScript would be outputting.

[2019-10-31 02:28] #900 closed

[2019-10-31 02:30] blakeembrey commented on #899
What's the expected behavior? I don't really know what a bat file is, nor why it should or shouldn't close. If it's just a script, why wouldn't it close? Does `node` have the same behavior?

[2019-10-31 02:45] blakeembrey commented on #897
@kerdany Thanks! Interestingly I get the same error in development with VS Code and `tsc`, until I enable `--build`. This makes sense, since I assume that TypeScript is actually building `references` first when you specify `--build`. It does make it trickier for `ts-node` though, I guess it should also build those dependencies somehow. We might have to do something in memory to make this possible.

[2019-10-31 02:50] blakeembrey commented on #897
Another interesting part of this is that it's related to `node` and TypeScript's understanding of module resolution. You can actually make this work with the current release of `ts-node` by importing directly the other `.ts` file:

[code]

[2019-10-31 11:05] hpyou commented on #899
`
echo start cmd ...
ts-node xxx.ts
echo end cmd...
pause
`

when run this bat file,it will auto close by finished to execute `ts-node xxx.ts`, and will not print `end cmd ....`, but if run `node xxx.js`, it will run all cmd, and not close the window

[2019-11-01 05:08] sapolang commented on #799
I also have something like this.

[2019-11-03 22:52] trusktr commented on #783
Yeah, but we're not talking about invoking the require hook for JS files, we're talking about Node invoking the hook for `.ts` files (that contain code like `import foo from './foo.js'`).

So, Node.js _will_ invoke ts-node's hook for `.ts` files, and when it does, ts-node can re-write the `.js` specifiers any way it wishes, to make things work.

[2019-11-04 02:34] blakeembrey commented on #783
@trusktr Feel free to submit a PR if the limitations don’t seem like an issue. I am always happy to accept a PR improving functionality.

[2019-11-04 05:23] trusktr commented on #783
Would doing something similar to the following at the top of the `getOutput` functions work?

[code]

It removes the `.js` from the specifiers (it could be less naive). Seems like for most cases that would work, and would be behind an option.

[2019-11-04 09:53] blakeembrey commented on #783
@trusktr Wouldn't it be better to implement this via a TypeScript transform? Is that code running on TypeScript or JavaScript output?

[2019-11-05 09:57] basickarl commented on #707
I had to do a reinstall of my local node modules then it worked.

[2019-11-07 13:43] lukeshiru opened #903 "TypeScript 3.7 Support"
I have TypeScript 3.7 installed on a project, and I run tests with ava and ts-node. The issue I found is that compilation works as expected, but tests fail because ts-node doesn't recognize the syntax for nullish coalescence and optional chaining.

So if I have:
[code]

I get errors all over the place. Isn't `ts-node` using the local typescript package to do compilation?

[2019-11-07 15:32] newlukai opened #904 "Augmentation of type "Global" sometimes unavailable"
I'm working on a project based on a legacy template where `global` is augmented:
[code]

Of course, I want to test my code, so I've written unit tests which are run using "mocha". Since one might have the idea to run a single unit test, I added above `global` extension to every unit test file:
[code]

This works quite well. But sometimes I get an error
`
TSError: ⨯ Unable to compile TypeScript:
so

[2019-11-07 16:56] keesvanlierop commented on #903
It does, but it is set to 3.6.4 still. Needs to be updated and then good to go I think?

[2019-11-07 20:02] blakeembrey commented on #903
TypeScript 3.7 is already supported, you would need to update your local installation.

[2019-11-07 20:02] #903 closed

[2019-11-07 20:28] keesvanlierop commented on #903
It's not supported though. As OP mentions, you'll see errors on optional chaining and nullish coalescing expressinons when running ts-node.

[2019-11-07 20:32] lukeshiru commented on #903
One of the errors I'm getting:
[code]
Tried a clean install with `npm`, still getting errors.

[2019-11-07 21:10] keesvanlierop commented on #903
I noticed the fix is to change `"target": "esnext"` to `"target": "es2018"`. No change required here.

[2019-11-07 21:25] blakeembrey commented on #903
By that error it is clearly workin, as you noted it’s failing because you’re compiling an output that node.js doesn’t understand yet.

[2019-11-07 22:03] lukeshiru commented on #903
Ohhhh yup. It seems to be a target issue. Thanks @keesvanlierop 😄

[2019-11-08 02:33] blakeembrey commented on #771
Closed with https://github.com/TypeStrong/ts-node/commit/b681e2457c7acc28fcbba638a8dac6ecf27846e3.

[2019-11-08 02:33] #771 closed

[2019-11-08 02:53] blakeembrey commented on #904
@newlukai You _could_ create a type and use it via `typeRoots` as mentioned in the README, but you can also just put this in any `.ts` file. The only time you should be getting an error is when the file with that augmentation is not loaded at all.

[2019-11-08 02:54] blakeembrey commented on #899
Do you want to create a reproduction I can test? I don't really use Windows normally so don't know where to start with debugging this.

[2019-11-08 03:19] hpyou commented on #899
demo.bat
[code]

demo.ts
[code]

Normally， this command window will not be closed because of the `pause` command in demo.bat,
but if halfway run `ts-node demo.ts`, it will be closed by  finished to execute the typescript file

[2019-11-08 04:35] blakeembrey commented on #259
Closed with https://github.com/TypeStrong/ts-node/commit/35d8a0c9357afe87955353c0d761554d6e5b9864. Supported on node.js 11+

[2019-11-08 04:35] #259 closed

[2019-11-08 04:55] blakeembrey commented on #887
Wasn't able to replicate this on TypeScript 3.6, it's possible this was a bug in an earlier version.

[2019-11-08 04:55] #887 closed

[2019-11-08 04:58] #860 closed

[2019-11-08 04:59] blakeembrey commented on #844
This is actually because you used `const fs = require('fs')` which is the expected type (`require` is typed as returning `any`). If you want this to work with TypeScript, you must use TypeScript imports like usual, e.g. `import * as fs from 'fs'`.

[2019-11-08 04:59] #844 closed

[2019-11-08 06:52] newlukai commented on #904
I found a [further example on how to augment `global`](https://stackoverflow.com/questions/56223520/augmenting-global-in-typescript).
So I added this file:
[code]

and changed the "tsconfig.json" accordingly. Works. Nice!

[2019-11-08 06:52] #904 closed

[2019-11-08 07:14] blakeembrey commented on #899
How do I run the file?

[2019-11-08 07:40] hpyou commented on #899
in windows system you just double click the demo.bat file

[2019-11-08 12:04] thw0rted commented on #844
Is it possible to have `require` typed based on its module specifier argument?  VSCode (or, I guess the TS language service it relies on) is somehow able to type Kevin's example correctly -- `fs` is `typeof module "fs"`, not `any`.

[2019-11-08 13:29] zerubeus commented on #782
When using with ts-node you have to add `--files` flag

[code]

[2019-11-08 19:02] mgummelt opened #905 "Add a flag to increase verbosity"
This is the current output format when an error is encountered:

[code]

As is, I can't debug this.  It would help a lot if the stack trace were included.

[2019-11-08 20:07] blakeembrey commented on #905
Pretty sure this is an NPX bug. If you can create and share a repro without NPX feel free to comment.

[2019-11-08 20:07] #905 closed

[2019-11-08 20:13] blakeembrey commented on #844
Are you putting that code in JS or TS? If you can reproduce it with the typescript compiler, I’ll consider this a bug, but my guess is they’ve built something to handle it in JS files.

[2019-11-08 21:38] blakeembrey commented on #799
If anyone wants to share a reproduction I can take a look at it.

[2019-11-08 21:39] #845 closed

[2019-11-08 22:03] GuillaumeSpera opened #906 "Support for TS 3.7 (Optional Chaining, Nullish Coalescing)"
Hi there,

I just tried to upgrade my app to TypeScript 3.7 but I just got stuck on ts-node (8.4.1) not recognising the syntax of both Optional Chaining (obj?.prop) and Nullish Coalescing (const value = val1 ?? val2).

Since I didn't see any issue related to this, do you know if there is someone already working on it ?
I could try to help with this, even though I don't have any experience with ts-

[2019-11-08 22:12] blakeembrey commented on #906
What’s the error? It’s most likely your configuration, this package supports any typescript version you’re using.

[2019-11-08 22:18] GuillaumeSpera commented on #906
`const data = result?.rows;

SyntaxError: Unexpected token .
    at Module._compile (internal/modules/cjs/loader.js:703:23)
    at Module.m._compile (./node_modules/ts-node/src/index.ts:493:23)
    at Module._extensions..js (internal/modules/cjs/loader.js:770:10)
    at Object.require.extensions.<computed> [as .ts] (./node_modules/ts-node/src/index.ts:496:12)
    at Module.load (internal/modules/c

[2019-11-08 22:42] blakeembrey commented on #845
Check out https://github.com/TypeStrong/ts-node/commit/be8e2e13a8f0b62439bb34c528509e5643fe42af and let me know if it works for you.

[2019-11-08 22:42] blakeembrey commented on #906
This is a runtime error, not a TypeScript error. Duplicate of https://github.com/TypeStrong/ts-node/issues/903.

[2019-11-08 22:42] #906 closed

[2019-11-09 05:13] mdouglass opened #907 "Repeating a simple regexp twice in a row at the REPL causes a parse error"
node v13.1.0
ts-node v8.4.1
typescript v3.7.2

Stumbled on this with a more complex regex, but simplified it down to this. I would have expected this to work, but maybe I'm missing something.
[code]

[2019-11-10 06:56] nosuchip commented on #745
For those who came here from Google and attempting to extend Express request with kinda `class`, not elementary types (like in great example by @3mard  [here](https://github.com/TypeStrong/ts-node/issues/745#issuecomment-465174217)) here is like to Stackoverflow post with solution: https://stackoverflow.com/a/51114250/291372

In short:
- it will not work (due import module treated as "local"):
[co

[2019-11-11 02:38] blakeembrey commented on #907
Fixed with https://github.com/TypeStrong/ts-node/commit/fe7f89ff2a16d627f4190ae7773fe4acbe85062a.

[2019-11-11 02:38] #907 closed

[2019-11-11 02:40] blakeembrey commented on #846
Closed with https://github.com/TypeStrong/ts-node/commit/b681e2457c7acc28fcbba638a8dac6ecf27846e3.

[2019-11-11 02:40] #846 closed

[2019-11-11 02:43] blakeembrey commented on #802
I'm not sure what this means, why is this necessary?

You would probably have to write something built into `ts-node` that re-exports `vm` with wrappers around compiling down TypeScript. I'm happy to accept a PR for this work.

[2019-11-11 02:43] #800 closed

[2019-11-11 02:44] blakeembrey commented on #786
Closing with https://github.com/TypeStrong/ts-node/pull/837.

[2019-11-11 02:44] #786 closed

[2019-11-11 02:45] sgarner commented on #846
Nice solution 👌

Thank you @blakeembrey @Nox-404

[2019-11-11 02:45] blakeembrey commented on #785
Closed with https://github.com/TypeStrong/ts-node/pull/894.

[2019-11-11 02:45] #785 closed

[2019-11-11 02:50] #654 closed

[2019-11-11 03:09] mdouglass commented on #907
Thanks!

[2019-11-11 23:12] cspotcode opened #908 "Disk caching in transpile-only via new project "typescript-cached-transpile""
I'm sharing this here in case anyone else is having speed issues even with transpile-only.

I wrote a new npm module, [typescript-cached-transpile](https://www.npmjs.com/package/typescript-cached-transpile), which monkey-patches typescript's `transpileModule` function to use a disk cache.

Here's the relevant code: https://github.com/cspotcode/personal-monorepo/blob/master/packages/typescript-cach

[2019-11-11 23:17] blakeembrey commented on #908
@cspotcode For `--transpile-only` mode, this makes sense 👍 I'd be happy to add this back as a feature to `ts-node`, it was only unreliable for type checking.

[2019-11-11 23:25] cspotcode commented on #908
@blakeembrey Oh, excellent!  Are there any other features needed to get this merged?

* Where should cache live by default?  In cwd somewhere?  As a peer to wherever `.ts-node` is located?
* Should it cache diagnostics?  I'm actually not sure how common it is for the compiler to return diagnostics in transpile-only mode.
* Is it ok that caching will never work with transformers?  I can't think of

[2019-11-12 03:28] blakeembrey commented on #908
@cspotcode So the code was removed in https://github.com/TypeStrong/ts-node/releases/tag/v8.0.0, didn't have any issues with race conditions at the time either. Specially, here's the commit that removed it in case you want to work backward: https://github.com/TypeStrong/ts-node/commit/b61c74544270c7567dfc159abb9dc062711c26a9.

It used to live in `tmp`, probably the best place for it again.

No, it

[2019-11-12 17:17] vschoener commented on #745
@saoudrizwan Thanks it works :)

[2019-11-13 02:58] blakeembrey commented on #717
This was fixed with https://github.com/TypeStrong/ts-node/releases/tag/v8.5.0 by exposing both `create` and global `symbol` for usage with `compile`.

[2019-11-13 02:58] #717 closed

[2019-11-13 02:59] blakeembrey commented on #850
There's also the existing `-D` option for ignoring diagnostics: https://github.com/TypeStrong/ts-node#cli-and-programmatic-options.

[2019-11-13 03:18] blakeembrey commented on #326
There's a related issue for this feature BTW: https://github.com/TypeStrong/ts-node/issues/741 (not compiling output, but doing the compilation check like `tsc`). Most likely `ts-node` will never 100% replicate `tsc`, but at least type checking it should be easy enough.

[2019-11-13 03:25] #820 closed

[2019-11-13 05:12] andrew-kapustin opened #909 "ts-node not working with TypeScript 3.7 features"
An errors occurs when using optional chaining or nullish coalescing features
My code:
[code]

My mocha test:
[code]

Stacktrace:
[code]

[2019-11-13 06:46] blakeembrey commented on #909
Please search issues before creating another. Duplicate of https://github.com/TypeStrong/ts-node/issues/906 and also not a TypeScript Node issue.

[2019-11-13 06:46] #909 closed

[2019-11-14 04:30] cspotcode commented on #703
I have a more complex use-case today than I did when submitting this issue.  I wound up creating `env2rc` which reads shebang conventions from a `.env2rc` file at the root of a project.

https://www.npmjs.com/package/env2-shebang#env2rc-convention-based-shebangs

For our project, I want to enable developers to run `.ts` files as easily as `.js`, *and* to use a project-local configuration to do it.

[2019-11-14 05:23] blakeembrey commented on #703
Using `ts-script` combined with https://github.com/TypeStrong/ts-node/issues/4 sounds like it would work well for you. I think loading from `tsconfig.json` should actually be really easy nowadays, let's do it!

[2019-11-14 10:47] oktapodia opened #910 "Not possible anymore to preload a file"
hello,

since the new version of this library (8.5.0), it's not possible anymore to preload a ts file like I used to do to load the configuration.

e.g.: `ts-node -r ./config src/index.ts` is preloading the config and initializing the env variables before loading the app (avoiding `process.env.WHATEVER is undefined`)

looks like the [module preloading](https://github.com/TypeStrong/ts-node/commit/

[2019-11-14 13:57] sajadghawami opened #911 "Perfomance Issues with current tsconfig"
Hey there,

i seem to have a bad performance issues with my current `.tsconfig.json`.
When i run the application, it takes a lot of time to start up and later very long to restart on changes.

Additionally, the battery of my laptop gets drained incredibly fast. Even while i am connected to power, i can see the battery down - which is really odd.

The  important packages from`package.json`:

[code]

[2019-11-14 14:27] jimmywongroo commented on #8
Has there been any movement on this issue since it was opened 4 years ago?

[2019-11-14 22:22] blakeembrey commented on #8
You can submit a PR.

[2019-11-15 03:01] blakeembrey commented on #910
Reverted in https://github.com/TypeStrong/ts-node/releases/tag/v8.5.2.

[2019-11-15 03:01] #910 closed

[2019-11-15 03:03] blakeembrey commented on #911
Unfortunately it won't be easy to help you debug this so I'm going to close the issue. From reading your `package.json`, you're creating two instances of `node` and `ts-node` running the same code with different modes - that probably makes things slower than necessary. Aside from that, are you sure you're using 8.x - you would be getting an error using the `--noEmit` flag:

[code]

[2019-11-15 03:03] #911 closed

[2019-11-15 08:37] samuraime commented on #782
folder structure
[code]
tsconfig.json
[code]
This works for me. and `index.d.ts`'s name must be `index`.

[2019-11-15 16:10] iwasaki-kenta commented on #903
Is there any way to have nullish coalescing work on target `esnext`? The use case is that bigint's are only supported should `esnext` be targeted, rather than `es2018`.

[2019-11-15 16:37] lukeshiru commented on #903
@iwasaki-kenta my solution was to set target to es2018 and then:
[code]
So I have 2018 stuff, but I still support BigInt. It will only work expressed as `BigInt("1")` not like `1n` 😞

[2019-11-16 19:22] mlaopane commented on #782
In my case, I was trying to use an `express.d.ts` file but following 3dmard's example (https://github.com/3mard/ts-node-example) solved the issue.

1. Create a file located at `typings/express/index.d.ts` :

[code]

2. Add the `typeRoots` entry in the `tsconfig.json`, with the right order :

[code]

[2019-11-16 21:04] xeastcrast opened #912 "require dynamic file very slowly on docker-compose"
My issue code
[code]

This code work correctly on my mac but very slow when require dynamic route file in my routes folder on docker container

My workaround is import each route file manually. And it work fine on docker.

I use node-alpine to run this project

my script
[code]

[2019-11-20 02:44] blakeembrey commented on #912
Can you try with `master`?

[2019-11-20 13:10] aanno2 commented on #261
Ok, this makes it possibe to pass node options. However, with this solution I wonder how to pass ts-node options (like `--project`, `-P`).

[2019-11-21 17:48] ks07 opened #913 "Path ignore regex are being matched against parent directories"
Ignored path regexes are matched against absolute paths, rathern than being taken relative to the current working directory, meaning that file ignoring behaviour can change if the parent directory is moved or renamed.

The simplest way to reproduce this problem is to trigger the default ignore pattern for node_modules (which is what originally triggered this issue for me). Steps provided below.

C

[2019-11-22 08:50] captainblue2013 commented on #755
same case

[2019-11-22 11:09] DaniGTA opened #914 "Problems with abstract classes."
`error TS2515: Non-abstract class 'TestInfoProvider' does not implement inherited abstract member 'hasUniqueIdForSeasons' from class 'InfoProvider'.`

Code:
[code]

This shouldnt be a error.

[2019-11-22 17:47] blakeembrey commented on #914
Can you create a reproduction? I can’t really help with that code snippet.

[2019-11-22 19:42] DaniGTA commented on #914
I can give you access to the repo and maybe you can find what the problem there is. But i cant see any errors there just ts-node seems to see a error.

[2019-11-23 03:34] blakeembrey commented on #914
Sure, feel free to add me and any directions I may need to reproduce it. Have you tried it with the typescript compiler directly yet?

[2019-11-23 09:49] DaniGTA commented on #914
The typescript compiler works fine.
The repo: https://github.com/DaniGTA/listManager/invitations
steps to get the error:
`npm i`
`npm test`

if test didnt work you maybe need mocha;
`npm i -g mocha`

[2019-11-23 15:24] matomesc commented on #566
@krzysztof-raciniewski use environment variables to configure `ts-node` - you want to set a value for `TS_NODE_PROJECT` (https://github.com/TypeStrong/ts-node#cli-and-programmatic-options)

[2019-11-23 15:30] goktugyil commented on #795
@qianqians were you able to make this work? Blake's comment seems to be missing some crucial information

[2019-11-23 15:36] goktugyil commented on #795
In terminal: `node -r ts-node/register --prof`

[2019-11-25 02:17] blakeembrey commented on #914
@DaniGTA I took a look and it appears to be related to registering `ts-node` more than once to compile the same files. I couldn't reproduce the error you reported, but the type errors I did have was fixed once I removed all the `--require ts-node/register` hooks you had added and left only the `tshook.js` in place.

[2019-11-25 02:17] #914 closed

[2019-11-25 02:24] blakeembrey commented on #913
The behavior is/was intentional, since a `require()` could require a parent `node_modules/<name>` automatically. It could be reverted in the next major version, how did this come up for you? Are you actually trying to run TypeScript from `node_modules`?

[2019-11-25 02:25] blakeembrey commented on #913
However, a relative path might actually cover my concerns above anyway, since it'd generate `../../node_modules/blah` so feel free to ignore that comment 😄 Sounds like a reasonable change, would love to hear a little more about how it come up since the change is 3 years old.

[2019-11-25 08:04] DaniGTA commented on #914
k i removed all the  `--require ts-node/register` but the error is still there. I look if it had something todo with my machine and try it on another windows machine but there i have the same problem.
![image](https://user-images.githubusercontent.com/20490672/69522733-6988b500-0f62-11ea-9cdc-864e2d0caee7.png)

[2019-11-25 20:31] abalmos commented on #876
I can confirm the same issue that @grogi is seeing. A quick fix is to have the package directly depend on `@types/express-serve-static-core`.

[2019-11-26 05:14] blakeembrey commented on #876
@abalmos This is resolved on `master` (changing it was a breaking change pending 9.x). Would you like to try it and let me know if it works for you?

[2019-11-26 16:16] abalmos commented on #876
@blakeembrey I tried master and now get a new error:

```TypeError: Unable to compile file from external library: ../../packages/oada-config/src/index.ts```

However, that path is in my pnpm workspace and ts-node 8.x handles it correctly.

As a side note, `pnpm add TypeScript/ts-node` fails with errors about missing mocha types.

[2019-11-26 16:40] blakeembrey commented on #876
That’s the reason 9.x hasn’t been released, I haven’t seen any way in the typescript compiler to support project references automatically although there’s some work on it in TS loader. 8.x works kind of accidentally on that front, because it’s using the language services directly.

[2019-11-27 05:20] blakeembrey commented on #914
@DaniGTA I'm still running into having two too many registrations in `package.json` _and_ `.mocharc.js`. Once I fix those it works. How are you running this without those changes? It's possible to actually replicate this issue I'll need to look on Windows. However, from your stack trace, it looks like you might be compiling a file twice somehow still?

[2019-11-27 05:22] blakeembrey commented on #914
The other thing that flags this sort of issue is when your line numbers don't match up in any way. It implies that the code has been compiled twice (e.g. (TS -> JS) -> TS).

[2019-11-27 10:35] DaniGTA commented on #914
k i removed the registrations from `package.json` and `.mocharc.js` and it works now.
I didn't expect mocha to do the same registrations more than once.

Thanks for your help 👍

[2019-11-27 14:45] christianrondeau commented on #754
@blakeembrey I noticed the incremental branch has been deleted, but I don't see if it's part of a release? You said "v9", is this still your plan? I'm a little bit OC, so holding a package back is bugging my brain :D

[2019-11-27 17:27] blakeembrey commented on #754
@christianrondeau It's currently on `master` but cannot support a use-case that used to be supported. I only discovered this after trying to test another bug in the backlog, so I haven't released it yet. Most likely I'll be looking to put it behind a flag as part of v8 for a bit.

[2019-11-27 18:54] trusktr commented on #783
That could run on the code before it gets to ts-node.

[2019-11-27 19:01] trusktr commented on #783
I think probably the simplest thing is for an end user to configure ts-node to use https://github.com/Zoltu/typescript-transformer-append-js-extension, and to document this in the README or somewhere.

How do I use a transform with ts-node? The docs,

aren't very clear.

[2019-11-27 20:39] trusktr commented on #783
Ok, here's how to add a transform to `ts-node` as an end user. This one is opposite of @MicahZoltu's, it removes the `.js` extensions:

[code]

[2019-11-27 21:04] MicahZoltu commented on #783
Interesting approach @trusktr.  I'm assuming you add `.js` to all of your import statements, and then the idea is to use this transformer so that you can run those in ts-node?

[2019-11-28 04:56] blakeembrey commented on #913
Let me know if https://github.com/TypeStrong/ts-node/releases/tag/v8.5.3 fixes it for you.

[2019-11-28 04:56] #913 closed

[2019-11-28 04:57] blakeembrey commented on #912
Chalking this up to the existing known slowness. If you use `--files` it probably won't be as slow.

[2019-11-28 04:57] #912 closed

[2019-11-28 08:04] Dids opened #918 "v8.5.3 hangs indefinitely"
The latest version (v8.5.3) hangs indefinitely when running directly, or when running through `--register ts-node/register`.

Node.js version is v10.17.0, and downgrading ts-node to v8.5.2 (or older) works fine.

[2019-11-28 09:45] Arcath commented on #918
I'm getting the same,node v10.15.3, Typescript 3.7.2. Downgrading to 8.5.2 fixed the problem for me

[2019-11-28 10:44] proutek commented on #918
Same here. Went back to 8.5.2

[2019-11-28 13:38] Mann-o commented on #918
As per https://github.com/nuxt/typescript/issues/214

Same, or similar, issue with Nuxt.js builds when using their Typescript module. Builds either fail to complete, take an extremely long time, or error with out-of-memory errors.

Fixing `ts-node` version to `8.5.2` resolves the issue.

[2019-11-28 14:27] Favna opened #919 "[8.5.3] TSLib compiler errors during husky script"
After upgrading to version 8.5.3 our scripts are failing due to TypeScript compiler issues in relation to tslib. Going back to 8.5.2 resolves the issue.

Entire error log: https://hasteb.in/tarozeki.php

Repo for reproduction: https://github.com/RWS-NL/air-node-packages

Reproduction steps:
1. Clone repo
2. Upgrade ts-node to 8.5.3: `yarn add -DW ts-node@8.5.3`
3. Try running the `validateNoOnly`

[2019-11-28 15:11] c100k commented on #918
I tried to dig a little bit in the issue. There might be an issue with the `bin` because even though it shows that we are on `8.5.3` we don't see the new `emit` flag in the help section. Hope it can help in some way.

[code]

[2019-11-28 16:59] blakeembrey commented on #919
Fixed with https://github.com/TypeStrong/ts-node/releases/tag/v8.5.4.

[2019-11-28 16:59] #919 closed

[2019-11-28 17:01] blakeembrey commented on #918
It might be fixed with https://github.com/TypeStrong/ts-node/releases/tag/v8.5.4, but unsure since there's no reproduction in this thread.

[2019-11-28 17:59] proutek commented on #918
I can confirm 8.5.4 works again. Thank You.

[2019-11-29 05:32] #918 closed

[2019-11-29 09:58] Timmmm opened #920 "Cache compilation"
Apparently this used to support caching, but it was removed. Unfortunately caching is pretty much a necessity if you're using this for interactive scripts because compilation is so slow (around 2 seconds for my 100-line script!)

It would be nice to have caching back!

[2019-11-29 14:12] blakeembrey commented on #920
Duplicate of https://github.com/TypeStrong/ts-node/issues/908 and https://github.com/TypeStrong/ts-node/issues/754. Feel free to test `master` (different compilation mode) or submit a PR.

[2019-11-29 14:12] #920 closed

[2019-11-29 20:44] cspotcode commented on #703
I'm working on a PR that loads config flags from tsconfig.json.

In the process, I'm generating a JSON schema from the TS types via typescript-json-schema.  So far the experience is nice:

![image](https://user-images.githubusercontent.com/376504/69889443-fc0cb980-12be-11ea-88c5-5a6a1e997055.png)

The JSON schema generator can extract arbitrary @-tags into the schema, which means it could hypothet

[2019-11-29 20:45] cspotcode commented on #4
I'm working on a PR that loads config flags from tsconfig.json.

In the process, I'm generating a JSON schema from the TS types via typescript-json-schema.  So far the experience is nice:

![image](https://user-images.githubusercontent.com/376504/69889443-fc0cb980-12be-11ea-88c5-5a6a1e997055.png)

The JSON schema generator can extract arbitrary @-tags into the schema, which means it could hypothet

[2019-11-29 21:46] G-Rath commented on #4
@cspotcode just FYI schemastore has a schema for [`tsconfig.json`](https://github.com/SchemaStore/schemastore/blob/master/src/schemas/json/tsconfig.json) 🙂

[2019-11-29 22:02] cspotcode commented on #4
@G-Rath very cool, that sounds great.  Right now the schema is extending https://schemastore.azurewebsites.net/schemas/json/tsconfig.json via a `oneOf` declaration.

I found something suggesting that VSCode used that schema by default.  Is that a Microsoft mirror of schemastore or something?

[2019-11-29 22:04] G-Rath commented on #4
@cspotcode that is schemastore 😄

They host all their schemas, so you don't have to download them; instead you just point to the URL in `$schema`.

https://schemastore.azurewebsites.net/json/

[2019-11-29 22:07] cspotcode commented on #4
Ok, I wasn't sure if it was the same as http://json.schemastore.org/tsconfig.

We should still bundle the schema with ts-node in case there are changes, and users want to use the version of the schema built for a specific version of ts-node.  But it'll be sweet having a default that "just works" for everyone.

[2019-12-01 04:02] xeastcrast commented on #912
What should I do? Can you tell me pls.

[2019-12-01 04:03] xeastcrast commented on #912
I'll try this solution.

[2019-12-01 21:20] cspotcode commented on #4
A few notes about the implementation:

## Config order of precedence

We're adding a third source of config flags: env vars, argv flags, and now tsconfig.  They override each other in this order:
Env vars are overridden by anything from `tsconfig.json`, which is overridden by `--flags`.
We check env vars and flags for a `--project` flag, then we load or skip tsconfig accordingly.  Finally, we merg

[2019-12-01 21:39] cspotcode commented on #4
## Quirk: Different compiler used to read tsconfig than to compile

`readConfig()` requires a loaded compiler and a cwd to search.  Therefore, `readConfig` will use `typescript` by default.  If tsconfig specifies an alternative such as `ttypescript`, then it will be used for compilation but not for config loading.  I think this should be fine since most alternative compilers require typescript as

[2019-12-01 22:33] blakeembrey commented on #4
This isn't currently true, is something changing here? Currently it passes `ts` around.

Possibly. To be fair, the `emit` option is only something on `master` I was toying with to try and improve performance. You should base your branch off `8.x` for now.

Let's not support it today, it does seem confusing. At least we could always add it later.

[2019-12-01 22:34] blakeembrey commented on #4
@cspotcode We might want to rename it to the `ts-node` property, `typescript-node` is what the project was called when I first wrote it and the issue was probably created around that time.

[2019-12-02 00:52] cspotcode commented on #4
@blakeembrey

Awesome, I like that better.  I'll go with "ts-node".

Currently ts-node is able to read the `compiler` option and load the compiler *before* loading the tsconfig file.  With this change, the tsconfig file will be setting option values.  So we have a chicken-and-egg problem: if the tsconfig specifies an alternative compiler, we won't know about it until after we've loaded a compiler.

[2019-12-02 02:18] blakeembrey commented on #4
Right, that makes sense. Maybe we can omit that functionality until it’s requested? It doesn’t sound ideal to load twice.

[2019-12-02 02:35] G-Rath commented on #4
Random drive-by:

Is there a particular reason for this? I feel like it might be better for env variables to override `tsconfig.json`, b/c that way I can override single values from the `tsconfig.json` that `ts-node` magically finds w/o having to actually setup a whole new `tsconfig`.

This could be a moot point b/c technically the configuration for `ts-node` is set within `tsconfig` so it's a bit

[2019-12-02 02:36] cspotcode commented on #4
To make sure we're on the same page, I think we agree on the following implementation:

If `--compiler` or `TS_NODE_COMPILER` specify an alternate compiler, use it to load tsconfig and compile.  Otherwise use standard typescript compiler to load tsconfig.  (same as today)
If tsconfig.json specifies an alternate compiler, load and use it for everything *except* loading the config file, which we hav

[2019-12-02 02:43] cspotcode commented on #4
@G-Rath I'm not opposed to that.  My goal with this feature is to avoid using environment variables, so I admittedly don't think about the UX of env vars much.  I'd rather avoid them.  How do people typically use the env vars?  Do they set them in their bash profile?  Do they set them via package.json "scripts"?  The former would be very problematic if it override tsconfig; the latter seems more i

[2019-12-02 02:50] blakeembrey commented on #4
I’m wondering if we can just remove compiler overrides from the tsconfig to start with altogether. Do you have a use-case for it already? If not, let’s delay supporting it in the initial version to keep the implementation simpler.

Also agree that extended config options aren’t an issue for this version. I can’t see anyone making a request for it either.

[2019-12-02 02:52] blakeembrey commented on #4
On the env var debate, I don’t have too much of an opinion. I think if the goal is to get this in without too many changes, the easiest place to apply these options before flags and environment variables.

[2019-12-02 02:58] cspotcode commented on #4
@blakeembrey

`ttypescript` comes to mind.  The tsconfig would look like this:

[code]

...and everything would "just work."  The user can put `#!/usr/bin/env ts-node` on their scripts, *and* use `ts-transformer-keys`.  As I understand it, the ttypescript compiler loads the transformers so ts-node's transformers option isn't involved.

[2019-12-02 03:04] G-Rath commented on #4
When we're using a tool that uses `ts-node` but doesn't give us an option for specifying configuration, (which is fine, b/c `ts-node` has env variables + soon `tsconfig`).

In my mind being able to do `TS_NODE_PROJECT="tsconfig.eslint.json" && eslint ...` or `TS_NODE_PROJECT="tsconfig.webpack.json" && wp --config webpack.dev.ts` gives a nice peace of mind that `ts-node` will do exactly as you've j

[2019-12-02 03:12] cspotcode commented on #4
@G-Rath Thanks, I think your use-case will be easy regardless of which way the env-var debate goes.

`TS_NODE_PROJECT` / `--project` will not be read from `tsconfig.json`, because that'd be weird: we'd load a tsconfig.json, it'd tell us to load a different config, and we'd totally ignore the first one.  I initially proposed allowing this, but @blakeembrey [said we shouldn't](https://github.com/Typ

[2019-12-02 14:50] soundyogi commented on #609
Is this implemented?

[2019-12-02 16:25] iiian commented on #104
General query to this thread: Out of curiosity, _what are the arguments for not using_ `ts-node` _in production_ ? Is there a good, important reason?

[2019-12-02 23:08] FranklinYu commented on #104
@iiian I don't think there is one, as long as you pass the correct flag disabling type checking. The one mentioned above may be outdated and I recommend you to check manual for the exact name.

[2019-12-03 02:36] d1y opened #922 "SyntaxError: Cannot use import statement outside a module"
I use `nextjs`

[code]

use `ts-node server.ts`, BTW

[code]

my `tsconfig.json` file

[code]

Why is this?

[2019-12-03 02:39] d1y commented on #922
@blakeembrey

[2019-12-03 02:46] blakeembrey commented on #922
You’re trying to execute an ES6 module, change it to CommonJS.

[2019-12-03 02:46] #922 closed

[2019-12-03 03:20] blakeembrey commented on #922
Added documentation: https://github.com/TypeStrong/ts-node#syntaxerror.

[2019-12-03 16:54] evenfrost commented on #782
@zerubeus's comment helped me and fixed missing declarations error, thank you. But what exactly are `--files` flag? Readme doesn't actually help, or it's just me who doesn't get it.

Which files does it load? I don't have `files` property in my `tsconfig.json`, so how is it referred to each other? I have `typeRoots` in my `tsconfig.json`, but `ts-node` doesn't seem to tolerate it at all until you

[2019-12-04 13:19] jomi-se commented on #897
Have you done any progress or got any clues for this? I just ran into the same issue as well

[2019-12-04 20:47] SephReed commented on #422
I'm stuck on this too.  My tsconfig has this:

[code]

And I'm able to pull interfaces/types from it.  But nothing else.

[2019-12-04 20:58] SephReed commented on #138
@jonaskello You saved my ass here!

Is there any reason why this shouldn't become a default built in part of ts-node?  It seems like it would make more sense to include this by default, than to not.

[2019-12-06 06:44] balupton commented on #436
for the meantime, how can I get ts-node to transpile to commonjs/node style modules, that should fix these errors right

[code]

[2019-12-06 09:58] taehapark commented on #261
You can set `TS_NODE_PROJECT` env for `--project`.

[2019-12-07 20:03] ledenis commented on #782
@evenfrost It seems that omitting `--files` make the compiler ignore `files` and `include` of `tsconfig.json`

https://github.com/TypeStrong/ts-node/blob/master/src/index.ts#L644

[2019-12-07 20:13] blakeembrey commented on #782
Your `typeRoots` probably aren't configured properly if it doesn't work.

Feel free to submit a PR improving documentation.

[2019-12-07 23:53] impaler commented on #897
I also ran into this trying out packages in yarn workspaces. When wanting to debug with `node -r ts-node/register` as a work around for now I am composing a root tsconfig.json with all relevant `references` and running a `tsc --build --watch` running separately. Would be great to have project references resolve and build with ts-node alone.

[2019-12-08 08:33] evenfrost commented on #782
@blakeembrey I've tried both with and without `typeRoots` at all and got the same result.

To submit a PR, one should have an understanding about what they're doing. I just don't get what this option does, that's why I'm asking here.

[2019-12-08 22:27] blakeembrey commented on #782
@evenfrost You’d need to share a reproduction for help. The documentation in the README works when followed correctly, but I know there’s nuances to how TypeScript works.

[2019-12-08 23:50] DanielSchaffer commented on #754
@blakeembrey I've got a fairly large public all-typescript monorepo (https://github.com/just-dandi/dandi) - is there anything I can do to help? I use `ts-node` to run my tests, and it's been pretty rough lately.

[2019-12-09 00:11] DanielSchaffer commented on #754
I just tried 8.5.0 (by installing using the GH url), and it doesn't seem to be working for me at all now - my mocha ran for 5 mins without showing any results at all before I stopped it.

Also, I've been noticing that when I try to halt the process with `CTRL+C`, it doesn't always actually kill the underlying node process. I'm not sure if that's an issue with mocha, or something crazy going on wit

[2019-12-09 19:28] G-Rath commented on #899
@blakeembrey I can confirm this behaviour:

[code]

vs

[code]

That's using latest TS & ts-node.

`ts-node` is doing something differently on Windows vs regular node - no idea what tho 🤷‍♂

To run, you can call it via cmd by just doing `demo.bat`.

[2019-12-10 17:30] blakeembrey commented on #899
@G-Rath Would you be interested in helping contribute a fix? I don't usually have a windows machine around, and also never had to develop on one so it might take me a while to find the issue.

[2019-12-10 17:31] blakeembrey commented on #899
Also, do you get the same behavior with `node --require ts-node/register`?

[2019-12-11 09:08] davoam commented on #833
In my case changing target from `es5` to `es2018` helped

[2019-12-11 17:36] marcosfede commented on #745
This worked for me:
- create express.d.ts file in typings folder with contents
[code]
make sure you don't have any unimported types in the .d.ts folder, it will fail silently

[2019-12-11 17:38] Hless commented on #104
@iiian The only one I can think of is resource limitation. The compile step does take up some resources. I bumped into this issue today where one of my containers wouldn't launch because it was sufficient memory to compile my app.

[2019-12-12 03:10] blakeembrey commented on #833
Thanks @davoam, I'm going to close this issue since it's most likely related to emitted output. It's a reason I've always used something like https://www.npmjs.com/package/make-error in custom projects.

[2019-12-12 03:10] #833 closed

[2019-12-12 12:25] brunolm commented on #745
@marcosfede your code makes everything be an `any`

![image](https://user-images.githubusercontent.com/706078/70711872-429be400-1cc1-11ea-8925-58bb3030bfaf.png)

If I delete your file the types work again.

[2019-12-12 12:50] masx200 opened #923 "In "nodejs" version v13.2.0, using "ts-node" ,".ts" files cannot be compiled into "ES2015" modules and work"
In "nodejs" version v13.2.0, ".ts" files cannot be compiled into "ES2015" modules using "ts-node"

Running "ts-node ./rename-by-md5.ts" will report an error.

but Run "tsc && node ./rename-by-md5.js", the program will work normally

[code]
tsconfig.json
[code]

package.json
[code]

rename-by-md5.ts
[code]

[2019-12-12 17:29] blakeembrey commented on #923
This is unfortunately expected behavior, see https://github.com/TypeStrong/ts-node/issues/436 if you’d like to help support it. I haven’t had the capacity to dive into the latest module loader configuration yet, or figure out the trickier cases of actually allowing an import of a file that doesn’t exist yet because you need to specify extensions now.

[2019-12-12 17:29] #923 closed

[2019-12-12 23:39] michalchochol commented on #537
@yleflour perfect solution :) thanks a lot

[2019-12-13 10:18] stefvw93 opened #924 "--emit option does not work"
When I use the `--emit` option, I get an error: `Error: Unknown or unexpected option: --emit`

[2019-12-13 15:12] SMotaal commented on #436
@blakeembrey… thank you for leaving this open all this time.

<div align=center>

# 🎉
This meant a lot to me personally — thanks!

</div>

**`Q`** Is there a roadmap for this, ie a place for others in the extended community to know where they may contribute towards this goal?

[2019-12-13 16:39] blakeembrey commented on #924
You’re reading documentation for an unreleased version.

[2019-12-13 18:52] blakeembrey commented on #924
Try the README on NPM for now, or wait a little while (probably beginning of January) for a new release. Can you share why you want to use `--emit` too? I mostly added it on a whim, haven't seen an actual use-case yet (aside from debugging).

[2019-12-14 03:31] stephen-smith commented on #422
Stuck here, too.
[code]

Loading the module use plain node works:
[code]

Adding `--files` doesn't help.  Using `node -t ts-node/register` instead of `npc ts-node` gives same error.  Not sure why ts-node doesn't want to load the module.

Types are available under node_modules:
[code]

[2019-12-15 00:03] cspotcode commented on #908
@blakeembrey

## Re caching with transformers

I wonder if we can embrace how this works with `ttypescript`.  It lets users specify transformers in their tsconfig file's `"plugins"` array.

Users who want transformers will set `compiler: "ttypescript"` and add the transformers to their tsconfig file.  When we figure out the cache directory, we'll check for a plugins array.  If found, and if we can

[2019-12-15 03:25] cspotcode commented on #908
Should caching obey the `readFile` and `fileExists` overrides?  I'm still not sure how people use `readFile` and `fileExists` in the wild.

[2019-12-15 20:10] cspotcode commented on #908
I'd like to see if we can support the use-case where ts-node is the only compile step a team needs.  So you can use ts-node for local execution, testing, etc. And somehow ts-node also emits the result of compilation to disk, so you know that the ts-node-ed code used in testing is the same code used at runtime.  You get sourcemap support that "just works", etc.

It could be that the cache is portab

[2019-12-16 04:40] hydraslay commented on #449
Don't know exactly why but a similar issue solved when I updated ts-node -> 12.12, @types/node -> 8.5, typescript -> 3.7 (maybe one of them was not relevant) to latest version.

[2019-12-16 14:36] bosens-China opened #926 "Hi, I have such a directory structure how to run scripts"
### structure
[code]
 ## tsconfig.json
[code]
### package.json
[code]

## problem
I rely on a third-party module in the index file. I wrote its declaration file in the global.d.ts file, but through the npm.script running file, I would like to know how to make the tsconfig.json path, ✿✿ヽ (° del °) ノ✿

[2019-12-16 17:43] blakeembrey commented on #926
@bosens-China Can you explain the issue your having? Or share an error? Based on https://github.com/TypeStrong/ts-node#help-my-types-are-missing you aren't following the correct directory structure for custom typings, and haven't specified it in your `tsconfig.json`.

[2019-12-17 00:38] bosens-China commented on #926
Run error, execute the prompt that there is no corresponding d.ts file in the installed library. I defined the d.ts file in types / global. D.ts, and I speculated that tsconfig was not written correctly, so I want to ask you what is the correct way based on the above file path

[2019-12-17 01:28] blakeembrey commented on #926
Please follow the directions in https://github.com/TypeStrong/ts-node#help-my-types-are-missing. You need to add `typeRoots` and use `types/globals/index.d.ts` as documented. Or you can just use `--files` for `tsc`-like behavior.

[2019-12-17 01:28] #926 closed

[2019-12-17 11:33] stefvw93 commented on #924
Oh, I'm sorry! This might be a bit of a messy explanation so bare with me here.

I created a [project template CLI](https://github.com/stefvw93/tover), which is written in Typescript. The CLI has webpack built into it, but webpack is ran by spawning a new child process. The webpack CLI requires a webpack config (js). But since the webpack config is also written in typescript, that is where the chi

[2019-12-17 19:48] G-Rath commented on #899
@blakeembrey I'll have a look into it, but can't promise anything as I use WSL and don't know enough about the underlying differences in `ts-node` vs `node` (aka: I need to upskill on piping & streams :joy:)

If you have a guess on where the problem could lie, that would be good for a starting point :)

[2019-12-18 01:45] blakeembrey commented on #899
I'd probably confirm that `node -r ts-node/register` works as you'd expect from `node`, that'll narrow it down to only the `bin` file (so something related to starting the program). From there it's a bit trickier, but there's no actually many lines of code - basically it called `Module.runMain()`.

[2019-12-18 22:37] Maxim-Mazurok commented on #836
I'm experiencing similar problem, but can't find that section in the README anymore. Can you tell me, please, where is it now?

[2019-12-19 06:35] MikeMitterer commented on #903
OMG I had this same problem with a rollup / Vue / TypeScript combination.
`"target": "es2018"` solved it!

[2019-12-19 13:21] stewartmcgown commented on #797
Another edge case for people who get here via 'cannot require `.d.ts` file:

I had a folder in my `src` called `graphql` where I was storing queries, mutations etc, but it required the module `graphql`. Since I had `baseUrl` set to `src`, ts-node was resolving the attempted reference to the npm module `graphql` to the folder that was asking for it.

[2019-12-19 17:39] trusktr commented on #783
@MicahZoltu Yeah, or in Webpack apps.

[2019-12-21 18:54] jeiea opened #927 "Invalid optional chaining causes strange autocomplete behavior"
### Environment
- windows 10.1909
- typescript 3.7.4
- ts-node 8.5.4
- tsconfig.json: `{ "target": "es2018" }`

### What I did
Typing `(null as null | string)?.slice.call` in ts-node

### What I expected
Normal text input

### What I got
[code]

[2019-12-22 17:42] cspotcode opened #928 "Could threaded transpile-only be faster?"
I was thinking about worker_threads in node 11 and wondering if moving the ts-node compiler to a pool of worker threads would ever be faster in `transpile-only` mode.  I'm not sure it's worth it, but I want to share my thoughts anyway.

It'll need `--files` set to eagerly load files instead of waiting for a `require()` call.  If the app loads its entire codebase at startup, then compilation orderi

[2019-12-25 09:42] Lpaydat opened #929 "Cannot use ts-node to run custom script in Expo project"
Hello, noob here.

I have some ReactJs project which is run perfectly on every aspect.
But recently I want to make it monorepo and I chose Expo for this job.

I can make most of code works except some custom scripts.
It say `SyntaxError: Cannot use import statement outside a module` and the line of code that lead to this error was `node_modules/expo/AppEntry.js` which is in the `main` parameter in

[2019-12-25 20:53] blakeembrey commented on #929
Do you have a reproduction I can try?

[2019-12-25 21:01] blakeembrey commented on #927
This looks like a node.js autocompletion issue. I was able to replicate it by hitting tab. I don't think the REPL has been completely expanded to support autocompletion. I'm going to close this issue by link it to https://github.com/TypeStrong/ts-node/issues/8 for reference. It would be great to support and might be an interesting issue for someone to tackle.

[2019-12-25 21:01] #927 closed

[2019-12-25 21:02] blakeembrey commented on #8
This will also be useful with autocomplete with unsupported node.js syntax: https://github.com/TypeStrong/ts-node/issues/927.

[2019-12-26 10:39] mrbar42 commented on #261
since there is no obvious answer in this thread, here's how i ended up adding the flag:
[code]

[2019-12-27 02:44] Lpaydat commented on #929
@blakeembrey Sorry for late reply.

 I have created an example to reproduce this error, you can see it here [ts-node-next-expo](https://github.com/Lpaydat/ts-node-next-expo).

It's the `customScript` command.

[2019-12-27 17:05] ravi005e opened #932 "getting TS Error"
getting TS Error, using the latest version, see the screenshot

![Annotation 2019-12-27 085935](https://user-images.githubusercontent.com/29851236/71525749-01423180-2888-11ea-8bdc-08d9f4abab36.png)

[2019-12-27 17:59] ravi005e commented on #220
How did you added it, It doesn't work for me.  can you provide an example? thanks

[2019-12-27 19:33] dylanAOA opened #933 "setInterval does not fire after long interval on raspberry pi"
I am having the same issue noted in this node issue (https://github.com/nodejs/node/issues/4262)
However I am using ts-node.

ts-node version: 8.5.4

running on Raspian GNU/Linux 10 (buster)

When setting short timeouts under 10 minutes they will fire but anything over that is not firing

[2019-12-27 19:57] blakeembrey commented on #933
@dylanAOA Can you replicate it without `ts-node`? It seems unlikely to relate to `ts-node` since this module doesn't implement any node.js APIs - it's just a transpiler.

[2019-12-27 19:57] #933 closed

[2019-12-31 00:36] ibc opened #934 "Running `repl.start` with ts-node-dev is unusable"
I run my my TypeScript app as follows:

[code]

`src/client.ts` is just as follows:

[code]

The REPL terminal becomes completely unusable. If I press Enter I get `rl.on line`. If I type a char, it's not written (just one of each 2 or 3 chars are written), etc etc. 100% unusable.

This does not happen if I run my app without `ts-node-dev`.

Do I miss something? I see that, somehow, `ts-node-dev` o

[2019-12-31 00:43] ibc commented on #934
BTW, running with `ts-node` as follows the issue does **not** work (I can use my REPL terminal perfectly):

[code]

[2019-12-31 00:47] ibc commented on #934
Sorry, wrong repository.

[2019-12-31 00:47] #934 closed

[2020-01-02 05:23] trusktr commented on #155
Node.js v13 adds new complications. For anyone stumbling here, this is what you may face if you're using Node.js v13+, but I have not found a solution yet.

It seems the `ignore` trick no longer works if both using `module: 'commonjs'` and having dependencies that are published as ES Modules.

So although my `ignore` options is set correctly like I had it before Node 13 while I have `module` set t

[2020-01-02 05:54] trusktr opened #935 "`ts-node` fails when ES Modules are in the dependency graph in Node.js 13+"
I basically detailed the issue in this comment: https://github.com/TypeStrong/ts-node/issues/155#issuecomment-570120923

It's a chicken-and-egg-like problem:

- If we use `module: 'commonjs'`, then if any TS files import ES Modules (indirectly in their dependency graph), then Node throws an error because CommonJS modules can not import ES Modules.
- If we change to `module: 'esnext'`, then the err

[2020-01-02 06:00] trusktr commented on #935
One way to reproduce this is to take a working application with `module: 'commonjs'` being passed to the `register()` call, make sure you're using the latest Node 13, then add an ES Module dependency ( `.js` file) on the leaf end of any branch of the dependency tree.

[2020-01-02 06:36] trusktr commented on #929
@Lpaydat Are you on Node.js 13?

[2020-01-02 06:44] trusktr commented on #929
As I thought, `/Users/trusktr/Desktop/ts-node-next-expo/node_modules/expo/AppEntry.js` is an ES Module. The issue is https://github.com/TypeStrong/ts-node/issues/935

[2020-01-02 06:52] trusktr commented on #935
related:

- https://github.com/TypeStrong/ts-node/issues/436
- https://github.com/TypeStrong/ts-node/issues/880

But now that Node 13 is out in the wild, people will start running into issues without passing any flags to Node.

[2020-01-02 21:42] jkrems commented on #935
I'm trying to understand this scenario - how did this work before? I assume existing TypeScript running via `ts-node` was never meant to use real ESM semantics, instead it's more similar to babel-style "using import as sugar for require". So it's de-facto CommonJS and shouldn't be loading ES modules from its dependencies (at least that should be the default behavior afaict).

Is this about existin

[2020-01-02 21:46] jkrems commented on #935
Ah, I think I got it now: It's about running `ts-node` for module code. Which would involve compilation within the ES module loader, potentially registering the compiler after node is started up (as opposed to using a CLI flag). The short answer is that the APIs to allow that aren't yet in node, so I don't think `ts-node` can do anything about this for now. :(

[2020-01-03 09:24] trusktr commented on #935
Not even by hooking in to the experimental load API?

[2020-01-03 16:43] jkrems commented on #935
There's two independent holes in the API surface:

1. Being able to change the source text of something on disk without breaking relative resolution. There is an open PR to address this by @GeoffreyBooth: https://github.com/nodejs/node/pull/30986
2. Being able to start a simple binary (`ts-node`) that registers a transformer and then runs user code. Right now the only way to register hooks is usin

[2020-01-04 00:03] KristianFJones commented on #935
I created a proof of concept for using the current version of the --experimental-loader feature to transpile typescript files right before node loads it and then give node the now ESNext Javascript code with the SyntheticModule VM feature. It's fairly hacky right now but it made for a fun 6 hour session: https://github.com/KristianFJones/TS-ES-Node

[2020-01-04 08:34] goepi opened #936 "Use of `>>>` operator gives different results for same expression"
I am working with bitwise operators. However, when I use the `>>>` operator I do not always get the same result:

Here is my bash session:
[code]

What is going on here?

[2020-01-04 17:40] jdalrymple commented on #722
For some reason, when i run this command more than once, i receive different results. First time is fine, but subsequent times require me to go to another branch and come back which seems very odd. Any suggestions?

[2020-01-04 17:49] jdalrymple commented on #722
I just needed to disable the cache as outlined in the options docs https://github.com/standard-things/esm#options

[code]

[2020-01-05 09:23] cspotcode commented on #936
Every time you hit the "Enter" key, ts-node needs to pass *all* inputs from the entire REPL session to the typescript compiler as a single file.  For example, if you refer to an interface that was declared earlier in the REPL session, the compiler needs to be given the declaration and the usage in a single source file.  This means prior REPL inputs are compiled repeatedly, but only the emitted Jav

[2020-01-05 09:26] cspotcode commented on #936
You can see what the compiler's emitting via the Playground:
http://www.typescriptlang.org/play/index.html?ssl=2&ssc=5&pln=2&pc=1#code/LQVgBAfFYAwLAChSWvJ4oVkA

[2020-01-05 22:30] Evilart86 commented on #537
This helps me to configure Webstorm Debuger
node version: 12.3.1
ts-node version: 8.5.4

![image](https://user-images.githubusercontent.com/20624473/71786513-d89f0200-3014-11ea-8486-627ea4364bdc.png)

[2020-01-05 23:47] blakeembrey commented on #936
As @cspotcode says, we have some tricks around this to handle ASI, but in this case it’s broken - should be fairly easy to fix though.

[2020-01-07 14:40] Xerus2000 commented on #922
Having the same problem even when using commonjs
[code]
My project is an expo react-native project, but that shouldn't make a difference.

But the error does seem to come from a dependency:
[code]

[2020-01-07 19:28] Nditah commented on #922
**Update 3:** Since Node 13, you can use either the .mjs extension or set "type": "module" in your package.json. You don't need to use the `--experimental-modules` flag.

**Update 2:** Since Node 12, you can use either the .mjs extension or set "type": "module" in your package.json. And you need to run node with the `--experimental-modules`  flag.

**Update:** In Node 9, it is enabled behind a fla

[2020-01-09 10:58] despairblue commented on #908
I'd be interested in this feature too as we're currently running ts-node in production while migrating our JS codebase to TS gradually. Starting the server with transpile-only takes currently 3 seconds, but eventually when everything will be transpiled it would take 20 seconds.

The cache would greatly reduce that time. I'd also be interested if it's possible to have the cache inside cwd so we can

[2020-01-09 16:20] tiborgg opened #937 "VSCode erratic debug stepping behavior when empty lines are added before the function declarations"
Noticed that the stepping behavior in VSCode while debugging is influenced by the empty lines that appear throughout the code, to the point that *Step over* actually skips statements and steps into inner functions (the more empty lines there are before the code, the more statements are skipped).

### Project structure
Here is the simplest configuration in which I could reproduce the issue:

**main

[2020-01-09 18:40] Xerus2000 commented on #922
Thanks, I got it fixed that way!

[2020-01-09 18:46] cspotcode commented on #908
@despairblue Portable, pre-computed cache is one of the design goals of [typescript-cached-transpile](https://www.npmjs.com/package/typescript-cached-transpile)

Specifically: https://www.npmjs.com/package/typescript-cached-transpile#portable--pre-compiled-cache

Please let me know if it does or doesn't work for you.

[2020-01-09 23:21] blakeembrey commented on #908
Happy to support this, I _think_ it's like how it used to work with `--cache-dir`.

Possibly, the in-memory cache was mostly scoped to support source maps and the cache to read from disk. I'm not sure it'll cover what you want today.

The way this previously worked would support this. It used hashes of the content as cache keys (instead of paths). We could do that, but if we'd prefer to skip readi

[2020-01-09 23:23] #4 closed

[2020-01-10 00:13] nickzelei commented on #897
FYI it looks like they've added API support for building project references.

https://github.com/microsoft/TypeScript/pull/31432

[code]

[2020-01-10 00:42] blakeembrey commented on #932
Maybe resolved with https://github.com/TypeStrong/ts-node/commit/3334305b2912df82da7e8fb493932cce446cfceb, don't use Windows to be able to tell but reading the TypeScript source code implies this is done internally anyway (at least on the latest release).

[2020-01-10 00:42] #932 closed

[2020-01-10 01:21] Jamesernator commented on #935
^ Just for above there's a new loader hook in node nightly called `getSource` so this works with a recent nightly version. Only caveats are the same as the babel typescript plugin (e.g. no `const enum`):

<details>
<summary>Typescript Loader</summary>

[code]

</details>

[2020-01-10 02:07] GeoffreyBooth commented on #935
Hi, I created the `getSource` hook. There's also a `transformSource` hook that was intended for things like transpilation. See the transpiler loader example: https://github.com/nodejs/node/blob/master/doc/api/esm.md#transpiler-loader

[2020-01-10 15:00] KristianFJones commented on #935
Look's like I know what I'm doing this weekend.

[2020-01-10 18:40] dstaley opened #938 "v8.6.0 breaks TS_NODE_COMPILER_OPTIONS environment variable"
The release of v8.6.0 introduced the ability to configure via tsconfig.json. However, it looks like in the process the ability to use TS_NODE_COMPILER_OPTIONS was either removed or broken, resulting in broken builds for us.

Since v8.6.0 was a minor semver release and did not have a "Breaking Changes" section in the release notes, I did not anticipate any breaking changes in this release. If the c

[2020-01-10 18:52] cspotcode commented on #938
Do you have a minimal reproducible example of the bug, to help with
diagnosis?

This is not intended to be a breaking change, hence the minor version bump.

Affected users can continue using the previous version of ts-node in the
meantime.

On Fri, Jan 10, 2020, 1:40 PM Dylan Staley <notifications@github.com> wrote:

[2020-01-10 19:05] dstaley commented on #938
Sure thing! [Here you go](https://github.com/dstaley/ts-node-envar).

[2020-01-10 20:49] blakeembrey commented on #938
Thanks for the report, I think I may have introduced it when refactoring the `tsconfig.json` support. Revising the logic now.

[2020-01-10 21:01] cspotcode commented on #938
`DEFAULTS.compilerOptions` should store the value parsed from the environment variable.
https://github.com/TypeStrong/ts-node/blob/master/src/index.ts#L242

`readConfig` pulls from `DEFAULTS` when building the merged `compilerOptions` object.
https://github.com/TypeStrong/ts-node/blob/master/src/index.ts#L909-L916

Shouldn't that be correctly incorporating the environment variable?

[2020-01-10 21:08] cspotcode commented on #938
Oh I think it's because of the ordering of overrides.

I put the 2 indicated values out of order.  ([from here](https://github.com/TypeStrong/ts-node/blob/master/src/index.ts#L909-L916))

[code]

[2020-01-10 21:47] blakeembrey commented on #938
Fixed with https://github.com/TypeStrong/ts-node/commit/db409d75278aaf407fff6385a9bcd2ebd8473e1e and release as V8.6.1 - thanks!

[2020-01-10 21:47] #938 closed

[2020-01-10 21:50] blakeembrey commented on #924
@stefvw93 This is released now, but I made it backward compatible and this feature is only available with `--compiler-host` enabled.

[2020-01-11 22:34] cspotcode commented on #908
Ok, I'll have to familiarize myself with the code.  Do you know if a `.ts` file's path/filename ever affects the emitted `.js` or sourcemap?  I wasn't sure, so I was including the paths in the cache key.  This meant a tiny bit extra work to make them relative to the location of the cache.

I think we'll have to read the source `.ts` from disk every time.  Otherwise we don't know if the contents ch

[2020-01-11 23:45] blakeembrey commented on #908
It would, good point. It would have the path in the source map for debugging.

Good point 👍

[2020-01-12 04:24] stefvw93 commented on #924
Thanks!

[2020-01-12 07:42] xmsz commented on #155
Same situation

[2020-01-12 11:33] Borewit opened #940 "Node engine V8 compatibility is broken"
ts-node is no longer work on Node V8, because [yn](https://github.com/sindresorhus/yn) is enforcing Node V10 compatibility.
Caused by: [yn#26](https://github.com/sindresorhus/yn/pull/26)

The motivation for changing the V8 requirement to V10 is because Node.js V8 is no longer supported. I believe node engine requirement should indicate the engine(s) the module **works** with.

[2020-01-12 11:37] Darep opened #941 "Cannot install with yarn on Node 8 or 9"
The `yn` package was updated to v4.0.0 in ts-node@8.6.0. It seems that [yn@4.0.0 now requires node >= 10](https://github.com/sindresorhus/yn/blob/028ca5df4818a6fc519bd349686619218f5c3312/package.json#L13) so ts-node v8.6.0 and newer might error when installing/starting on Node.js 8 or 9. At least when using yarn.

For example, on a fresh Node.js v8.12 Docker container:

[code]

Same in the Node.js

[2020-01-12 21:21] cspotcode commented on #941
Closing as a duplicate of #940.

[2020-01-12 21:21] #941 closed

[2020-01-12 21:33] cspotcode commented on #940
I'm going to try wrapping the *old* version of yn in a wrapper that converts null return values to undefined.  That should achieve the desired behavior without upgrading yn, which avoids the problematic engine requirement.

[2020-01-12 21:39] cspotcode commented on #940
We can also add a `yarn` invocation to the test suite to catch the incompatibilities.

[2020-01-12 21:45] cspotcode commented on #940
@Borewit @Darep `yarn --ignore-engines` should let you install in the meantime.

Our tests run on node 6 so everything should work once you get past the package manager.

[2020-01-13 03:12] cspotcode commented on #937
@tiborgg What happens when your disable "smartStep"?  `"smartStep": false` in your vscode launch config.

I was able to reproduce the issue you were seeing in VSCode but *not* in Chrome DevTools, which led me to believe this is a VSCode issue.  When I disable "smartStep", the problem goes away.

[2020-01-13 11:53] tiborgg commented on #937
Indeed, disabling "smartStep" fixes the issue.

I was absolutely sure that it didn't fix it, because it was one of the first things I tried, but probably I messed up somewhere, maybe changed it in the wrong place or something :)

I also think that VSCode might play a part in this, given that there was also a similar issue with the `vscode-chrome-debug` tool a while ago: https://github.com/Microsof

[2020-01-13 18:05] #940 closed

[2020-01-14 17:25] reduardo7 commented on #883
Like @blakeembrey said, you should use `node_modules/.bin/ts-node ./src/framework.ts` or `node --require ts-node/register ./src/framework.ts`

[2020-01-15 16:11] LastKing commented on #188
webstorm 2019
ts-node @ 7.x
typescript @ 3.7.x
npm typescript
![image](https://user-images.githubusercontent.com/8540374/72450045-a2236d00-37f4-11ea-97ca-f56ca4ed3ece.png)

i use the config can debug typescript file .

[2020-01-15 17:30] foladipo commented on #754
When I upgraded our project's ts-node from 4.1.0 to 8.5.2, I also faced the above problem in that our app's startup time significantly slowed down. As advised above, using `--transpile-only` did significantly speed up the process, but I really didn't want to lose type-checking. So while I am waiting for a later version of ts-node to be released that will make our app build fast without having to u

[2020-01-15 20:08] cspotcode commented on #937
@tiborgg
I confirmed with someone on the VSCode team that this behavior is a limitation in their old debugger.  They're working on a new one which supports in-memory transpilers like ts-node.

You can try out their new debugger following the instructions here:
https://github.com/microsoft/vscode-js-debug

This issue roughly describes the issue.
https://github.com/microsoft/vscode-js-debug/pull/174

[2020-01-15 20:08] #937 closed

[2020-01-16 09:14] tiborgg commented on #937
@cspotcode
Thanks a lot for the effort. I"ll follow the progress on the new VSCode debugger.

[2020-01-16 22:29] cspotcode commented on #409
How about attached to the `module` module?

[code]

I suggest this because it seems the "module" module is responsible for creating `require()` functions and handling `require.extensions`.

[2020-01-16 23:16] ncoder commented on #693
FYI: just in case this is useful some someone. using mocha + typescript + node, I received the same error, and it was because I had a .js file that got written next to the source .ts file. Presumably, even though ts-node isn't writing the .js files out, it detected that one was there and stopped.

[2020-01-17 05:10] blakeembrey commented on #409
There’s actually already a global symbol now that could be used. The reason I haven’t done this issue is because it’s a little more complex - you need to check for overlaps in registration directories and not just for a second register. We could put all the registrations in an array and iterate over it when a new registration occurs, check if the directory is already registered.

This sort of issu

[2020-01-17 20:04] rnegron commented on #778
I also have this problem. Cannot hit breakpoints in VSCode using `ts-node`. Have tried basically all possible configurations of `tsconfig.json` and `launch.json` as well as this module's options. What "just works" is manually compiling the source with the regular TypeScript compiler.

[2020-01-17 20:08] cspotcode commented on #778
@rnegron Can you try disabling smartStep and see if that fixes the problem?

We were talking about weird VSCode debugger behavior the other day: https://github.com/TypeStrong/ts-node/issues/937

[2020-01-17 20:23] rnegron commented on #778
@cspotcode Thanks for your suggestion. Unfortunately, I did not have `smartStep` enabled. I tried it again with that option explicitly disabled but it didn't work. Also went ahead and tried with the new VS Code JavaScript debugger but still no breakpoints.

[2020-01-17 20:27] cspotcode commented on #778
@rnegron bummer, it was worth a shot.

Do you have a minimum reproducible example for us to try on our machines?
What is your version of node and VSCode?

[2020-01-17 21:21] itsgracian commented on #745
this will not work when you add jest in your code.

[2020-01-17 21:29] rnegron commented on #778
@cspotcode I attempted to make a very minimal version of the affected repository's structure with a contrived example here: https://github.com/rnegron/ts-node-breakpoints-example

However, breakpoints are working in that repository, even though they are not perfect since the debugger seems to halt on the line after the breakpoint. You will notice that the code is in JavaScript, since we are curren

[2020-01-17 21:51] cspotcode commented on #778
@rnegron Without a reproduction, I really don't know.  I would guess that it's not about the size of the repository; it's about something specific that is happening in your real repo that is not in your reproduction.

[2020-01-17 22:05] rnegron commented on #778
@cspotcode I will continue to debug this and report back if I find anything. Thanks!

[2020-01-18 11:11] teh-mICON opened #945 "Empty log line on worker error"
# Error when trying to create faulty worker

## Description
When trying to create a new worker that has errors, an empty log line is printed to the console instead of the actual error.

## Replication

For replication, see this repository: https://github.com/teh-mICON/ts_worker_error

run via `ts-node start.ts` or `npm run start`

## Error when directly invoking worker.ts
[code]

## Output when In

[2020-01-18 11:49] teh-mICON commented on #945
Resolved.

Adding a try/catch block in workerAdapter.js solves the issue:

try {
  require('ts-node').register();
  require(path.resolve(workerData.file));
} catch(error) {
  console.error(error)
}

[2020-01-18 23:08] KristianFJones commented on #935
Been busy, here is a proof of concept using the `transformSource` hook. Supports relative imports of `.ts` and `.tsx` without requiring extensions. https://github.com/K-FOSS/TS-ESNode

[2020-01-19 05:30] teh-mICON commented on #945
Issue sometimes still persists even with aforementioned fix.

Trying to replicate.

[2020-01-19 06:06] teh-mICON commented on #945
I replicated the issue. When the error is thrown while inside the parentPort.addListener 'message' context, no error message is shown on the console. I have updated the error repository accordingly: https://github.com/teh-mICON/ts_worker_error/blob/master/worker.ts#L6

Workaround for now is obviously to try/catch the entire context.

[2020-01-19 06:53] KristianFJones commented on #935
Okay, made a few small changes and fixes. It's now able to handle external modules that have the TSLib import helper without requiring refactoring existing imports. The `TS-ESNext` loader hook can be dropped into existing projects and just work. Hopefully! I just tested it on my main Application template that uses TypeORM & TypeGraphQL with `tsconfig.json` set to use ESNext as target and modules a

[2020-01-19 14:49] cspotcode commented on #945
This looks like an issue with error handling, not with ts-node.  Does the issue occur if your worker.ts is renamed to worker.js (and TypeScript syntax removed) and you do not use ts-node?

[2020-01-19 17:07] juliantellez commented on #266
seems like this is still happening? I have just installed the latest mocha `7.0.0` and couldn't get the watch feature to work; didn't look much into it though and ended up reverting to `6.1.4`.

[2020-01-19 19:15] teh-mICON commented on #945
No. The basically exact same code with vanilla JS (without the workerAdapter.js in between) works as expected:
https://github.com/teh-mICON/ts_worker_error/blob/master/worker.js#L7

[code]

[2020-01-19 19:49] KristianFJones commented on #935
Removed the `globby` requirement. Module has been published on NPM https://www.npmjs.com/package/@k-foss/ts-esnode zero dependencies other then peer dependency on TypeScript. NPM reports unpacked size of 8.66 kB. Should hopefully be a drop in replacement for `TS-Node` for now.

[2020-01-20 04:00] blakeembrey commented on #935
@KristianFJones If you're interested I'd love to land a PR in `ts-node` with this functionality.

[2020-01-20 05:43] cspotcode commented on #945
I narrowed it down to an issue in source-map-support, one of our dependencies.

https://repl.it/@AndrewBradley/ts-nodeissues945

When source-map-support is installed in the worker, the worker doesn't emit error events to the main thread properly.

If this makes sense, you can file an issue at https://github.com/evanw/node-source-map-support/issues

[2020-01-20 06:17] jordanrastrick commented on #693
Also leaving a comment in case it is useful to someone: this error can also occur if you have `"allowJs": true` and have a stray `*.js` file that corresponds to a `*.ts` file in your project.

[2020-01-20 11:30] teh-mICON commented on #945
Well, I guess I could but it would actually make more sense if you did it since you could give a much better description of the actual problem. I'm not really sure how the problem arises from the source maps or how to provide steps to reproduce. (Other than the one given which is not very helpful I think)

[2020-01-20 16:15] cspotcode commented on #945
I don't have time unfortunately.

The info I gave you should be all you need for the source-map-support
maintainers to take it from here.  You can copy-paste what I posted here
and ping me on the ticket if you want.

On Mon, Jan 20, 2020, 6:30 AM Michael Saller <notifications@github.com>
wrote:

[2020-01-21 15:22] KristianFJones commented on #935
I'd love to give that a shot. I'll take a crack at it sometime this weekend.

[2020-01-21 21:19] leonardootoni commented on #754
I did the same. I came from pretty an old 3.3.0, and I was really surprised how bad the startup performance is on 8.x and above. Unfortunately, I had to downgrade as well.
@blakeembrey, any additional info about when a new release will improve these performance issues?

[2020-01-21 22:50] foladipo commented on #754
That said, an ode to you @blakeembrey and the rest of the ts-node team. Your work on this free, open-source tool and your visibility/availability to its users is much appreciated.

[2020-01-22 22:26] cspotcode commented on #899
@hpyou

This is an issue with your .bat script, due to the way .bat / .cmd scripts interact and the way npm's cmd shims are implemented.  This is not a bug in ts-node.

## The fix

Modify your batch script to use `call` when invoking `ts-node`.

[code]

## The reason

npm emits cmd shim scripts on Windows.  When your `.bat` script calls `ts-node`, it is invoking `ts-node.cmd`.  When `ts-node.cmd`

[2020-01-22 23:00] cspotcode opened #946 "[Meta]: Conventions for triaging, closing, and tagging issues?"
@blakeembrey
Are there guidelines you'd like me to follow when tagging and closing issues?

I'd like to have a shorter list of issues to focus on.  Right now there are 68 open issues, so it's tough to figure out what's relevant.  Is it ok if I more aggressively close issues?  Would you prefer to do that with tagging?  Are there any conventions I should be following in particular?

For example, can

[2020-01-23 04:25] blakeembrey commented on #946
@cspotcode No particular guidelines, I trust your judgement here 👍

Feel free to close/consolidate issues. I usually leave feature requests that seem valid open, but we can close to centralize it if that helps at all. If new tags are needed, feel free to add them - I typically stick to `docs`, `bug`, `enhancement`, `needs more info` and `help wanted`.

[2020-01-23 22:49] realyze commented on #817
Is this PR related to this issue please: https://github.com/TypeStrong/ts-node/pull/895 It adds `incremental` option. Should this issue be closed or am I misunderstanding?

[2020-01-24 05:26] cspotcode commented on #946
Thanks, sounds good to me.

[2020-01-24 05:26] #946 closed

[2020-01-24 16:27] cspotcode commented on #899
Closing this because it's a bit old and I'm almost positive https://github.com/TypeStrong/ts-node/issues/899#issuecomment-577415320 correctly addresses the problem.  Please don't hesitate to reply if the issue is not resolved, and we can re-open.

[2020-01-24 16:27] #899 closed

[2020-01-24 16:39] cspotcode commented on #898
@hasezoey

What is wrong about the mapping?  It looks to me like an entirely different error is being thrown, because the error message is totally different.  When I look at where that error is being thrown in the source code in github, it looks like the sourcemap is referring to the correct line number.

[2020-01-24 17:21] cspotcode commented on #328
Took a quick look and did some research.  tl;dr if anything, we can add support for node's `NODE_NO_READLINE` env var, to more closely mimic the built-in REPL.  Otherwise I'm not sure there's anything we should do here.

NodeJS internally does this when creating its REPL:
https://github.com/nodejs/node/blob/master/lib/internal/repl.js#L28-L30
https://github.com/nodejs/node/blob/master/lib/internal

[2020-01-24 17:28] hasezoey commented on #898
@cspotcode what error did you get? and did you go to the mentioned commit?

[2020-01-24 17:38] cspotcode commented on #472
Today, users can avoid this issue via `ts-node --transpile-only` or `ts-node --ignore-diagnostics 2393`.  This will suppress the "duplicate declaration" diagnostic.

In both the standard nodejs REPL and in ts-node, `.load` is like dot-sourcing or copy-pasting the loaded file's contents into a JS file.  If you `.load` the following file twice in a row:

[code]

You get a REPL session that internall

[2020-01-24 17:38] #472 closed

[2020-01-24 17:50] cspotcode commented on #898
I checked out the code, made the modification to add `throw new Error('test')`.

Then I ran mocha in my terminal:

[code]

It looks correct.  The error message is correct, and the line number is correct.

[2020-01-24 19:34] hasezoey commented on #898
@cspotcode so i tests again (i didnt test again since the post of this issue), but this time with the latest commit (made some since the post of this issue) and upgraded from mocha 6.2.2 to 7.0.0 and ts-node to 8.6.2, and because of the changed code since then i placed the error this time on `src/prop.ts` at line 98, and ran `npm run test`, and the error is way off:

[code]

[2020-01-24 20:27] brandonkal commented on #703
You could just do this:
[code]
No need for a seperate package.
Rather simple and portable between macOS and Linux.

[2020-01-24 20:33] cspotcode commented on #703
@brandonkal Are you sure that works?  `sh` doesn't like `//` comments so it logs an error.

[2020-01-24 20:39] brandonkal commented on #703
@cspotcode You are right. Corrected my comment to keep `sh` happy.

[2020-01-24 21:03] cspotcode commented on #898
I created a reproduction here:
https://github.com/cspotcode/ts-node-repros/blob/repro-898/run.sh

It's running on Github Actions so we can both see the same logs.
https://github.com/cspotcode/ts-node-repros/runs/407921160

Open the link above, expand the "Run" node, and scroll to the bottom.  Is that what you're seeing?

[2020-01-24 21:20] hasezoey commented on #898
ok i tried running `./node_modules/.bin/mocha "./test/index.test.ts"` directly and it worked, now tried with `nyc` infront of it, and it reported the wrong error line, sorry that i didnt notice this earlier, but could you help with that?

PS: i will update the issue to the current findings

[2020-01-24 21:32] cspotcode commented on #898
@hasezoey I don't know how much help I can be.  If someone can prove this is a `ts-node` bug then I can work on a fix, but I suspect it's an issue with the transformations performed by `nyc`.  I would check to see if they have any issues about this.  It's possible they hit the same issue with babel-node, since it does essentially the same thing as ts-node: compiles code in-memory.

[2020-01-24 21:49] hasezoey commented on #898
@cspotcode thanks for you time, i found an issue that is exactly the problem: https://github.com/istanbuljs/nyc/issues/619
-> so i will close this issue in favor for nyc#619 (and it dosnt seem to be an ts-node problem)

[2020-01-24 21:49] #898 closed

[2020-01-24 22:42] cspotcode commented on #898
@hasezoey Thanks for sharing the link, I learned a few things reading it.

Looks like nyc + mocha + ts-node requires a handful of flags:

[code]

Also, they're saying source-map-support needs to be told to hook into `require` so it can intercept inline sourcemaps.  Theoretically, ts-node could do this automatically, but ideally nyc figures out a way to do it.

Where we install source-map-support:

[2020-01-24 22:54] hasezoey commented on #898
@cspotcode i already tried these options, but they didnt help (for nyc) so i just made a local script and an ci script to have accurate source map lines while testing locally

[2020-01-24 23:50] blakeembrey commented on #817
You’re correct, it is available for people! Please test it. But unfortunately it doesn’t cover the references use-case yet, which means it’s not on by default. It’s possible to workaround with new options like registering multiple scoped compiler instances, but it’d be nice for it to work like the typescript compiler before we release it as default.

[2020-01-25 15:37] bluelovers commented on #693
i get `Emit skipped` error when `"allowJs": true` is true too

https://github.com/bluelovers/is-req-https

[2020-01-25 18:13] ejose19 commented on #935
@KristianFJones I tried your fork and so far it works without issues, I also added --harmony-top-level-await to try along typescript 3.8 and it worked without issues. Hopefully it can be integrated into ts-node.

Btw, I saw you state it requires node 14, but from what I see that hasn't been released yet. Minimum version I could use to run as it was 13.7

[2020-01-26 05:28] jkrems commented on #935
Please note that TLA may look like it's working at first glance but is known to still have some sharp edges. Both the base implementation in V8 and the integration in nodejs. See: https://github.com/nodejs/node/pull/30370. So it's nice to play around with locally but things are kind of expected to break horribly at this point. It's not ready for real-world use yet.

Just in case anybody is tempted

[2020-01-27 20:17] silveoj commented on #754
I tried all versions from 3 to 8. And some versions of nodemon 1-2.
Windows 7 and 10: it can take 10 seconds to build. But often it takes 4-5 hours to build.
The ways from this topic don't help yet.
~2100 ts files

But colleagues with Mac don't have this issue. Or did't notice it.
Thanks.

[2020-01-27 21:07] KristianFJones commented on #935
@ejose19 Interesting, I had been developing it with Node 13.6, didn't realize the transformSource hooks were added to 13.7. Unless you tried the one on my Account and not the new transformSource one I have on my `K-FOSS` Organization.

[2020-01-27 21:40] cspotcode commented on #908
I've been toying around with a way to avoid loading the typescript compiler until it's needed, since this adds at least 100ms to startup time.  The solution may be more complex than we want in ts-node, but I think it's do-able.  The upshot is a fully populated cache completely avoids loading typescript.

Typescript only uses `fileExists` and `readFile` to discover and load `tsconfig.json`.  Discov

[2020-01-27 21:42] cspotcode opened #949 "Make `--script-mode` default behavior"
Relevant discussion starts here: https://github.com/TypeStrong/ts-node/pull/939#issuecomment-578866518

TODO/note to self: copy the important bits into a summary, here

This ticket is to research whether or not `--script-mode` should be the default behavior of `ts-node`.

[2020-01-28 00:12] herbertpimentel opened #950 "nodemon + ts-node"
how can we use nodemon + ts-node to enable debug !?

I have tryed several combinations not with success:

[code]

[2020-01-28 02:03] blakeembrey commented on #950
It seems people have it working, you can find examples via search: https://github.com/TypeStrong/ts-node/issues?q=is%3Aissue+nodemon+is%3Aclosed. One example is using `--exec ts-node`. If you wish to combine that with flags for `ts-node`, you'll need to use environment variables such as `TS_NODE_FILES=true` or `tsconfig.json` with `"ts-node": { files: true }`.

[2020-01-28 02:03] #950 closed

[2020-01-28 02:07] blakeembrey commented on #949
Great question, I can't think of any reason this wouldn't be a good idea right now. The default behavior uses `findConfig` so for personal usages it's usually something like `ts-node src/index.ts` and this would continue working (though the change is a breaking change for others).

[2020-01-28 03:08] JimLynchCodes commented on #266
I'm using mocha `7.0.1` and can't get watch more working either...

When I try `mocha.opts` it gives me an error that `mocha.opts` is deprecated, and when it try this it only runs once and doesn't watch:
[code]

[2020-01-28 12:09] krzkaczor commented on #897
FYI: the obvious workaround is to set `TS_NODE_TRANSPILE_ONLY=true` but then you won't get any type checks.

[2020-01-28 23:18] andrewmackrodt opened #951 "Restore cache functionality (default to off)"
#701 removed caching and I find performance of using ts-node [unbelievably slow](https://github.com/TypeStrong/ts-node/issues/754) in any version beyond v7.0.1. The commit which removes caching behavior is in response to #672 (Cache doesn't take modified dependencies into account). I use ts-node in combination with `TS_NODE_FILES=true` and have never hit this problem nor was I able to reproduce th

[2020-01-29 11:44] vansergen commented on #935
It seems that `ts-node` fails to run with `"module": "esnext"` in the `tsconfig.json` and `"type": "module"` in the `package.json` with the following error:
[code]

[2020-01-30 09:53] dchambers commented on #897
@krzkaczor, I tried setting this on the command line (using `--transpile-only` and `-T`) and it makes no difference -- project references still aren't built.

[2020-01-31 12:26] k-stasevich opened #952 "Invalid typescript is build successfully"
I'm using `ts-node-dev` package which use `ts-node` inside. I noticed that there are no errors in build when TS is invalid.

When I'm running ts-node-dev build I don't see errors!
`ts-node-dev --respawn --no-notify ./src/server.ts`

Using ts-node version 8.6.0, typescript version 3.7.2 - no errors, but ts is invalid
Using ts-node version 8.6.2, typescript version 3.7.2 - no errors, but ts is inval

[2020-01-31 16:24] cspotcode commented on #952
Please share a minimal, reproducible example of the incorrect behavior that
we can look at.  Without this, we cannot identify the problem.  You can
post it as a new GitHub repository or as a pull request on
https://github.com/cspotcode/ts-node-repros

Either way, be sure to post a link to it in this issue.

On Fri, Jan 31, 2020, 7:26 AM k-stasevich <notifications@github.com> wrote:

[2020-02-02 00:21] thany opened #953 "ts-node-dev Cannot find module"
Suppose I have this kind of structure:
[code]
`app.ts` imports `item.ts` like so:
[code]
`item.ts` on its turn imports `types.ts` like so:
[code]
This works absolutely fine. Exactly like I expect it. After all `types.ts` is at the root, and that's where I'm importing it from. So, I'll add another import:
[code]
Boom. `Error: Cannot find module '/config'`
That one cannot be found. How come? It's im

[2020-02-02 02:12] backbone87 opened #954 "[8.6.2] TypeError: Unable to require file"
After updating from 8.3.0 to 8.6.2 i started getting the following error, when executing typeorm's CLI script via:
[code]
(node:12-alpine; not specific to the migration:generate command, all CLI operations that load entities fail, setup derived from https://typeorm.io/#/using-cli/if-entities-files-are-in-typescript)

playing around with different versions of ts-node i found that this error started

[2020-02-02 19:20] dancrumb opened #955 "Exported array is undefined when using `--transpileOnly`"
I have an application, written in TypeScript, that I start with the following invocation:
[code]

It errors out on startup with:
[code]

In `src/routers/mp2s.ts`, I have
[code]

And `userCanAttachFiles` is defined thus:
[code]

My understanding of `transpile-only` is that it just skips type checking. I can't understand why an exported array would lead me to problems.

Is this a bug? Am I misunders

[2020-02-02 19:22] dancrumb commented on #955
For completeness, I get the same outcome with
[code]

[2020-02-03 17:22] EliudArudo commented on #266
Can confirm that it's a bug on mocha `7.0.1`. I downgraded to 5.0.0 with this command and it works.

`mocha --require ts-node/register --watch --watch-extensions ts src/tests/**/*.ts`

[2020-02-03 19:49] cspotcode commented on #955
@dancrumb

I'm unable to reproduce the behavior you're seeing.  I created this reproduction:

https://github.com/cspotcode/ts-node-repros/tree/955
https://github.com/cspotcode/ts-node-repros/runs/423916409?check_suite_focus=true

It finishes without errors.  Without a reproduction we won't be able to fix any bugs.

You can fork my reproduction, modify it to show the error you're seeing, and submit

[2020-02-03 19:58] cspotcode commented on #954
@backbone87 This looks way too complicated for us to reproduce locally; can you pare down your example to a minimal reproducible example?
https://stackoverflow.com/help/minimal-reproducible-example

For example, you refer to `src/index.ts` but don't post the code.  It's impossible for me to run this locally to debug what's going on.

[2020-02-03 20:04] cspotcode commented on #953
@thany

I see you're using `"paths"` in your tsconfig.json.  Are you also using `tsconfig-paths`?

https://github.com/TypeStrong/ts-node#loading-tsconfigjson

You say that `tsc` succeeds.  Are you able to run the code that has been emitted by `tsc`?  Or do you get the same error when you try to run it?

[2020-02-03 20:05] cspotcode commented on #952
@k-stasevich any update on this?

[2020-02-03 20:11] cspotcode commented on #951
@andrewmackrodt

Discussion about how to re-add caching is over here: https://github.com/TypeStrong/ts-node/issues/908

That thread has my thoughts on how to implement disk caching.  For my use-cases, I'm focused on using it with transpile-only mode, since my projects perform typechecking as a separate step.  It should be safe to enable automatically with transpile-only when we're not using transf

[2020-02-03 20:25] cspotcode commented on #266
@EliudArudo @JimLynchCodes

`--watch-extensions` was removed from mocha 7, so if you're trying to use that flag, it's not doing anything.  It looks like there are other flags that fill the same role now, so I assume you have to switch to them.
https://github.com/mochajs/mocha/blob/master/CHANGELOG.md#700--2020-01-05

[2020-02-04 05:15] blakeembrey commented on #951
SGTM behind a flag 👍

[2020-02-04 20:28] 3rd commented on #953
Running into the same issue, @thany are you using yarn 2 (berry) by any chance?

[2020-02-06 00:06] KristianFJones commented on #935
Well, looks like `@K-FOSS/TS-ESNode` does work with Node 13.7. That's amazing. I'll get to work on porting this directly into `ts-node` hopefully sometime this weekend. Work has been busy, not enough time for personal coding.

[2020-02-06 06:52] k-stasevich commented on #952
Yes sorry, please test it
test.ts
`
function foo(n: string) {
  return n;
}

console.log(foo(5));

`

package.json
`
{
  "name": "ts-issue",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
    "start": "ts-node-dev test.ts",
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "",
  "license": "ISC",
  "dependencies": {
    "ts-node": "8.6.2",

[2020-02-06 06:53] k-stasevich commented on #952
and then downgrade `ts-node` to 8.5.2, and build will be failed (which is expected because it is invalid TS)

[2020-02-06 06:57] k-stasevich commented on #952
Hm, I just tested not `ts-node-dev` but just `ts-node` and it is failed in both cases (which is expected behavior), and it looks like problem is somewhere in `ts-node-dev` package

[2020-02-06 11:12] thany commented on #953
@cspotcode I'll have to verify that when I get home. I think I remember seeing it running outside of ts-node-dev, but I'm not 100% sure.

@3rd I'm using NPM, as you can see in my opening comment. Besides, I honestly can't imagine the package manager causing this issue.

[2020-02-06 14:51] cspotcode commented on #952
@k-stasevich ok, sounds good, I'll close this since it's not a ts-node issue.  If that changes, we can definitely re-open.

[2020-02-06 14:51] #952 closed

[2020-02-06 14:53] cspotcode commented on #953
@thany Our README has a section that explains why you need to use tsconfig-paths in certain situations.
https://github.com/TypeStrong/ts-node#loading-tsconfigjson

[2020-02-06 21:57] julienreszka commented on #266
Anybody searching for a solution, try this:
[code]

When you change a file in either folder src or tests it will rerun mocha

[2020-02-06 22:36] thany commented on #953
I noticed the stuff emitted from `tsc` doesn't work either and I couldn'tmake it work in any way other than by switching to webpack. Doing so reveals that *both* the aforementioned modules cannot be found, and I cannot figure out for the life of me how to tell the compiler/loader/config where to look...

[2020-02-06 22:38] cspotcode commented on #953
Have you tried my suggestions?  Have you looked at the README section that I pointed you to?

[2020-02-06 22:51] thany commented on #953
I have, but I don't really see it explaining why I need that package... Shouldn't it just, you know, work?

[2020-02-06 22:57] cspotcode commented on #953
No, it doesn't really work that way.  This is part of TypeScript's design, so it's not really a ts-node behavior.

This section of the TypeScript handbook explains it:
https://www.typescriptlang.org/docs/handbook/module-resolution.html#additional-module-resolution-flags

The tsconfig-paths README explains a bit more:
https://www.npmjs.com/package/tsconfig-paths

It also has some examples of usage

[2020-02-06 22:57] #953 closed

[2020-02-07 14:49] Gameghostify commented on #778
Any updates on this? Can't hit breakpoints either 🙁

[2020-02-07 14:56] Gameghostify commented on #778
https://github.com/Microsoft/vscode-recipes/issues/187#issuecomment-483814483

This comment helped to resolve this issue for me

[2020-02-08 10:10] brandonkal commented on #703
@cspotcode
If you use a formatter config that requires semicolons, the shebang is a bit more complex:
[code]

[2020-02-09 19:07] VanTanev commented on #73
A bit more complete version of @ORESoftware's example above:
[code]

[2020-02-09 21:24] underflow00 opened #956 "Unable to require .ts nested within a node_modules directory"
### Expected Behavior
No errors.

### Actual Behavior
"Unable to require file" error.

### Steps to reproduce the problem
1. Create a package (e.g. using `npm pack`) with the following files:
- `npm-postinstall.ts`:
[code]

- `package.json`:
[code]

- `x.ts`:
[code]

2. Install that package: `npm install package1-0.0.0.tgz`

Works fine on Windows

### Specifications

* ts-node version: 8.6.2
* nod

[2020-02-09 22:33] underflow00 commented on #956
Not a `ts-node` issue apparently. See https://github.com/microsoft/TypeScript/issues/12358. Workaround is to use `--transpile-only`.

[2020-02-09 23:22] cspotcode commented on #956
@underflow00
Thanks for reporting.  I think I have an easy workaround for you, at the bottom of this comment.  Pass `--files` instead of `--skip-ignores`.

If I understand correctly, the TypeScript compiler refuses to compile anything inside a `node_modules` directory unless included via `"includes"` or `"files"` arrays.  When these arrays are omitted, it includes everything in the working directo

[2020-02-10 00:32] cspotcode commented on #956
I'm reopening this because I think it might be a ts-node problem, or at least something that we can fix on our end.

Based on the issue linked here (https://github.com/TypeStrong/ts-node/issues/956#issuecomment-583901995) it sounds like we can implement the host API's `resolveModuleNames` to tell TypeScript if files are considered "external."  I'm guessing the default compiler behavior is to check

[2020-02-10 11:46] dchambers commented on #897
I ended up using `concurrently` to build the project references for all the libraries within our monorepo (all inside a `lib` directory) like so:

[code]

Here, the `lib` directory contained a `tsconfig.json` with references to all the composite projects within the directory.

[2020-02-10 23:02] cspotcode commented on #956
Linking to a related TypeScript issue: https://github.com/microsoft/TypeScript/issues/28432#issuecomment-437498123

The behavior described in that comment matches what I described in my previous comment.

[2020-02-11 02:34] cspotcode commented on #754
I created a very minimal reproduction here: https://github.com/TypeStrong/ts-node-repros/tree/754
It looks like require-ing each file with typechecking turned on eats up about 60ms, even if the file is basically empty.

Possibly related: discussion here about how getting diagnostics per file is apparently slow no matter what: https://github.com/typescript-eslint/typescript-eslint/issues/1335  But

[2020-02-11 07:35] cspotcode commented on #754
I think I had a breakthrough.  Compilation gets way faster when we implement `getProjectVersion` in our `LanguageServiceHost`.  I think without that method implemented, the compiler has no choice but to routinely throw away a bunch of internal state.  For example, for every required ts file, we make [2 calls back-to-back](https://github.com/TypeStrong/ts-node/blob/master/src/index.ts#L523-L527): o

[2020-02-11 19:43] cspotcode opened #957 "Questions about release process"
What is the release process for ts-node?  I think this is a question for @blakeembrey

As far as I can tell:

A maintainer runs `npm publish <patch|minor|major>` locally
`git push --tags` to push the new tag to github
Edit the release associated with the new tag to add a description of the changes, following existing formatting like https://github.com/TypeStrong/ts-node/releases

[2020-02-12 00:26] blakeembrey commented on #957
I personally use https://www.npmjs.com/package/np which generates most of these steps for you. I can add you as collaborator on NPM now.

[2020-02-12 03:24] cspotcode commented on #754
I may have found a bug in the new incremental API implementation that causes it to drop back to the non-incremental API?

`builderProgram` is created via `ts.createIncrementalProgram`
https://github.com/TypeStrong/ts-node/blob/master/src/index.ts#L590-L605
...but here, it's reset with the legacy `ts.createEmitAndSemanticDiagnosticsBuilderProgram`
https://github.com/TypeStrong/ts-node/blob/master/s

[2020-02-12 16:14] blakeembrey commented on #754
@cspotcode That code is intentional and based on the typescript implementation (as far as I could gather at the time). You need to create a new program when the files expand in scope, but it’s built from the old program so shouldn’t be as slow. The incremental build compiler uses the same instance under the hood, but reads the TS build file first. Of course, I could have just implemented it incorr

[2020-02-12 16:23] cspotcode commented on #957
Thanks!  I'll learn `np` and post if I have any questions.

[2020-02-12 16:27] cspotcode commented on #754
@blakeembrey thanks, I'm learning a *ton* as I dig into the TS source, and I haven't looked at that bit yet.

I may have found a TS bug, (microsoft/TypeScript#36748) so fingers crossed they get back to me soon.  Either way I *think* we can sidestep the bug my implementing `getProjectVersion()`.  And I'm not sure it even affects the incremental build code-path.  More to learn...

[2020-02-13 01:43] icemars123 commented on #922
I had the same problem when I started to used babel... But later, I had a solution... I haven't had the problem anymore so far... Currently, Node v12.14.1, "@babel/node": "^7.8.4", I use babel-node and nodemon to execute (node is fine as well..)

package.json:
"start": "nodemon --exec babel-node server.js
"debug": "babel-node debug server.js" !!note: server.js is my entry file, you can use yours.

[2020-02-14 17:18] jamemackson commented on #754
Were experiencing this issue as well and it's preventing our API to start within heroku's 60 second timeout for a dyno's start command.  What's odd is that the same code starts in less then 5 seconds using `ts-node-dev`.  This is using  `"ts-node": "^8.6.2", "ts-node-dev": "^1.0.0-pre.44"`

Neither using `--transpile-only` or `--files false` helps in our case.

[2020-02-14 19:21] brunolm commented on #754
@jamemackson we had the same issue. the solution was to downgrade to 7

[2020-02-14 19:24] cspotcode commented on #754
@jamemackson @brunolm I'm almost positive the slowness should have been greatly reduced by transpile-only.  Are you absolutely sure ts-node properly interpreted the `--transpile-only` flag and switched to using `ts.transpileModule`?  It sounds like something went wrong with the flag, so it *didn't* switch to transpile-only mode, which is why it remained slow.

[2020-02-14 19:26] jamemackson commented on #754
@cspotcode Do you know how can I check this?  I just tried running it in heroku with the flag and compared the timing but don't have any visibility into what's going on internally.

[2020-02-14 19:28] cspotcode commented on #754
@jamemackson Unfortunately I don't know of a great way to enable detailed logging from ts-node.  We should probably add some sort of debug-logging flag that dumps out detailed diagnostics.

You could introduce an intentional type error that does not affect your project.  transpile-only will allow it, but non-transpile-only will throw a type error.  For example `const a: number = 'this is a string'

[2020-02-14 19:34] DanielSchaffer commented on #754
@jamemackson How are you using `ts-node`? If you're using it via `--require`, you may need to use the `transpile-only` registration entrypoint instead of the flag: `--request ts-node/register/transpile-only`

[2020-02-14 19:40] jamemackson commented on #754
a flag to trigger detailed diagnostics would be great.

Forgive me since I know almost nothing about the internals of this but what i don't understand is that if `ts-node-dev` is using `ts-node` under the hood, why is it still fast when using the same `ts-node` version that is so slow when run on it's own 🤔

[code]

@DanielSchaffer we are running `ts-node app/server.ts` in our start script.

[2020-02-14 19:49] cspotcode commented on #754
@jamemackson `ts-node app/server.ts` will not do transpile-only mode.  Is there something else you're doing to put it in transpile-only mode?  Basically I'm trying to understand *exactly* what's happening in your situation, but I think there's more information needed to suss that out.

Looks like ts-node-dev uses some sort of caching layer.  I don't know anything about it: not what it's doing, wha

[2020-02-14 19:50] jamemackson commented on #754
I'm sorry, that's our normal start script, I did add the `--transpile-only` argument to that when I was testing this.

[2020-02-14 20:21] cspotcode opened #960 "Add diagnostic logging to ts-node"
### Desired Behavior

ts-node has a flag that enables diagnostic logging from ts-node (not TypeScript) to either a file on disk or to stdout.  ts-node's API allows passing a `reportDiagnostic` function that is called for all ts-node diagnostics, allowing even more customizable reporting.  This should match the UX of TypeScript's own `DiagnosticReporter` hooks.

This will enable end-users to see ho

[2020-02-15 04:08] cspotcode commented on #754
@jamemackson I spoke too soon about debugging.  There's a TS_NODE_DEBUG env var you can set to get additional output from ts-node.  It's not documented, and it doesn't log much so we'd probably need to add more log statements.

[2020-02-15 04:53] jamemackson commented on #754
Thanks @cspotcode.  I emailed you some logs.  I hope it helps! Thanks for all

[2020-02-15 07:46] #703 closed

[2020-02-15 08:03] #936 closed

[2020-02-16 10:50] marcellsimon commented on #745
Same. I can't make it work. Neither solution helps. Yours is an ugly hack but works for sure.

[2020-02-16 20:59] cspotcode commented on #266
@julienreszka Are you able to test the example proposed in #961?  I don't use mocha's watch mode in any of my projects, so I'm not 100% sure it works.

[2020-02-16 22:42] cspotcode opened #962 "our caching for `readDirectory` drops all but the first argument"
`ts.sys.readDirectory` accepts a half-dozen arguments, but our caching wrapper drops all but the first.  It seems like this isn't causing bugs because typescript normally doesn't call this function.  Perhaps it's only used to populate the files array based on tsconfig "include" and "exclude" arrays, so our implementation is never called.

It looks like a bug waiting to happen, unless I'm missing s

[2020-02-16 23:42] cspotcode commented on #754
#963 implements `getProjectVersion`, which should workaround microsoft/TypeScript#36748, meaning the compiler needs to typecheck 3x less than before.  This will *only* affect you if you have not enabled `transpileOnly` / `--transpile-only` / `TS_NODE_TRANSPILE_ONLY` nor `compilerHost` / `--compiler-host` / `TS_NODE_COMPILER_HOST`.

If you're really eager or curious, you can test it by putting this

[2020-02-17 03:04] cspotcode commented on #754
I'm digging into the codepath that uses the incremental compiler API.  It was really slow for my reproduction ([link](https://github.com/TypeStrong/ts-node-repros/tree/754)), like a second per `require()`, because for every single change to the `Program`, it was re-parsing all `SourceFile` instances.  Our non-incremental codepath uses a `LanguageService`, which [uses a `DocumentRegistry` to cache

[2020-02-17 07:30] pscanf commented on #754
I tested the branch and it does help quite a bit!

My results:

- with `ts-node v8.6.2`: times 32.56 / 32.67 / 31.71 => avg 32.31
- with the fix: times 23.84 / 23.28 / 23.70 => avg 23.61

There's an even bigger improvement using the `--watch` mocha option, which re-runs tests on file changes:

- with `ts-node v8.6.2`: time from file save to test beginning to re-run ~15s
- with `ts-node v8.6.2`: ti

[2020-02-17 09:43] zilvinasu opened #964 "Safe navigation operator not working"
### Expected Behavior

Safe navigation operator `person?.lastName` should be working.

### Actual Behavior

Result: `SyntaxError: Unexpected token '.'`
<img width="663" alt="Screenshot 2020-02-17 at 11 40 57" src="https://user-images.githubusercontent.com/1578440/74641704-66285280-517a-11ea-8a46-6697748960ab.png">

### Steps to reproduce the problem

[code]

### Specifications

* ts-node version:

[2020-02-17 16:32] dancrumb commented on #955
I spent some time on the recreate and figured out the problem.

`controllers/MP2Controller.ts` had a dependency on `routers/mp2s.ts` and vice versa.

I'm curious why this was only apparent with `--transpile-only` enabled. However, by refactoring my code to remove the dependency cycle, things are now running correctly.

I'm going to close this as it doesn't appear to be a bug with `ts-node`

[2020-02-17 16:32] #955 closed

[2020-02-17 23:02] cspotcode commented on #964
@zilvinasu This works for me.  I'm guessing your compilerOptions -> target value is set to something like ESNext, so Typescript is passing `?.` syntax verbatim to node.

[2020-02-18 13:00] zilvinasu commented on #964
Ah damn, good catch, works now, closing the issue, thanks!

[2020-02-18 13:00] #964 closed

[2020-02-18 23:21] cspotcode commented on #754
Dumping more links:
I asked in Discord about the `shouldCreateNewSourceFile` arg of `CompilerHost::getSourceFile`.
orta linked me to https://github.com/microsoft/TypeScript-wiki/pull/225
related discussion: https://github.com/microsoft/TypeScript/issues/31849

Only place the TS codebase uses that arg: https://github.com/microsoft/TypeScript/blob/master/src/compiler/watchPublic.ts#L467

[2020-02-19 07:58] rnarayana commented on #954
Same as https://github.com/TypeStrong/ts-node/issues/876 ?

[2020-02-21 14:41] itsgracian commented on #745
or you can add your type. for example
`interface IUser{
username: string;
email: string;
address: string[];
}`

[2020-02-24 00:27] dev-isho commented on #883
Woo Thanks it works

[2020-02-24 22:59] jonmountjoy opened #966 "ts-node/register fails if I include (and use) a SQLite library"
### Expected Behavior

A detox/mocha configuration with ts-node/register should compile all the files.

### Actual Behavior

It fails, under a single circumstance - when I include an additional library (SQLIte).

When it fails, it fails with the error:

[code]

### Steps to reproduce the problem

The minimal app shows a simple detox/mocha setup that uses ts-node, and a simple test.
The test will s

[2020-02-25 06:26] blakeembrey commented on #966
Just a note, but the failure here looks like it's because your trying to compile something in `node_modules/react-native`. TS node won't compile your `node_modules` by default.

[2020-02-25 06:26] blakeembrey commented on #962
Sounds reasonable to drop the caching here 👍

[2020-02-25 16:11] jonmountjoy commented on #966
Yes - I find it very strange that the inclusion of the SQLite seems to trigger it to do that.

My hunch is that there's something strange in the interplay between ts-node/register and the [top level types](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-native-sqlite-storage/index.d.ts) like the function declaration of `DEBUG`.

[2020-02-26 10:45] ayZagen commented on #903
I am experiencing this issue after upgrading ts `3.7.5` to `3.8.2`. I have tried the solutions above but none of them worked so far. Also tried different es targets with no luck.

[2020-02-26 11:56] HarishAnkolekar24 commented on #745
The following worked for me:

// project-root/src/types/express/index.d.ts
[code]
// project-root/tsconfig.json
[code]

And then run 'ts-node --files ./src/server.ts'.
As ts-node does not use files because of slows startup time, we need to tell it explicitly. Hence '--files' is necessary here.

[2020-02-26 14:14] brunolm commented on #745
VSCode gives me:

[2020-02-26 14:29] HarishAnkolekar24 commented on #745
You need to import or export something to indicate that the file is a module.
If you are not importing anything then simply add
[code]
in that file, then the error should be gone.

[2020-02-26 22:40] bseib commented on #182
A variation of the above information looks like this in `package.json` to invoke mocha:

[code]

This will let mocha invoke ts-node however it may, and ts-node will pick up the compiler options from the environment variable.

[2020-02-28 10:24] lake2 commented on #609
same question + 1

[2020-03-01 06:45] underflow00 opened #967 "Strange source map error during TypeScript compilation"
This issue may or may not be related to https://github.com/TypeStrong/ts-node/issues/956.
I get a TypeScript compilation error with the following workflow:
1. Publish repo with raw TypeScript files to Git.
  - This repo has a npm script `"postinstall": "ts-node --transpile-only --skip-ignore npm-postinstall"`.
  - This `npm-postinstall` script compiles the TypeScript files by running the shell com

[2020-03-01 14:29] susanforme opened #968 "TSError: ⨯ Unable to compile TypeScript:2304"
My English is very rubbish,but i need your help,thank you.

this is my first time to write typescript code
[code]

then i use ts-node ,The following error occurred,i try `tsc test.ts`,the same error occurred,
But when I try `tsc --lib "es6,dom" test`,I succeeded.Because I want to compile in real time instead of generating a JavaScript file, please give me some help about TS-node
[code]

Not sure i

[2020-03-01 18:37] blakeembrey commented on #968
You need to create a `tsconfig.json` file that contains your configuration (e.g. `"lib": ["es6", "dom"]`). Right now it's compiling to ES5 so can't find ES6 features.

[2020-03-01 18:37] #968 closed

[2020-03-02 02:35] cspotcode commented on #967
You refer to a script named (I assume) `npm-postinstall.ts` but omitted the source code of that script.  We'll need to see it to know exactly what's happening here.

[2020-03-02 02:43] underflow00 commented on #967
The `npm-postinstall.ts` script creates a ts-config file
[code]

then runs
`require('child_process').spawn(['tsc'], ['--project', 'C:\<path>\tsconfig'], {shell: true})`

[2020-03-02 02:52] cspotcode commented on #966
Looks like not a ts-node issue.
react-native appears to be incompatible with node.

https://runkit.com/cspotcode/require-react-native-fails

---

The error message is caused by node trying to execute invalid JS syntax via the `.js` extension loader, not `.ts`:
[code]

Looking at that file, it has invalid .js in it:
https://unpkg.com/browse/react-native@0.61.5/Libraries/Utilities/warnOnce.js

Are y

[2020-03-02 03:02] cspotcode commented on #967
@underflow00 What happens when you precompile the `npm-postinstall.ts` script and modify your package.json to look like this?

[code]

I'm not convinced this is a ts-node issue.  We don't have proof that the issue is caused by ts-node.

[2020-03-02 03:31] cspotcode commented on #840
I'm unable to reproduce this, and it's an old issue, so I'm going to (optimistically) close it.  I suspect it might be an issue with older Windows terminals, with a particular terminal emulator, with a particular version of node, with an older npm emitting a different flavor of cmd shim, or it's an issue that was somehow fixed for unrelated reasons in a newer ts-node release.

If it's still affect

[2020-03-02 03:31] #840 closed

[2020-03-02 03:34] cspotcode commented on #843
Closing because this is an old issue, no one has been able to offer any guidance, and it looks like a docker issue, not a ts-node bug, so we can't help here.  It might be an issue with the docker-compose `volumes` configuration.

[2020-03-02 03:34] #843 closed

[2020-03-02 04:28] #962 closed

[2020-03-02 18:57] AlCalzone opened #972 "TypeScript 3.8: Getting ReferenceError on a type declaration"
I'm currently trying to migrate my project to TS 3.8 to use the new features like type-only imports. However, `ts-node` now fails with an error I cannot understand. If you look at `src/lib/commandclass/MultiChannelCC.ts`, you can see that `Driver` is imported in the very first line. And `tsc` compiles the code just fine.

Repro:
1. clone https://github.com/AlCalzone/node-zwave-js/tree/df85c588ec9d

[2020-03-02 19:47] cspotcode commented on #957
@blakeembrey I published 8.7.0 to the npm `next` tag.  I wanted to be sure I had done everything correctly before moving the `latest` tag.

If you have a moment, can you review the release notes and git to be sure everything looks correct?  After that, I will update the `latest` dist-tag on npm.

https://github.com/TypeStrong/ts-node/releases/tag/v8.7.0
https://www.npmjs.com/package/ts-node/v/8.7.

[2020-03-03 18:23] dimahali commented on #922
I had the same problem and somehow fixed it. I have written a post about this, hope this helps https://xperimentalhamid.com/how-do-i/fix-cannot-use-import-statement-outside-a-module/

[2020-03-04 06:01] blakeembrey commented on #957
@cspotcode Awesome, thanks!

[2020-03-04 07:40] jonmountjoy commented on #966
@cspotcode - you got me thinking, and I managed to reproduce this problem in [a new react native app](https://github.com/jonmountjoy/detox-problem) that does not use Typescript at all, so I agree that this is probably nothing to do with `ts-node`.  Thank you!

[2020-03-04 07:40] #966 closed

[2020-03-04 20:56] shicks commented on #783
FWIW, another option is to install a service worker to make the browser automatically add back the `.js`.  I agree with @justinfagnani that the correct thing to do here is to make ts-node handle `.js` extensions the same way every other TS tool does, but until that's the case, this seems like the smoothest workaround (I had previously been using @MicahZoltu's plugin to do this on the TS side, but

[2020-03-04 22:39] SimonSchick opened #973 "Smart detect transpilation target based on node version?"
When using `ts-node/register/transpile-only` it would be super useful if it smart detected the best transpilation target based on the current runtime rather than assuming the newest target which tends to break builds when updating TS.

[2020-03-04 22:57] cspotcode commented on #973
@SimonSchick I believe `--transpile-only` will still parse your tsconfig.json and use the `"target"` from there.  Just to confirm, is that behavior working correctly for you?  Or is it broken?

[2020-03-05 03:54] blakeembrey commented on #973
Basically what @cspotcode says, except it actually falls back on `es5` today. It's totally possible it _could_ fallback to a version that aligns with node releases, but I'm not aware of that alignment existing anywhere so it might be difficult to maintain.

[2020-03-05 04:06] MicahZoltu commented on #783
@shicks The transformer should work fine with `ttsc --watch`.  I use it in projects that do watching and it works.  My guess is that somewhere in your infrastructure you are using `tsc` instead of `ttsc` or some other mechanism for compiling that doesn't apply the transformer.

[2020-03-05 17:08] underflow00 commented on #967
I switched from npm to yarn and so far I haven't had this issue. So I'm assuming it's an npm problem, though I can't confirm yet because the issue only happens sometimes. I'll close this for now.

[2020-03-05 17:08] #967 closed

[2020-03-05 21:31] shicks commented on #783
That's probably the case - I completely forgot about `ttsc` being a thing, so probably my flycheck is running ordinary `tsc` and they're racing.

In any case, I ended up just wrapping `ts-node` and `esm` into my own loader for testing so that I can keep my sources pristine and only white-glove what ts-node sees for testing.  @trusktr's solution mostly worked, except I needed to unwrap the outermos

[2020-03-07 17:14] AlCalzone commented on #972
In the meantime, I made this work with `-r ts-node/register/transpile-only.js` instead of  `-r ts-node/register`.

However I still think the behavior described above is a bug.

[2020-03-09 09:07] Haixiang6123 commented on #707
I tried to reinstall the `typescript` globally, and it works!
Try:
[code]
or
[code]
Try one way, and if it still don't work, then try the other way.

[2020-03-09 09:33] videni opened #977 "TS_NODE_LOG_ERROR doesn't work"
I set TS_NODE_LOG_ERROR  explicitely, but I still got following error, anything I did wrong?

[code]

[code]

[2020-03-09 21:32] abinici commented on #422
I also ran into this issue in my NestJS project when I tried enabling debugging in VSCode. I managed to solve this by changing my nodemon.json to:

[code]

It was the part `-r tsconfig-paths/register` that fixed it. This parameter will convert paths into physical file paths.

[2020-03-10 04:52] donle opened #979 "Random Error with TypeScript 3.8.2"
* Cannot read syntax `import type`

 * Random runtime error when importing a `const enum`. The enum value imported sometimes randomly becomes another value from the enum when running with ts-node. Running the code after compiled to javascript is all good. this happens since I upgraded TypeScript from 3.7.5 to 3.8.2.

*~Bugs from mac, gonna attempt to reproduce bugs on Windows later~, can't reprodu

[2020-03-10 19:11] slavafomin commented on #286
This is a very interesting subject. I've encountered some weird behavior of `ts-node` and started debugging. After a while, I've found out that some dependencies are calling `ts-node.register`, so that it's getting registered multiple times.

I believe if it's not an intended behavior (as @blakeembrey confirmed above) there should be definitely a warning or an error about subsequent registrations.

[2020-03-11 03:40] blakeembrey commented on #286
To revise the comment I left originally, there is a valid way to register multiple times via the “scope” option (I believe it’s currently not documented though). I do also believe it should be an error for multiple invalid registrations, if someone would like to make a pass of the functionality. It’d need to support multiple registrations that don’t “conflict”.

[2020-03-11 03:43] blakeembrey commented on #286
Also, this existing open issue is relevant: https://github.com/TypeStrong/ts-node/issues/409#issuecomment-575467589.

[2020-03-11 10:40] slavafomin commented on #286
@blakeembrey So, if I set `scope: true`, then this specific registration of `ts-node` will handle only files loaded from the specified `cwd`, right?

[2020-03-11 20:22] NikoAri commented on #456
So what is the solution to ignore tsconfig.json file?

[2020-03-12 01:01] blakeembrey commented on #286
Correct, rather `dir`. So you can do `register({ dir: __dirname, scope: true })`. Basically, it'll only transpile files relative to that directory which can enable a multi-project setup where you register many times with the other instances ignoring each other. However, if there's overlap in `dir` you'll still run into issues with it transpiling twice and _probably_ breaking.

[2020-03-12 01:03] blakeembrey commented on #979
@donle What's the error for 1? It sounds a little like TypeScript is not updated or registered properly.

[2020-03-12 09:44] slavafomin commented on #286
I see, thank you for explanation 👍

[2020-03-12 11:12] MitchTalmadge commented on #422
Thank you @abinici, you are my hero. No idea how you figured that out.

[2020-03-12 12:06] cspotcode commented on #422
tsconfig-paths is mentioned in our README.

On Thu, Mar 12, 2020, 7:12 AM Mitch Talmadge <notifications@github.com>
wrote:

[2020-03-12 12:15] MitchTalmadge commented on #422
Ah you are correct, I didn't see that at all I guess because I just assumed it already followed the tsconfig paths. For the most part in fact it seemed like they were being obeyed without the tsconfig-paths register. Maybe I am not understanding things fully. It's working now though.

[2020-03-13 17:08] cotterjd commented on #266
Is there any way to have mocha tests written in JavaScript watch files written in TypeScript?

I have integration tests that merely test my routes, but not necessarily my TypeScript code. I just want my tests to re-run after I change one of my TypeScript files without having to convert all my tests to TypeScript.

[2020-03-15 03:59] blakeembrey commented on #972
@AlCalzone Took a quick look and I think it's because of your import. The stack trace above shows it never even used `ts-node`. I cloned and tried testing, got this:

[code]

However, once I run `npm run build` it worked correctly. Potentially this is Windows related?

[2020-03-15 09:52] AlCalzone commented on #972
How can that be if I execute the file with `ts-node`?

[2020-03-15 23:02] Burtannia opened #982 "Priting to Stdout"
I'm currently trying to find a way to read from stdin, compile with `tsc` and output to stdout. It seems possible to tell `tsc` to output to stdout via `--out /dev/stdout` however I can't seem to find a way to get `tsc` to read from stdin.

While searching for solutions I came across `ts-node` for which I seem to have the inverse problem. I can read from stdin but can't figure out how to send the

[2020-03-16 03:20] blakeembrey commented on #982
The output you want is compiled TypeScript code right? That's not a part of this package, since this executes the code. You'd have to write some JavaScript to do that. It's relatively easy depending on what you want to to do exactly (e.g. `tsconfig.json` file support? just transpile?), you'd just need to read from `process.stdin` and write back to `process.stdout`. Your best places are the TypeScr

[2020-03-16 03:32] blakeembrey commented on #972
@AlCalzone Hard to tell because it executes for me, but I suspect it imported the `.js` file and then had the source map rewrite to `.ts`.

[2020-03-16 09:58] AlCalzone commented on #972
@blakeembrey I just did another test with a different import. Still the same error - but this time, `ts-node` is in the stack trace.

1. clone https://github.com/AlCalzone/node-zwave-js/tree/ts-node-repro
2. npm i
3. run npx ts-node ./test/run.ts
4. Error:

[code]

[2020-03-16 14:57] diegolaciar commented on #754
I use nodemon and tsnode

I updated to "ts-node": "^8.6.2",  and on each restart takes a lot to compile!

With TS_NODE_FILES=true  did not show any kind of improvement.

I will  try downgrade to previous version "ts-node": "^7.0.1"  or 8.4.0   as @christianrondeau mentioned from 8.4.1 version breaks performance.

[2020-03-16 17:54] watzon opened #983 "Extending ts-node"
### Desired Behavior

Allow complete control over the creation of a new REPL in code, including the ability to inject a new custom context.

### Is this request related to a problem?

There are many instances where one may want to extend the behavior of ts-node by creating their own REPL that wraps it and injects a custom context. One such case is creating a REPL for a framework such as AdonisJS,

[2020-03-16 18:09] cspotcode commented on #983
Seems reasonable to me.  This would mean refactoring `startRepl` to be a public API.  The guts of it would move from `bin.ts` to `index.ts`, probably wrapped us as a `createRepl` function.
 https://github.com/TypeStrong/ts-node/blob/master/src/bin.ts#L327-L330

[code]

Alternatively, we expose *only* the eval implementation via a `createReplEval` function.
https://github.com/TypeStrong/ts-node/blo

[2020-03-16 20:11] watzon commented on #983
Glad you're open to the idea. If I get some free time I'll open a PR.

[2020-03-17 17:51] Bnaya commented on #155
I wrote i gist of how it cloud work together,
https://gist.github.com/Bnaya/0d544f4fba966af37da079ee7e8ec08d
Using experimental loaders hooks api. its not a complete impl by no-mean.
Also the api is considered none-stable

[2020-03-17 21:06] Burtannia commented on #982
@blakeembrey Thanks for the response. I do indeed want compiled TypeScript code as the output. My biggest problem is that, after reviewing the TS documentation, I can't seem to find a way to invoke the TS compiler on input that isn't in a file.

[2020-03-17 23:21] blakeembrey commented on #982
https://github.com/TypeStrong/ts-node/blob/e8df418a3e811ae41e39bb73104711c6228c6262/src/bin.ts#L234

[2020-03-17 23:21] #982 closed

[2020-03-18 19:37] vort3xxx commented on #754
My closed source project was recently updated from a custom webpack config to using angular-cli as its task runner, and one striking thing that happened was that its typescript compilation time went way down, like from 12 minutes to 3 minutes.

The differences were really subtle, and one thing that winked at me was the way that files were sent to tsc.  In my old version of the project, I was using

[2020-03-18 21:06] cspotcode commented on #754
Please try `ts-node` v8.7.0.  It's been hanging out on the `next` dist-tag but I just promoted it to `latest`.

https://github.com/TypeStrong/ts-node/releases/tag/v8.7.0

The `LanguageServiceHost::getProjectVersion` implementation should help some projects quite a bit.

[2020-03-19 00:30] donle commented on #979
^
TSError: ⨯ Unable to compile TypeScript:

Didn't have any register issues before upgrading to ts 3.8.x

[2020-03-19 13:09] aqumus commented on #903
For me `"target": "es2019"` and `"target": "es2020"` both works

[2020-03-19 17:09] mfahad24 commented on #922
.mjs extension worked for me, thank you!!

[2020-03-19 18:02] chillheart opened #984 "Vulnerable version of mkdirp used in ts-node@7.0.1"
ts-node@7.0.1 is using an outdated version of mkdirp (0.5.1) which has a dependency of minimist@0.0.8, minimist has a known vulnerability in version less that 1.2.2 that allows adding and modifying properties of Object.prototype. This has been mitigated in mkdirp@^1.0.0. Please update ts-node@7.0.x dependencies to use a more current version of mkdirp.

The CVE for the minimist vulnerability is htt

[2020-03-19 18:31] toancaro commented on #782
@evenfrost I find this from [TypeScript official docs](https://www.typescriptlang.org/docs/handbook/tsconfig-json.html#overview). I think it could answer to your question.

[2020-03-20 04:59] blakeembrey commented on #984
@chillheart 7.0 is over two years old and unmaintained. I'll leave it up to @cspotcode on whether he wants to patch this. However, looking over the vulnerability I can't see how it could be abused here - all args come from the user and we use keys from minimist explicitly.

[2020-03-20 05:00] blakeembrey commented on #984
Oh wait, you're reporting `mkdirp`. That doesn't look relevant at all then, since we're not using the CLI.

[2020-03-20 05:04] blakeembrey commented on #979
@donle Are you sure you're running 3.8? You can check with `ts-node -vv`. That kind of looks like you're using new syntax without the correct TypeScript version.

[2020-03-20 05:05] blakeembrey commented on #979
However, you should be getting this error on Windows and Linux consistently so that's concerning.

[2020-03-20 14:51] #984 closed

[2020-03-20 15:26] Livven commented on #949
Discovered this option from the 8.7.0 changelog and it's exactly what I wanted but didn't know existed. Makes working with a folder of TS utility scripts that need a separate tsconfig.json much easier, as https://github.com/TypeStrong/ts-node/pull/939#issuecomment-578909850 notes, as it allows you to run a TS script from any working directory with the same tsconfig.json.

For backwards compatibili

[2020-03-20 15:34] cspotcode commented on #949
The language service supports multiple tsconfig files at once, if they're in multiple subdirectories, right?

For example, given a monorepo like this:
[code]

I think my editor's language service will treat these 2 subdirectories as different projects with different tsconfigs and handle them correctly.  I don't think I need to set up a root tsconfig with `"composite": true` and references, either;

[2020-03-20 16:44] Livven commented on #949
I believe this is editor-specific behavior that is not actually reflected by `tsc`, which only allows one tsconfig except via inheritance with the `extends` key (or apparently with project references but that is another matter).

Consider that an editor cannot actually know how you'd invoke `tsc` and thus which tsconfig you would actually use; you can specify an arbitrary tsconfig.json via `--proj

[2020-03-20 17:02] cspotcode commented on #949
It sounds like you are saying we should support project references, but should not magically pick up other tsconfig files based on where a require()d script is located.  Is that correct?

Building on my example above, assuming each `tsconfig.json` has `"composite": true` with a `"references": [{}]` referring to the other `tsconfig.json`.

When I run `ts-node --script-mode ./packages/bar/index.ts`:

[2020-03-20 17:15] Livven commented on #949
I'm not familiar with the project references or `composite` feature, I just wanted to point out that you probably shouldn't draw any conclusions on how to resolve the tsconfig.json based on what an editor does 😉

[2020-03-20 17:20] cspotcode commented on #949
Ok, thanks for clarifying.  Interestingly, `ts-node` uses the `LanguageService` internally, which is the same component of typescript that drives in-editor experiences.  So our behavior is like a hybrid between `tsc` and an editor.

[2020-03-20 20:21] brunolm commented on #754
❌ `ts-node@8.7.0`

- 42s
- 41s
- 40s

❌ `ts-node@8.6.2`

- 48s
- 47s
- 47s

✅ `ts-node@7.0.1`

- 7s
- 3s
- 4s

[2020-03-20 20:36] diegolaciar commented on #754
Hi @brunolm ,

How do you do to measure execution time?

8.4.0 works fine for me , I do not notice difference with 7.0.1 ,
8.6.2 is veeeery slow. I didn't tried the v8.7.0 yet

[2020-03-20 20:43] brunolm commented on #754
I have one big project, that unfortunately I can't share. The entry point is "start"

[code]

At the top of this file (after many imports) I have a `console.log(new Date())`

Then I run

[code]

And I get the diff from there.

---

✅ `ts-node@8.4.0`
- 10s
- 9s
- 9s

[2020-03-21 03:35] blakeembrey commented on #754
@brunolm Your update on 8.4 inspired me to revisit the change in that version. Can you try https://github.com/TypeStrong/ts-node/pull/985 at all?

[2020-03-21 14:08] brunolm commented on #754
https://github.com/TypeStrong/ts-node/pull/985 (`npm i -S TypeStrong/ts-node#be/improve-perf-again`)

- 10s
- 9s
- 9s
- 9s
- 9s
- 10s

Looks like you nailed it!

❤ 😄 🎉

[2020-03-21 14:14] MagnusBrzenk commented on #707
This isn't working for me. I have `ts-node` and `tsc` installed locally, but when I run: ```
./node_modules/.bin/ts-node --compiler-options "{\"module\": \"commonjs\",\"lib\":[\"es2015\",\"dom\"]}" main.ts`, I get the message `Error: Cannot find module 'typescript'...
[code]

[2020-03-21 23:31] blakeembrey commented on #973
Closing this issue due to inactivity/demand. It's a neat idea but hard in practice to maintain - if someone else was willing to maintain it externally to `ts-node`, it _could_ be used as a dependency.

[2020-03-21 23:31] #973 closed

[2020-03-21 23:33] blakeembrey commented on #754
Released as 8.8.0, please let me know if anyone sees a regression in other parts of the application (or errors with TypeScript as happened in 8.4.0).

[2020-03-22 01:27] tjx666 opened #986 "--files argument doesn't work in latest 8.8.0 version"
ts-node doesn't load declaration files and throw compile error

### reproduce

https://github.com/tjx666/coo/tree/e8861b8d5c3fb9eddea386d6854fb798757b52cd

### Specifications

* ts-node version: 8.8.0
* TypeScript version: 3.8.3
* tsconfig.json, if you're using one:
[code]
* node version: v12.16.1
* Operating system and version: win10pro 1909, not wsl

[2020-03-22 02:05] blakeembrey commented on #986
Thanks for the report! Fixed with https://github.com/TypeStrong/ts-node/releases/tag/v8.8.1. I'll look into getting a test case covering it tonight.

[2020-03-22 02:05] #986 closed

[2020-03-24 20:03] gyerts commented on #552
ts-node --files ./src/index.ts --inspect

[2020-03-24 20:04] gyerts commented on #543
ts-node --files ./src/index.ts --inspect

[2020-03-24 20:51] wolfpat01 commented on #922
i keep getting this error when i import react in node for some reason
in my project
``
import React from 'react'
^^^^^^

SyntaxError: Cannot use import statement outside a module
``

[2020-03-24 22:08] chanced opened #988 "ts-node is sporadically staying alive on changes. It happens with nodemon and VSCode debug"
### Expected Behavior
The ts-node process to be killed.

### Actual Behavior
[code]

### Steps to reproduce the problem

I apologize about the lack of detail and steps to reproduce at the moment. I'll spin up a new environment and see if I can't get it to behave in the same fashion.

I changed my package file to include latest on all dependencies hoping that may help. It did not.

[code]

### Mini

[2020-03-24 22:21] cspotcode commented on #988
What command are you running to start nodemon?  `npm run`, `yarn`, are you typing something at your bash shell?  Which lines in the log you posted are coming from your app, and which are coming from nodemon?  I don't want to assume.

I'm unfamiliar with nodemon.  If I understand correctly, nodemon is launching a process, then trying to kill it?  This sounds like a nodemon failure, where nodemon is

[2020-03-24 23:08] chanced commented on #988
@cspotcode Woops, I meant to post my commands, sorry!

[code]

The thing is it happens with VS Code debug too using the launch.json in the readme:

[code]

[2020-03-24 23:31] cspotcode commented on #988
@chanced You mention that it stays alive "on changes."  What does VSCode do in that situation?  I don't see anything in your VSCode config that restarts on changes.

Did you confirm that this does not happen when you do not use ts-node?

[2020-03-25 00:15] chanced commented on #988
WIth VS Code Debug, I have to manually restart. Sorry about that confusion.

The issue is that it is intermittent. I haven't run into the issue without ts-node but I don't have a workflow setup without it either.

I'm in the process of setting up a project to try and reproduce it but I ran into this:

With a newly minted project. I'm trying to figure out how I was able to avoid that in my codebase

[2020-03-25 00:18] chanced commented on #988
nm, I grabbed the wrong tsconfig (client vs api). That's embarrassing. Sorry for the confusion, if any.

[2020-03-25 00:23] chanced commented on #988
I'll update this if I can ever get it to reproduce on this demo app. So far it's working smoothly.

[2020-03-25 00:23] chanced commented on #988
I'll close this issue for now as it may be unrelated to ts-node.

[2020-03-25 00:23] #988 closed

[2020-03-25 08:40] tormodhau commented on #669
Adding `"lib": ["esnext"]` solved it in my case.

[2020-03-25 11:22] dilyanpalauzov opened #989 "Readme.md: require.extensions is deprecated"
Readme.md talks twice about `require.extensions`, but per https://nodejs.org/api/modules.html#modules_require_extensions this is deprecated.  Please rewrite the file, reflecting the deprecated status

[2020-03-25 14:34] cspotcode commented on #989
See past discussion: #641

Despite being deprecated for about 5 years, this feature continues to be used reliably by many tools.  Coffeescript and babel both have similar loaders.  Tools that support config files written in non-js languages use something similar, for example, via rechoir.

I checked the docs for @babel/node, @babel/register, and coffeescript.  None of them mention that `require.ex

[2020-03-25 14:35] #957 closed

[2020-03-25 14:45] dilyanpalauzov commented on #989
Moved to https://github.com/nodejs/node/issues/32483.

[2020-03-25 14:46] #989 closed

[2020-03-25 15:53] foladipo commented on #754
Big kudos to you @blakeembrey for sticking with this problem this far! I have not tried out 8.8.0 yet, but the reactions that people have made about it so far assure me that you have indeed solved the problem.

[Ẹ ṣeun pupọ](https://translate.google.com/#view=home&op=translate&sl=yo&tl=en&text=%E1%BA%B8%20%E1%B9%A3eun%20pup%E1%BB%8D)! Thank you very much!

[2020-03-26 04:41] laughinghan commented on #754
Hi, if you'd prefer I open another issue let me know, but for my project ([which is open source](https://github.com/laughinghan/mechanical), so hurray for being able to repro!), neither v8.8.1 nor reverting to v8.4.0 are remotely as big of performance improvement for as reverting to v7.0.1.

However, I think my case is different from the others, because my project is very small, and only takes a c

[2020-03-26 07:33] TechQuery opened #990 "failed to import TS file from node_modules on Linux & Mac"
## Expected Behavior

I want to import everything (including **TS source codes** in `node_modules/`) :

[code]
https://github.com/EasyWebApp/MarkCell/blob/7b43ea0/source/File.ts#L26-L29

## Actual Behavior

| OS           | result                                                                                                     |
|:----------:|:----------------------------------------------------

[2020-03-26 15:19] cspotcode commented on #990
This sounds like an issue that will be fixed by #970

The TypeScript compiler refuses to compile files with `node_modules` in their path, because it classified these files as "external."  #970 talks about how we can implement our own classification logic.

[2020-03-26 16:04] TechQuery commented on #990
@cspotcode But why Windows works? The difference of File System?

[2020-03-26 21:01] cspotcode commented on #990
Not sure, though that does seem strange.

Could be an issue with Windows paths using backslashes instead of forward slashes, or an issue with Windows being case-insensitive.

Can you simplify your reproduction to the bare minimum?  I think you can trigger the problem with only 4 files, for example: `tsconfig.json`, `package.json`, `index.ts`, and `node_modules/foo/bar.ts`.

[2020-03-27 02:32] brandones opened #991 "Presence of .babelrc in cwd changes compiling behavior"
I've created [a repo](https://github.com/brandones/require-override-problem) to demonstrate the issue. I'm not sure that it's necessarily a problem with ts-node, but ts-node does play an important role.

Let's say, as demonstrated in the repo, that I have two packages, `foo/` and `bar/`.
[code]

`cli/bin/cli.js` takes an argument `target_file`. It essentially just does a `require("ts-node").regist

[2020-03-27 02:47] brandones commented on #991
I mitigated the problem by adding `dir: __dirname` to the tsconfig I'm passing to `require("ts-node").register`.

[2020-03-27 04:27] cspotcode commented on #991
Your reproduction looks like it has some complexity that you didn't describe in your issue.  There's an `autodoc` thing being loaded, and it's patching node's require mechanism.  If that's not causing any problems, then it can be removed from the reproduction, right?  Or is it causing the problem?

You're also using `commander` which doesn't seem necessary to reproduce the problem.  I would remove

[2020-03-27 05:30] brandones commented on #991
Sure, very fair about the reproduction being overcomplicated. Please [have another look](https://github.com/brandones/require-override-problem) now that the excess has been stripped away.

I'll fix the names in the narrative description above so that they match my reproduction, sorry about the confusion.

I'm not sure we're understanding each other about the `dir` option. Here are the two scenario

[2020-03-27 08:08] sunanan opened #992 "--compiler-options not working under npm run script"
I make a simple typescript file src/test.ts:
[code]
- if I run `npx ts-node -O '{\"module\":\"commonjs\"}' src/test.ts`, it is working.
- However, if I put the cmd to package.json, then run `npm run test`. I will get error.
[code]
### Expected Behavior

### Actual Behavior
undefined:1
'{module:commonjs}'
^

SyntaxError: Unexpected token ' in JSON at position 0
    at JSON.parse (<anonymous>)
    a

[2020-03-27 08:20] TechQuery commented on #990
@cspotcode reproduction created, but GitHub Actions doesn't run...

[2020-03-27 13:39] cspotcode commented on #991
Much appreciated.  It looks like your first bullet point, which you say succeeds for you, is actually failing for me.

Here's what I did:
[code]
I get this error:
[code]

![image](https://user-images.githubusercontent.com/376504/77761433-6c79dc00-700e-11ea-9eda-a0c11931f667.png)

[2020-03-27 13:41] cspotcode commented on #990
Thanks!  The Github Actions is still experimental, I may have made a mistake.  I will take a look.

[2020-03-27 14:01] cspotcode commented on #990
I tried running and it succeeds; no errors.  Can you take another look?

I also fixed the Github Actions, so if you merge the latest master into your branch and push again, it should run.

[2020-03-27 14:03] cspotcode commented on #992
Double-quotes are escaped differently in both situations.

As you can see, ts-node is receiving the following string:

[code]
Double-quotes are missing.  You'll need to modify your package.json scripts entry so that the correct JSON is passed to ts-node.

[2020-03-27 14:40] TechQuery commented on #990
@cspotcode I don't know why the minimal reproduction is OK...

[2020-03-27 15:26] cspotcode commented on #752
Closing due to inactivity.

[2020-03-27 15:26] #752 closed

[2020-03-27 15:44] cspotcode commented on #774
This error happens when you are compiling your .ts *twice* because you double-registered ts-node.

When an async function is compiled, it gets converted to use `__awaiter` and `__generator` helpers.
[Playground example](https://www.typescriptlang.org/play/index.html?noImplicitAny=false&strictNullChecks=false&strictFunctionTypes=false&strictPropertyInitialization=false&strictBindCallApply=false&noI

[2020-03-27 15:44] #774 closed

[2020-03-27 16:25] sunanan commented on #992
Thanks @cspotcode.
but in fact, I try a lot of ways the JSON format. for example:
- `'{\"module\":\"commonjs\"}'`
- `{\"module\":\"commonjs\"}`
- `{"module":"commonjs"}`, it will throughout another exception.

and do you try the script? it is similar to npx command in terminal:
-   '{\"module\":\"commonjs\"}'

and could you please give me an example?

**npx run it working, npm run it failed**

[2020-03-27 16:40] cspotcode commented on #992
In npx, the string is being parsed by your shell.  I assume it's cmd?  Or PowerShell?  Different shells behave differently.

When you put the same text inside your `package.json`, it's inside a JSON string.  the JSON encoding is being parsed, and then the result is being passed to a shell by npm.  It is being *decoded* differently in your `npx` example compared to your `npm run` example, so you wi

[2020-03-27 17:08] sunanan commented on #992
Thanks a lot, @cspotcode,
According to your suggestion, I got the right format:
I use git-bash:
[code]
now it is working.

[2020-03-27 17:10] cspotcode commented on #992
Excellent; I'm glad it's working.  I'll close the issue.

[2020-03-27 17:10] #992 closed

[2020-03-27 23:21] brandones commented on #991
Fascinating! I will see if I can repro in a docker container this weekend.

[2020-03-29 08:52] AlCalzone commented on #972
@blakeembrey I believe we've found the root cause. See https://github.com/AlCalzone/node-zwave-js/issues/749 for details.

[2020-03-29 17:40] blakeembrey commented on #972
Nice catch! I’m going to close this one out now that you’ve got the TypeScript issue open. Thanks!

[2020-03-29 17:40] #972 closed

[2020-03-30 11:04] wspringer commented on #652
I have no idea what that means.

[2020-03-31 14:33] sylc commented on #754
On the project i'm working on I have noted an issue with ts-node 8.8.1 and typescript 3.8.3

We were using ts-node v7.0.1 and typescript 3.5.3 and it was taking 22 mins on a clone repo for ts-node to start.
Thanks to v8.8.1, still with types checking and typescript 3.5.3, it takes now 38s to start.

However, now upgrading typescript to v3.8.3, it is taking 7 mins to start.
Downgrading to typescrip

[2020-03-31 14:53] cspotcode commented on #754
To clarify, when you say those lines are slow to process, what do you mean?  Do you mean that whatever happens after those lines appear is taking a long time, or whatever happens immediately before those lines appear is taking a long time?

It might help if our debug logging included timestamps.

[2020-03-31 21:29] mi-mazouz commented on #715
can't make it work for process.env

my @types/node/process.d.ts
[code]

my tsconfig.json
[code]

I'm getting "No overload matches this call." error

[2020-04-01 12:31] sylc commented on #754
I mean that there are 100s of those lines and each of them are really slow to process, compare to with previous version of typescript.
See below extract of logging with timestamp

[code]
let me know if you need anything else. Unfortunatly I cannot share the project.

[2020-04-01 14:59] xusai2014 commented on #188
It's great.
The solution is approriate for Babel-node debug

[2020-04-02 06:50] kaiyuan0708 commented on #922
Do u solve this?

[2020-04-02 17:04] bennyn commented on #138
Thanks @jonaskello!

It also seems to work when using `ts-node` through `nyc`:

**nyc.config.js**

[code]

[2020-04-02 17:48] cspotcode commented on #991
@brandones any update on this?

[2020-04-02 18:08] cspotcode commented on #754
@sylc I don't know exactly why it's slower compared to the previous version of typescript.  But I can offer some insight as to how the compiler works.

The `Program` is immutable.  Whenever a file is added to compilation, a new `Program` needs to be created to include the new file.  The old ASTs can be reused so that the compiler doesn't need to re-parse them.

However, the typechecker must be thr

[2020-04-02 20:04] brandones commented on #991
Sorry, I've been caught up in COVID response. Thanks for the ping. I'm going to try to get to it this weekend.

[2020-04-02 20:06] cspotcode commented on #991
No rush at all, do what you gotta do.  Thanks for the reply.

On Thu, Apr 2, 2020, 4:05 PM Brandon Istenes <notifications@github.com>
wrote:

[2020-04-03 13:57] pbn4 commented on #817
How do I turn this on? setting 'incremental' in tsconfig.json does not seem to work for me.

[2020-04-03 21:21] patrickkunka commented on #266
If you're using a config file with your test scripts, this combination seems to work with mocha 7:

##### scripts
[code]

##### ./config/mocha/.mocharc.json
[code]
NB: the path supplied to watch-files must be relative to where the mocha command is called from, not the config file location, which surprised me.

[2020-04-03 22:29] KasparEtter opened #995 "Is this really the best way to make a command line script with ts-node?"
### Desired behavior

I would like to be able to have the following script at `~/projects/ts-hello/src/hello.ts`:

[code]

… and have `npm` link the executable with the following configuration at `~/projects/ts-hello/package.json`:

[code]

For this to work, both `typescript` and `ts-node` have to be [installed globally](https://docs.npmjs.com/cli/install) (see more on this below):

[code]

Additi

[2020-04-04 00:57] cspotcode commented on #995
Shebangs only allow passing a single argument to the executable.  So you cannot do any more than this:

[code]

This is a Linux kernel limitation.  Linux splits on the *first* space and nowhere else, and everything before the first space needs to be an absolute path.  You're probably on Mac, which has a non-standard shebang implementation in its kernel.

`ts-node-script` is, indeed, the recommende

[2020-04-04 08:47] KasparEtter commented on #995
Thanks for your suggestion, @cspotcode. I tried it and it didn't work for me. My `~/projects/ts-hello/package.json` is now:

[code]

… and I added `~/projects/ts-hello/src/cli-bootstrap.js` as you suggested:

[code]

In order to link the new script, I run:

[code]

As long as I'm in the project directory, the command works fine. As soon as I step out of it, I get the same errors again:

[code]

If

[2020-04-04 17:04] sylc commented on #754
@cspotcode thanks for the insight.
I did some digging. It is working fine on linux. The issue is only on windows.

I believe the difference in behavior between the 2 typescripts version come from this.
https://github.com/microsoft/TypeScript/pull/36011
especially https://github.com/microsoft/TypeScript/blob/0b38a9a2b03d3c651822bc2a20d381545384f0f5/src/compiler/program.ts#L566

When i track it down

[2020-04-04 18:09] blakeembrey commented on #754
@sylc Is the forward slashes coming from TypeScript? One thing I've had to do a bunch in `ts-node` is wrap anywhere we pass filenames in `normalizeSlashes`. If you're willing to fork this repo and find the missing culprit, that'd be really helpful (as I'm not using Windows)!

[2020-04-04 18:10] blakeembrey commented on #754
Here's an example: https://github.com/TypeStrong/ts-node/blob/92cf9613828c2ba2fe37b7a0aa7895e122c16185/src/index.ts#L606. It'd probably be worth figuring out if other cache hits like https://github.com/TypeStrong/ts-node/blob/92cf9613828c2ba2fe37b7a0aa7895e122c16185/src/index.ts#L585 are even working or if it's always falling back to disk.

[2020-04-04 18:25] cspotcode commented on #995
You'll probably need to pass flags to `register()`, telling it which tsconfig to load.

For your use-case, is your package meant to be used by anyone else?  Or only yourself?  If the former, we expect you'll pre-compile and publish to npm, or at least `npm pack` into a tarball that can be installed by others.  You're transpiling *and* type-checking at script startup, which is slowing down the user

[2020-04-04 18:31] cspotcode commented on #754
@sylc Thanks for investigating!

FWIW, I normally use WSL2 (Ubuntu) but I have access to Windows, so if you create any reproductions I will be able to run them locally.

[2020-04-04 18:50] cspotcode commented on #754
We implement `getProgramVersion` to tell the typescript compiler when we know nothing has changed.  The only time typescript should be doing `!arrayIsEqualTo(program.getRootFileNames(), rootFileNames)` is when we *know* the `Program` must be rebuilt.

I wonder if the filename inconsistency means it has to re-parse all those source files every time it rebuilds the Program, rather than reusing the o

[2020-04-04 19:33] cspotcode opened #996 "projectVersion not bumped when rootFileNames changes"
### Expected Behavior

`getProjectVersion()` is incremented when a new file is appended to `getScriptFileNames()` array.

### Actual Behavior

`getProjectVersion()` is not incremented when a file is added to `getScriptFileNames()` during typechecking, before it has been `require()`d.

@blakeembrey it looks like this was changed here:
https://github.com/TypeStrong/ts-node/pull/985/
That pull reques

[2020-04-04 23:51] blakeembrey commented on #996
Hmm, I believe I purposely reverted this in https://github.com/TypeStrong/ts-node/pull/985/commits/d133b3995c9b33fea5c994f69fa08ec6c94ec89f because I couldn't replicate any issue and wanted to avoid changing the logic you had added 😄 I can make this change again.

[2020-04-05 00:47] blakeembrey commented on #996
Actually, I take that back - it looks like I did change this in https://github.com/TypeStrong/ts-node/commit/2e9a2f170f554700470c7086089abb38b8d41adf and I believe it follows your expectation.

[2020-04-05 07:24] sylc commented on #754
@cspotcode I have made a minimal reproduction project. see README at [https://github.com/sylc/ts-node-debug](https://github.com/sylc/ts-node-debug)

[2020-04-05 10:03] KasparEtter commented on #949
I don't feel qualified enough to judge the technical implications of such a change but from my personal experience as documented in #995 I vote in favor of this in order to better match user expectations.

[2020-04-05 10:20] KasparEtter commented on #995
Thanks a lot for your elaborate response! You make a lot of good points, especially regarding the delivery of my scripts. While I studied computer science, I'm still relatively new to this whole "Node.js world" and there is still a lot of stuff that confuses me. (And Node.js has only become an option for me since I discovered TypeScript. 🤓) For now, I'm mostly trying to figure out a reasonable too

[2020-04-05 17:59] cspotcode commented on #754
@sylc great, on Windows the compiler expects all filenames to use backslashes or forward slashes?

Does the reproduction prove that the bug is causing the slowdown.  Does it get noticeably faster when #997 is merged?

I think to reproduce the slowdown, we can generate a couple hundred large, meaningless Typescript files.  These files will simulate a large project, with lots of code to parse  (for

[2020-04-05 18:17] DanielSchaffer commented on #754
@cspotcode if you want a large real life typescript project (with tests!), you can use this one that I maintain: https://github.com/just-dandi/dandi

[2020-04-06 12:56] sylc commented on #754
@cspotcode

I tried my branch on my work project and find that the speed was back to normal, i.e the same as tsc 3.7.5.
So, with tsc 3.8.3, 6 mins without my changes versus 50s with my changes

It can handle both as it is normalising the path as well. see some related [tests](https://github.com/microsoft/TypeScript/blob/afddaf090ad8e3a4d3501ce91490b5552d1e4a42/src/testRunner/unittests/paths.ts) I

[2020-04-06 13:47] brunolm commented on #754
Sorry to jump in here this might be just my opinion, but I think the original issue "Compilation is **unbelievably** slow" has being fixed. It at least for the most part went back to normal.

I was just wondering if this issue should be closed and a new one opened to go about this other issue you're talking about now. If that makes sense.

[2020-04-07 03:15] cspotcode commented on #996
Here's where I think we're missing a `projectVersion++`:
https://github.com/TypeStrong/ts-node/blob/master/src/index.ts#L489

That line is effectively adding a new entry to the `getScriptFileNames` array, which as far as I understand, is the set of "root files."  So every time we change that array, we're changing the `Program`, and we need to indicate this by bumping the `getProjectVersion`.  Othe

[2020-04-07 03:52] cspotcode commented on #996
I addressed this in #998.  Unfortunately, it resurfaces #884.

#884 was caused by `getScriptFileNames: () => Array.from(memoryCache.fileVersions.keys())`
We're only supposed to be returning `rootFileNames`; we can't including a bunch of internal lib files because it messes up typechecking.  (I haven't thoroughly dug into this yet, but this is my understanding at the moment)

The regression was bei

[2020-04-07 04:23] jpike88 commented on #261
why not just add a flag to ts-node and have it work as a passthrough?

[2020-04-07 04:34] cspotcode commented on #261
ts-node does not actually invoke a node process.  By the time ts-node is executing, it is already within a node process, and we don't want to invoke another one.  So passing CLI flags to node is not something we can do.  If we were to conditionally spawn a node process based on certain flags, this would add a bunch of complexity.

The recommended solution, mentioned [here](https://github.com/TypeS

[2020-04-07 04:40] blakeembrey commented on #261
Basically what @cspotcode said. We used to do this, then there were numerous requests for other flags to pass through. I believe it also created some obscure issues. Honestly just wasn't something we had bandwidth to maintain, and node's `--require` is already pretty great.