[2017-07-08 22:18] nevir commented on #216
I'm also seeing this on OS X with ts-node@3.2.0, typescript@2.4.1 and the config below.

`tsc` compiles, but `ts-node` fails to find any types declared via `@types/*` packages

[code]

[2017-07-09 04:50] blakeembrey commented on #382
Do you mean with an upper case P?

[2017-07-09 05:18] origin1tech opened #383 "Symbols, Object.assign etc."
Compiling via Typescript compiler has no issues, however in tests for example Object.assign is not available whereas Typescript will compiling it just fine.

Disclosure haven't used ts-node all that much usually compile then run tests in workflow but curious what I'm missing here.

The error I'm getting for Object.assign here below is obvious as to the what it is, the why it can't compile yet Type

[2017-07-09 08:23] rsxdalv commented on #382
Thank you very much!

Might I suggest adding a footnote at configuration options (README.md) to warn about default node parameters clashing if using the incorrect case?
Silly, I know, but that's what we users are, sometimes.

[2017-07-09 09:57] #382 closed

[2017-07-09 14:47] blakeembrey commented on #382
Something like https://github.com/TypeStrong/ts-node#configuration-options is?

[2017-07-09 14:49] blakeembrey commented on #383
Can share your `tsconfig.json` file? This error specifically means you have an incorrect `lib` or `target` (probably using `es5` instead of `es2015`). I'm surprised it works using `tsc` though, since they should be using the same config.

[2017-07-09 15:06] origin1tech commented on #383
@blakeembrey yeah I should have given more detail (I know better) was late last night..

<pre>
{
  "compilerOptions": {
    "declaration": false,
    "emitDecoratorMetadata": true,
    "experimentalDecorators": true,
    "lib": [
      "es6"
    ],
    "module": "commonjs",
    "moduleResolution": "node",
    "rootDir": "./",
    "outDir": "../dist",
    "sourceMap": false,
    "target": "es6",

[2017-07-09 16:27] blakeembrey commented on #383
That seems odd. It looks right. If you wanted to create a repro, I'd gladly take a look. However, it seems like correcting the errors don't really matter - in which case you can just use "fast" mode and it'll only be a transpiler - no type checking.

[2017-07-09 17:21] origin1tech commented on #383
Yeah  I saw the "fast" option.

I thought the workflow was right but for some reason it still bombs on Object.assign, baffles me because if I compile via Typescript directly even to es5 as target zero issues.

Incidentally I get argument expect errors too like expected 1 arg but got two which again is odd as that doesn't seem accurate and doesn't bomb when compiling via TS directly.

So I guess ta

[2017-07-09 18:45] aminpaks opened #384 "Not be able to use lodash with ts-node"
I cloned [this project](https://github.com/EnterpriseJSTutorial/vscode-ts-node-debugging) and added line below in `index.ts`, plus installed `lodash-es`.
[code]

Now either running it from shell or vscode debugger, it gives me this error:
[code]

Not sure what I'm doing wrong!

**index.ts**
[code]

Any advice?

[2017-07-09 18:49] blakeembrey commented on #384
Use `lodash`, not `lodash-es`. Node.js doesn't understand ES6 modules yet.

[2017-07-09 18:49] #384 closed

[2017-07-09 23:08] WhitWaldo opened #385 "TSError: ⨯ Unable to compile TypeScript (v3.2.0)"
**ts-node Version:**  3.2.0

**Description:**
I updated my npm packages today (including ts-node) and then attempted to re-run my unit tests (via Karma/Jasmine).  Unfortunately, I'm unable to share my original project with you, but while investigating this issue, I found #156, so I wanted to create a new issue to indicate that it seems to be a recurring problem.

**Actual behavior:**
I received th

[2017-07-10 02:59] origin1tech commented on #383
@blakeembrey ahhhhh it's #istanbul that's causing the issue! Just dumb thumbed it and didn't take note of "nyc's" default require statement. I need to be calling my actual custom script and not **ts-node/register** directly.

NOTE: Blake if you want me to do a PR and add this to a section in the readme or you just want to stick it elsewhere happy to take care of that...

So for posterity sake if y

[2017-07-10 03:09] blakeembrey commented on #383
Interesting. If there's a succinct way to put it in the README, go for it. It's odd since I believe a few other people have been using `nyc` without an issue. Might be good to create an `examples/` folder with these workings as integration tests.

[2017-07-10 03:13] blakeembrey commented on #385
Feel free to create a reproduction and I'll review it. Otherwise you can review the changes here: https://github.com/TypeStrong/ts-node/commit/3f0d97520ccd7574566e5970cc511937f06599af#diff-f41e9d04a45c83f3b6f6e630f10117feL542. That's the only code that changed how paths are read, but if anything I would have expected an improvement - I'm literally using the `ts.sys` methods now.

[2017-07-10 03:25] WhitWaldo commented on #385
I'll see if I can't identify a smaller repro to share and get back to you.

[2017-07-10 03:28] origin1tech commented on #383
Right...well maybe give it a thought and postback once you've decided how you want to address it.

Side note what's interesting is or should say what tripped me up was I thought well let me rename the tsconfig, make sure it bombs using the right one yada yada. Sure enough it bombs so I was thinking well it's for sure getting the right config and "es6" was set in lib so it should compile just as it

[2017-07-10 03:31] origin1tech commented on #383
...and I'll be done with this lib tomorrow so I'll push it and then you can just pull and see exactly the setup as well as play around if you wish.

[2017-07-10 08:51] cmjartan commented on #385
Same problem here, only that downgrading `ts-node` does not help. This bug only occurs after an update to yarn 0.27.5. With yarn 0.24.6 it's working fine.

[2017-07-10 13:13] josephfinlayson commented on #188
@sinedied can you share your solution?

[2017-07-10 13:31] rsxdalv commented on #382
Makes no reminder that there are still default node CLI flags.

[2017-07-10 13:48] blakeembrey commented on #382
If there's something you think it should say, definitely submit a PR.

[2017-07-10 15:04] rsxdalv commented on #382
https://github.com/TypeStrong/ts-node/pull/386

[2017-07-10 21:30] chrisleck commented on #355
Sorry for the delay - I was on vacation.  This would enable the use of cooperative file-system locking on the cache files as they're being written to.

[2017-07-10 23:12] petrgazarov opened #387 "Use with mocha and babel-plugin-rewire"
Hi,

I have the following setup:

[code]

And I'm trying to run a `mocha` test, and getting `TypeError: _get__(...) is not a function` for `__Rewire__`.

Normally you could say

[code]

But after ts-node compilation, `__Rewire__` import is undefined. I don't know the root cause here, but worth noting [this TypeScript issue](https://github.com/Microsoft/TypeScript/issues/6264)

Here is my tsconfig.

[2017-07-11 00:35] blakeembrey commented on #355
How's that compare to something like `lockfile`? I'm happy to improve the situation, my only fear is decreasing the performance which has been an issue for some time (hence a cache and suggesting the locking solution combined with moving to a single file cache to mitigate any perf overhead).

[2017-07-11 00:38] blakeembrey commented on #387
Have you tried checking the compilation output with `tsc` and compared to `tsc`? That would tell us what the issue is. I'd guess it's an issue with `rewire` though - check out the limitations: https://github.com/jhnns/rewire#limitations.

[2017-07-11 15:32] petrgazarov commented on #387
Hm, when I use `tsc` to compile, the resulting js file is working fine.

ts file:
[code]

becomes js:
[code]

When mocha runs with `babel-plugin-rewire` against the resulting js file, it works well.

So I think there is a difference between `tsc` compilation and `ts-node` compilation.
Is there a way to check `ts-node` compilation result?

`ts-node src/index.ts` just runs the code.

[2017-07-11 18:07] FrozenPandaz commented on #385
I'm also running into this with karma tests?

Started to occur after upgrading to typescript 2.4.1 but was able to fix it by removing ts-node...

[2017-07-11 18:57] blakeembrey commented on #387
You can try finding it in the cache directory. It should be the same output. The only other thing I'd suggest is whether `babel-plugin-rewire` is maybe only running on `.js` and not `.ts` then.

[2017-07-12 07:09] sinedied commented on #188
Here is my `tsconfig.json`:
[code]

[2017-07-12 21:44] sharikovvladislav opened #388 "Question: is it possible to specify custom path to tsconfig?"
Hi!

I use it like this:
[code]

This requires `e2e/tsconfig.json` by default. I can not find an option to change tsconfig filename. Is is possible?

[2017-07-13 01:55] blakeembrey commented on #388
Set `project` to a filename instead of a folder. Feel free to update the docs if that's unclear, but it's pretty much how `tsc` works too.

[2017-07-13 06:48] sharikovvladislav commented on #388
@blakeembrey  OK thank you! I am bot sure, may he it is unclear for me because my English is not perfect.

I had doubts because phrase says that project is a path to tsconfig.json. That fact that type script configuration file name is specified explicitly caused my doubts I think.

[2017-07-13 14:32] blakeembrey commented on #388
No, absolutely. I can see the reason it's not clear, but I don't have a better name for `tsconfig.json`.

[2017-07-13 14:41] sharikovvladislav commented on #388
"No" what?

I have `tsconfig.e2e.json`.

You name it explicitly: `tsconfig.json`. If config name was more common, I think nobody will have problem there. For example: "path to typescript configuration file".

[2017-07-13 15:16] blakeembrey commented on #388
Feel free to submit a PR.

[2017-07-13 18:07] sodiumjoe opened #389 "module resolution at runtime is confusing"
Here's the minimal repro:

`index.ts`:
[code]

`foo.ts`:
[code]

`foo.json`:
[code]

`package.json`:
[code]

[code]

AFAICT, `ts-node` defers to node's native require before resolving its internally compiled modules, which means the `.json` file on disk wins. I think this should be considered a bug though, since the module resolution is different from typescript's, and behavior between running `ts

[2017-07-14 16:49] chrisleck commented on #355
`lockfile` works if you want a separate lock file rather than locking the cache file itself.  Do you imagine one lockfile per cache file?  I don't see how this would work well with a single cache file - parallel builds would serialize on each other as the single file gets locked.

[2017-07-14 19:57] leoasis opened #391 "ts-node fails when tsc runs ok"
I have an app with `ts-node` and `ts-babel-node` configured (using the register require). When I try to start the app, I get the following error (app specific):

[code]

But when I run `tsc`, it gives no errors. Also, in VSCode, I see no error when viewing that file.

I managed to see why this was happening and this block caught my attention (https://github.com/TypeStrong/ts-node/blob/6748fa378023

[2017-07-14 20:35] leoasis commented on #391
Ok I found a quick way to reproduce it. Check this repo I created: https://github.com/leoasis/ts-node-error

There are two scripts to run:

If you run `npm run tsc`, that will run `tsc` and you can verify it runs without any errors.

If you run `npm run ts-node` that will run `ts-node start`, in which case you can verify there's an error.

The problem is when there are files that are augmenting ot

[2017-07-14 20:42] sharikovvladislav commented on #388
https://github.com/TypeStrong/ts-node/pull/392

What do you think?

[2017-07-14 21:19] blakeembrey commented on #391
Adding every file resolved by TypeScript can make the project slow(er) to startup. I understand how this could cause issues, but I'm not sure if it's a bug. The reason this is there is that TypeScript and `ts-node` could end up running using entirely different code paths and you'll end up loading an entirely unused dependency tree. Having it support `.d.ts` files by default was something I added a

[2017-07-14 21:20] blakeembrey commented on #389
This is expected and not a bug.

[2017-07-14 21:20] #389 closed

[2017-07-14 21:59] leoasis commented on #391
I don't think that's the correct expectation, nor a bug. In Typescript, in VSCode and even in awesome-typescript-loader this is the case for files that augment modules and are not explicitly required. I think it's not that unexpected given that you specify a directory or explicit files for TS to type check.

In any case, since this is how the other environments work, people rely on this feature, a

[2017-07-15 00:13] sodiumjoe commented on #389
Thanks for the response. I don't think I explained the issue clearly enough.

The problem is that running `ts-node` at dev time could have different results from running `tsc` to build production code and running that built javascript.

I'm not suggesting changing the way node.js requires. I'm suggesting `ts-node` behavior should match the behavior of `tsc && node`.

If you're saying this is a kno

[2017-07-15 02:34] blakeembrey commented on #389
Thanks for the extra explanation, I understand better now. Unfortunately I think this is still `wontfix`. I've given a similar answer with a different feature before (`.js` actually resolves over `.ts`, but TypeScript uses `.ts` over `.js`). I just wouldn't want to get into a situation where I'm messing with the node.js internal require pattern. The two approaches I saw was:

1. Mess with the obje

[2017-07-15 03:04] blakeembrey commented on #391
I see. This was never a real issue in the past, pre-`include` and the default "include everything" behaviour, because TypeScript figured out the project from the entry points. Now that everything is considered an entry point in this case, any of it could result in a runtime failure if it were accidentally excluded. This behaviour is definitely expected in `ts-node` as it's been here for a year and

[2017-07-15 03:08] blakeembrey commented on #355
So your thought is keeping separate cache files of each content and locking each one on read/write? My reasoning was that it'd be a single cost at startup by using a single file, instead of a consistent cost throughout the entire runtime, but I might be thinking about this incorrectly.

[2017-07-15 03:51] sodiumjoe commented on #389
Ok, thanks for your explanation. Unfortunate, but understandable. Also, thanks for the great package!

[2017-07-16 02:18] petrgazarov commented on #387
Confirmed that `babel-plugin-rewire` was not running on `.ts` files in my case.

When using `--require babel-register`, there is currently no way to specify extensions, because extensions [are not managed from `.babelrc` file](https://github.com/babel/babel/issues/3741).

Instead, the only setup that worked for me was to use webpack compilation via [mocha-webpack](https://github.com/zinserjan/moch

[2017-07-16 02:18] #387 closed

[2017-07-17 15:16] Jack-Works commented on #351
Hope for the solution. Thanks.

[2017-07-17 15:27] leoasis commented on #391
I'm not very familiar to how Typescript does it, but isn't there a way to reuse what they do? Is `tsc` slow at startup for big projects? Not sure how much of what they do needs to be reimplemented instead of used.

Anyway, will try to investigate a bit more, not very familiar with internals.

[2017-07-17 17:40] chrisleck commented on #355
Moving to a single file would block parallel compilers behind that single file.  I believe we need to keep individual cache files for this to work properly.

[2017-07-18 01:18] blakeembrey commented on #391
`tsc` can be a little slow on startup, and this may be a non-issue today. It was definitely an issue in earlier TypeScript and `ts-node` releases (like, way back, 1.5 or so). I did a lot then to improve perf, so maybe it's a non-issue. I do think switching the default to be fast by default might be a good idea - but I don't have good statistics on who's using it for testing vs runtime today.

[2017-07-18 01:20] blakeembrey commented on #351
@Jack-Works What exactly do you hope for? You can install the node.js typings to have it working.

[2017-07-18 01:28] Jack-Works commented on #351
Install @types/node locally? That's strange...
I think I may not want to install it everywhere since I may start it
everywhere...

On Tue, 18 Jul 2017, 09:20 Blake Embrey, <notifications@github.com> wrote:

[2017-07-18 14:10] blakeembrey commented on #351
See my comment in https://github.com/TypeStrong/ts-node/issues/351#issuecomment-307179726. I will update it when I have time. You're welcome to make a PR if you need this ASAP, but I don't think this is hugely unexpected since it is called `ts-node` and likely needs node.js typings to work anyway.

[2017-07-18 22:07] chrisleck commented on #355
I'll try putting together a PR for this and send it your way.

[2017-07-18 22:13] rajgopalv commented on #391
[code]

[2017-07-18 22:19] rajgopalv commented on #385
1usmvaithiya1:~ vaithiya$ npm install -g ts-node
/usr/local/bin/ts-node -> /usr/local/lib/node_modules/ts-node/dist/bin.js
/usr/local/bin/_ts-node -> /usr/local/lib/node_modules/ts-node/dist/_bin.js
/usr/local/lib
└─┬ ts-node@3.2.0
  └─┬ chalk@2.0.1
    └─┬ ansi-styles@3.1.0
      └─┬ color-convert@1.9.0
        └── color-name@1.1.3

1usmvaithiya1:~ vaithiya$ npm install typescript -g
/usr/local/b

[2017-07-18 23:52] blakeembrey commented on #385
@rajgopalv That issue is unrelated, but logged - see https://github.com/TypeStrong/ts-node/issues/351.

[2017-07-18 23:54] blakeembrey commented on #355
It depends. If they are all the same project, there isn't any real advantage I see from re-using the cache in parallel anyway.

Absolutely. Would be curious on what your thoughts are for a "fast" default (no type checking), it might alleviate a need for caching by default.

[2017-07-19 14:59] mtfranchetto commented on #391
I'm also having similar issues, tsc works fine but ts-node reports some errors. For example:

[code]

This error comes from the duplicate import of the rxjs library: after a symlink (npm link) is made tsc is building while ts-node is still failing with the above error.

[2017-07-19 15:21] blakeembrey commented on #391
@mtfranchetto That seems unrelated and `tsc` should also be failing there. It's a common issue with TypeScript, you can search the issue backlog over there.

[2017-07-19 15:44] mtfranchetto commented on #391
@blakeembrey My testing situation is the following: I have module A and module B, both modules depend on rxjs and B depends on A. When testing/building module B tsc and ts-node give me the same error (Two different types with this name exist, but they are unrelated). After linking the rxjs version of module A to module B tsc correctly builds  (since the package is exactly the same) but ts-node is

[2017-07-19 18:24] bradlord opened #393 "Source mapping fails for .tsx files with compiler option: {jsx: 'react'}"
`ts-node` is generating an invalid source map source map when TypeScript's `jsx` option is set to `'react'`. The comment looks something like this:

```//# sourceMappingURLdata:application/json;[...]```

instead of

```//# sourceMappingURL=data:application/json;[...]```

Note that the `=` is missing after `sourceMappingURL`. The culprit seems to be in the [updateOutput](https://github.com/TypeStro

[2017-07-19 18:27] bradlord commented on #393
I don't have time to do a pull request, at the moment, but I have success in writing an [alternate implementation](https://github.com/bradlord/ts-node/blob/master/src/index.ts#L512-L525) of `updateOutput` which does not make assumptions about the length of the source map's filename:

[code]

[2017-07-19 19:41] blakeembrey commented on #393
Thanks for the catch, I'll need to make sure I test this in the future. This is definitely a recent regression (last couple of months), apologies for that.

[2017-07-19 19:52] blakeembrey commented on #391
Feel free to make a new issue about it with a repro and I can take a look. There might be something related to the language service usage that's using the symlink paths instead of the real paths. I don't believe it's related to this issue, that's all - this one is explicitly related to excluding side-effect based augmentations.

[2017-07-19 23:39] chrisleck commented on #355
RE: same project: the benefit is when a project runs a bunch of compile steps in parallel where they share some underlying shared code (as is the case for my repo).  Specifically, we run our ~9500 mocha unit tests in batches through 8 parallel threads.  Some of these parallel tests end up requiring the same files.  Without some form of locking on the cache files, the tests clobber each other attem

[2017-07-20 00:49] blakeembrey commented on #355
Makes sense. As a default, would it be detrimental (e.g. instead of `--fast`, there'd be `--type-check` or similar)?

Another idea - what if we check that the file ends in a valid source map before using it? That might be the perfect compromise since it's always at the end of the file.

[2017-07-20 01:40] chrisleck commented on #355
On Jul 19, 2017 5:49 PM, "Blake Embrey" <notifications@github.com> wrote:

Makes sense. As a default, would it be detrimental (e.g. instead of --fast,
there'd be --type-check or similar)?

Happy to go either way on default behavior, as long as I can turn it on in
mocha via env var.

Another idea - what if we check that the file ends in a valid source map
before using it? That might be the perfect

[2017-07-20 01:56] chrisleck commented on #355
https://github.com/TypeStrong/ts-node/pull/394

[2017-07-20 13:30] dan-j commented on #393
I was just about to report this! I've been having trouble using ts-babel-node, got it working (version incompatibilities between that and this module) thought everything was fine and then BAM! Didn't work for .tsx files! :expressionless:

Do you need any effort to fix it? Might be able to contribute something tomorrow?

[2017-07-20 16:18] #393 closed

[2017-07-20 17:31] blakeembrey commented on #393
Feel free to give https://github.com/TypeStrong/ts-node/releases/tag/v3.2.1 a go!

[2017-07-21 08:57] mtfranchetto opened #396 "Ts-node fails when using symlinks"
Hi,

I'm reporting here an issue I described here https://github.com/TypeStrong/ts-node/issues/391#issuecomment-316428908.
To reproduce the problem you can just use the frameworks we are developing.

`
git clone -b housekeeping git@github.com:tierratelematics/prettygoat.git
`
`
git clone -b 4.0.0-alignment git@github.com:tierratelematics/prettygoat-cassandra-store.git
`

You can download the sourc

[2017-07-21 19:02] sharikovvladislav commented on #388
Fixed in #392

[2017-07-21 19:02] #388 closed

[2017-07-22 17:49] mattdell commented on #182
Funny that I've googled this again and found my own answer unsatisfactory.

This time I've got around it by using the babel compiler before `ts-node`. This feels like a better approach to me.

[code]

[2017-07-22 20:12] blakeembrey commented on #182
If you quoted it in the test script, does that also fix your issue? I'm not sure what the problem would be there, but there's probably differences in the shell expansion used by Mocha vs your shell.

[2017-07-24 09:54] flohil opened #397 "ts-node@3.2.1 "freezes" on large file imports"
Since using ts-node@3.2.1, I can't import large javascript files any longer.
I am using typescript@2.4.2 on a Ubuntu 16.04 machine with node@6.11.0.

If I do an import like `import * as brick_bodies from './brick_bodies'`,
ts-node freezes and the node process keeps running at 100% cpu load.

brick_bodies.js is a big javascript file (~80000 lines) which exports an array of json objects.

The import

[2017-07-24 17:39] blakeembrey commented on #397
Thanks for the report. The demo was super useful for me to verify that this was a problem. Give https://github.com/TypeStrong/ts-node/releases/tag/v3.2.2 a go, it seems to have resolved your issue 😄

[2017-07-24 17:39] #397 closed

[2017-07-24 17:48] blakeembrey commented on #310
@bcoe I see the original linked issue is closed. Did this get resolved?

[2017-07-25 20:31] gpresland commented on #266
I managed to get `--watch` working with:

**package.json**

[code]

**mocha.opts**

[code]

[2017-07-29 22:21] Deathangel908 commented on #182
@jeffrey-l-turner well, `tsc` ` "module": "commonjs",` works but it doesn't allow using  ;(
[code]

[2017-07-30 23:20] blakeembrey commented on #182
@Deathangel908 Both of those are incorrect. It should be `import * as fs from 'fs'` and `import * as path from 'path'`.

[2017-08-01 16:52] origin1tech commented on #383
@blakeembrey you want to close this? All is working well here, let me know if you want me to PR any docs on this. You can see how this is working at https://github.com/origin1tech/chek

Key things to look at here are:

"nyc" property in package.json
"spec.js" in build/spec.js
"tsconfig.json" & "tsconfig.spec.json" in src/
"mocha.opts" in src/
"test" property in package.json "scripts" key.

Hope th

[2017-08-01 17:00] blakeembrey commented on #383
Thanks. Feel free to create a PR with an `examples/nyc` folder. Maybe we can add it to the test suite in the future.

[2017-08-01 17:00] #383 closed

[2017-08-01 18:53] mccool commented on #46
I just got an even easier option for debugging ts-node with webstorm. Just add a script in your `package.json` file like
`"start": "./node_modules/.bin/ts-node $NODE_DEBUG_OPTION --project src ./src/index.ts`

The project flag is described in the readme for ts-node and the last argument is the path to your script to run, in this case it's my express app.

With this you can use control + option + d

[2017-08-02 13:34] e-cloud commented on #156
I tried to run this file https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/lodash/scripts/generate-modules.ts under DefinitelyTyped repo, but got this error:

[code]

Both ts-node and typescript are latest by the time.

[2017-08-02 20:38] blakeembrey commented on #156
@e-cloud That looks like a legitimate issue to me. See the error, it's not a problem with `ts-node` but the file. You can't iterate a `Set` unless you're compiling ES6 IIRC.

[2017-08-02 20:42] blakeembrey commented on #156
Oh, actually, it's your issue. You need to be in the directory to use the correct `tsconfig.json` file. This works the same as TypeScript. You're basically using the `tsconfig.json` file I noticed above which is for ES5 and not ES6.

[2017-08-02 21:10] DarthDerrr opened #399 "Strange Compilation Issue"
Hi.

I have a strange issue trying to use typescript, mocha and nyc. I think I made a project as simple as it could possibly be, but I get an error from ts-node when trying to run coverage (npm run test). Just running the mocha unit tests works (npm run test:unit) though.

I got this to work when transpiling typescript first to a lib directory and running tests against that directory but I ended u

[2017-08-02 21:53] blakeembrey commented on #399
Looks like the loaders are bundled in the wrong order. `ts-node` defers to the built-in `.js` loader, which is probably `nyc` and is adding the coverage to the file. Have you tried reading the `nyc` docs or using `nyc --require` instead of mocha extensions?

[2017-08-02 21:55] blakeembrey commented on #399
Check out https://istanbul.js.org/docs/tutorials/typescript/, it might help.

[2017-08-03 06:22] e-cloud commented on #156
Sorry for not noticing the tsconfig issue. It indeed works if i cd to the `scripts` dir

[2017-08-03 11:43] DarthDerrr commented on #399
Thanks @blakeembrey. That tutorial helped.

[2017-08-03 11:43] #399 closed

[2017-08-04 08:57] OliverJAsh opened #400 "Stuck in type checking loop"
Hi!

I have a project which compiles OK using `tsc`, but when I use `ts-node` it seems to get stuck in an infinite loop of `fileExists` and `directoryExists` (seen when enabling `TS_NODE_DEBUG`).

If I specify `TS_NODE_FAST`, the script will complete successfully. This seems to suggest the problem is related to the type checking.

Do you have any tips for debugging this? Have you seen this issue b

[2017-08-04 12:48] tlaziuk commented on #396
I've similar issue when using a `bin` file, it may be related.

The bin file:
[code]

So this is a bin file, a symlink to that file is created in `/usr/bin/BIN` which is pointing to a real path, eg. `/home/tlaziuk/project/bin/index.js`.

`../cli/index` is a TS file which compiles without any problems when using the `tsc`.

when the bin file inside the project root everything works fine, but when I

[2017-08-04 20:05] blakeembrey commented on #400
I haven't encountered this before, no. Seems odd, since only TypeScript is in charge of traversing the files. There's a couple of things I can think of to verify that we could could try:

1. Replace `ts.sys.directoryExists` with a custom implementation - here's some code from a previous implementation: https://github.com/TypeStrong/ts-node/commit/3f0d97520ccd7574566e5970cc511937f06599af#diff-f41e9

[2017-08-05 08:27] greenkeeper[bot] opened #401 "An in-range update of chai is breaking the build 🚨"
## Version **4.1.1** of [chai](https://github.com/chaijs/chai) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2Fchai-4.1.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      chai
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Version

[2017-08-07 04:23] greenkeeper[bot] opened #402 "An in-range update of chalk is breaking the build 🚨"
## Version **2.1.0** of [chalk](https://github.com/chalk/chalk) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2Fchalk-2.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      chalk
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versio

[2017-08-07 10:41] OliverJAsh commented on #400
Thanks @blakeembrey!

I just tried replacing `directoryExists` with a custom implementation and I'm now getting a `Cannot find module` `TSError` for a module in `node_modules`. I'm not sure if this is related.

I also tried removing the version increment (`+ 1`) from `setCache`, just to see if that made any difference, but I'm not seeing any changes.

For context, I am using `ts-node/register` alo

[2017-08-07 17:22] blakeembrey commented on #400
Do you have a type definition for the module that gets "Cannot find module"? The odd thing is that the TypeScript implementation should be largely the same as the custom one: https://github.com/Microsoft/TypeScript/blob/bb34bce4208c8a7b1e875a27b07e67dea0e7fe7a/src/compiler/sys.ts#L318-L337.

[2017-08-07 17:28] OliverJAsh commented on #400
I don't have a type definition, but I haven't enabled `noImplicitAny` so that shouldn't matter.

Hmm, very odd.

[2017-08-07 22:50] greenkeeper[bot] opened #403 "An in-range update of tslint is breaking the build 🚨"
## Version **5.6.0** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2Ftslint-5.6.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-08-08 15:41] gluons commented on #182
Thanks @jeffrey-l-turner . You save me. 👍

`ts-node -O '{ "module": "commonjs" }'` work for me. 🎉

[2017-08-09 23:22] #401 closed

[2017-08-09 23:22] #402 closed

[2017-08-09 23:22] #403 closed

[2017-08-12 19:47] yveskaufmann opened #405 "TS-node should not create a .v8flags[hash].json file in the root of the project"
Hi!

When using ts-node then its creates v8flags[hash].json file in the root of my npm based project.
Is there an option to to set the location for the v8flags[hash].json file ?

Thanks

Yves

[2017-08-14 17:19] blakeembrey commented on #405
What node version are you on? That file comes from https://github.com/js-cli/js-v8flags, but it should be set based on your home directory. I am not support node < 4.

[2017-08-15 07:15] #405 closed

[2017-08-16 13:39] xeoneux opened #406 "Support for dynamic imports"
`ts-node` is failing while generating JS file for TS file with dynamic imports.
It transpiles the symbol `import` as it is.

[2017-08-16 16:30] xeoneux commented on #406
The failure is in TypeScript and not `ts-node`. Closing the issue...

[2017-08-16 16:30] #406 closed

[2017-08-16 23:53] niedzielski commented on #106
Thank you for providing this tool! Just curious (and I think the answer is that this functionality is not supported and there are no plans for it) but `tsc` provides a watch option. When I enabled it via `ts-node -O '{ "watch": true }' (or directly in the config file), I was hoping to see the same file monitoring behavior but it seems to have no effect. Is this intentional?

[2017-08-17 03:38] blakeembrey commented on #106
@niedzielski What exactly would a "watch" mode do in your mind?

[2017-08-17 18:46] david-reir opened #407 "Intersection types not working"
I'm testing the example of typescript handbook about intersection types and it's not working. It works well with tsc but it doesn't with ts-node.

[code]

The error says:
[code]

[2017-08-18 00:34] niedzielski commented on #106
@blakeembrey, I was thinking watch would allow `tsc` to recompile files automatically as per usual and `ts-node` would wait for compilation completion and automatically shutdown and restart the server for each change. For example, an alternative would be: `nodemon -e ts -x ts-node`. I realize I'm probably naively missing a lot of detail but I don't think the need is uncommon.

[2017-08-18 00:38] blakeembrey commented on #106
Use `nodemon` or `onchange` like I mentioned. This isn't really something that should be supported by `ts-node` as it'll just create more issues (why does it restart the server instead of reloading a single file, etc). I don't really want to deal with those. It would also complicate the project with the need to watch files, when there's better programs out there already (nodemon, pm2, onchange, et

[2017-08-18 00:48] blakeembrey commented on #407
Works for me. You will need to provide more information if you expect help.

![image](https://user-images.githubusercontent.com/1088987/29439693-28fd83ca-8374-11e7-9ba7-641f6bd8e5d3.png)

[2017-08-18 00:53] niedzielski commented on #106
@blakeembrey, thanks for the follow-up and reasoning!

[2017-08-18 01:02] blakeembrey commented on #106
No problem. I honestly did consider having a flag to enable the behaviour, but unfortunately there's runtime and code overhead (watching the files in the project for changes). If it provided a performance benefit (e.g. possible to reload a single file efficiently in node.js), I'd be willing to revisit the topic.

[2017-08-18 03:05] whitecolor commented on #106
@niedzielski you may just try [ts-node-dev](https://github.com/whitecolor/ts-node-dev) this is modified version of [node-dev](https://github.com/fgnass/node-dev) (which is the fastest node watcher/reloader) that uses ts-node for compilation and it doesn't reinitialize whole compilation process on each change like `nodemon -e ts -x ts-node`

[2017-08-18 03:11] blakeembrey commented on #106
@whitecolor You should probably get that in the README somewhere 😄

[2017-08-19 03:18] niedzielski commented on #106
@whitecolor thanks!

[2017-08-21 09:26] sixmen opened #409 "Prevent re-register"
If I require 'ts-node/register' twice, it does not run well. For examples,

my.ts:
[code]

index.js:
[code]

If I run with `node index.js`, it works. But if I run with `ts-node index.js`, it fails.

In the real world, I run app with ts-node.
And config module, which I use, also register ts-node ( https://github.com/lorenwest/node-config/blob/master/lib/config.js#L872 ).

[2017-08-22 13:25] bussiere opened #410 "TSError: ⨯ Unable to compile TypeScript Property 'escape' does not exist on type 'RegExpConstructor'"
Here is my code  :

`                            [this.path]: { $regex: new RegExp(RegExp.escape(node.value), "i") }`

So it seems to be some problems with the regExp objects because i have no problem when i compile typescript;

put just this in a file  :

`new RegExp(RegExp.escape("toto"), "i");`

and it bugs.

thanks and regards

[2017-08-22 15:07] #410 closed

[2017-08-23 03:56] blakeembrey commented on #409
There's no great way to do this except for throwing an error and making it impossible for your code to execute. If I silently allow one and not the other, especially in this case, it's pretty likely the compiler options or configuration options are different and that'll result in an inconsistent runtime. I'd recommend you use a different module (there should be no reason for a config module to alt

[2017-08-23 03:59] blakeembrey commented on #407
Closing this now. Feel free to continue the discussion and I'll re-open.

[2017-08-23 03:59] #407 closed

[2017-08-23 12:30] xnnkmd opened #411 "Errors the 2nd time I run ts-node (using jasmine-ts) because of cache issue"
I have a jasmine-ts project (backed by ts-node) that succed the first time it runs but if I make a small insignicant change to the code and re-run the test it breaks with typescript compilation issues unless I clean  ts-node's cache. BTW: Compiles fine with tsc.

I guess this is ts-node related?

I am using typescript 2.3.4, ts-node 3.3.0 and jasmine-ts 0.2.1

[2017-08-23 23:35] blakeembrey commented on #411
Can you share the error or a reproducible demo?

[2017-08-24 04:57] blakeembrey commented on #379
Closing as unanswered.

[2017-08-24 04:57] #379 closed

[2017-08-24 05:00] blakeembrey commented on #351
This should have been fixed with https://github.com/TypeStrong/ts-node/pull/404, but the I lost the PR 😜

[2017-08-24 05:00] #351 closed

[2017-08-24 05:06] blakeembrey commented on #374
I'm going to close it with https://github.com/TypeStrong/ts-node/pull/376, but feel free to let me know if there's anything else I can do to help make the experience better.

[2017-08-24 05:06] #374 closed

[2017-08-30 15:27] kemalcany opened #416 "--expose-http2 node.js CLI argument doesn't seem to work"
Hi guys,

Thanks for maintaining this awesome project!

I couldn't get ts-node to start my server with the [--expose-http2](https://nodejs.org/api/cli.html#cli_expose_http2) node.js default CLI argument (from v.8.4.0 onward, currently in experimental stage)

Expected behaviour is the server to start and give a warning like below.
`
(node:8404) ExperimentalWarning: The http2 module is an experiment

[2017-08-30 15:49] iDaN5x commented on #385
**Experiencing the same issue with:**
ts-node v3.3.0
node v8.4.0
typescript v2.4.2

**Reproduction**
[code]

[2017-08-30 16:50] blakeembrey commented on #416
You'll need to add it to the list here: https://github.com/TypeStrong/ts-node/blob/master/src/bin.ts#L19. It'll be released with 4.0 of `ts-node`. For now, you can use `node -r ts-node/register` instead.

[2017-08-31 14:29] astashov commented on #400
I have a similar issue, but it's somewhat intermittent. I use `ts-node` to run `mocha`, via `ts-node/register`. If I run `npm run test` with `TS_NODE_DEBUG`, and if it's not stuck, then I mostly see `module._compile` / `readThrough` for each file, going through like 150-200 files per second and then the actual tests start.

In case when it's stuck, I see `module._compile` / `readThrough` first goi

[2017-09-01 06:58] k8w commented on #46
@dupski @blakeembrey

It seems this only works when ts-node is installed in the workspaceRoot, but not work when refer to a global `ts-node`.
While `mocha` with `ts-node` works both global and local.

[code]

[2017-09-04 01:41] greenkeeper[bot] opened #417 "An in-range update of diff is breaking the build 🚨"
## Version **3.3.1** of [diff](https://github.com/kpdecker/jsdiff) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2Fdiff-3.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      diff
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versi

[2017-09-04 03:36] #417 closed

[2017-09-05 02:00] k8w opened #418 "[Feature Request] Support custom node options"
For example, I want to use `ts-node` with node option `--expose-gc`.
But it seems ts-node not support `--expose-gc`

[2017-09-05 02:43] blakeembrey commented on #418
Feel free to submit a PR to https://github.com/TypeStrong/ts-node/blob/2ee95755a2013e88d8b6cc92aa6d34b6d32bc203/src/bin.ts#L19. You can use `-gc` for now.

[2017-09-05 23:10] IAMtheIAM commented on #46
@mccool I could not get any of the 3 examples you explained working for IntelliJ / WebStorm. When I do your 3rd option `    "debug": "./node_modules/.bin/ts-node --debug-brk --project tsconfig.json ./app/server.ts",`

then start the debugger, it says `Debugger listening on [::]:5858` but then my main app is not running on port 5000, so when I load the page, nothing happens. If I start the app serv

[2017-09-06 09:17] SamuelMarks commented on #385
Same problem here:
[code]

[2017-09-08 01:13] sixmen opened #420 "The meaning of TS_NODE_FAST is wrong"
I found something wrong in #412.
( https://github.com/TypeStrong/ts-node/pull/412/files#diff-f41e9d04a45c83f3b6f6e630f10117feR100 )

I think that `typeCheck: yn(process.env['TS_NODE_FAST'])` should be `typeCheck: yn(process.env['TS_NODE_TYPE_CHECK'])` or `typeCheck: !yn(process.env['TS_NODE_FAST'])`

[2017-09-08 01:41] blakeembrey commented on #420
Thanks for the catch. Feel free to submit a PR 👍

[2017-09-11 08:40] tedcurrent opened #422 "ts-node cannot find module"
I have two files:
- `src/app/index.ts`
- `src/config.ts`

Within `index.ts`:
[code]
Within `config.ts`:
[code]
I have a `tsconfig.json` file:
[code]
Running `ts-node ./src/app/index.ts` throws me: `Error: Cannot find module 'config'`. Setting `moduleResolution` to `classic` doesn't change anything.

Versions:
[code]

Any ideas if this is a ts-node issue, typescript issue or did I do something wron

[2017-09-11 18:13] blakeembrey commented on #422
Have you tried compiling with regular TypeScript? Otherwise, I'd guess you haven't written a definition file - this is the standard error from TypeScript when it can't find the definition for a module.

[2017-09-11 18:15] blakeembrey commented on #422
Actually, it looks like you expect it to find `config.ts` from `app/index.ts`? You should use relative paths `import {} from '../config'`.

[2017-09-12 05:25] sgwatgit opened #424 "Can ts-node work with standard-things/esm?"
I realize ts-node does not support ES modules because node does not (yet), so I would like to use esm as the compat layer for using ES modules in node.
https://github.com/standard-things/esm

main.ts
[code]

test.ts
[code]

tsconfig.json
[code]
I'm running `ts-node -P ./tsconfig.json ./main.ts`

Error
[code]
The paths in the error above were truncated by me - they were printed as absolute filesyst

[2017-09-12 12:35] tedcurrent commented on #422
Thanks for the reply @blakeembrey. I've run this with `tsc --traceResolution` and the resolution works fine as seen here:
[code]
What I actually discovered was that I have to have the environment variable `NODE_PATH` set to `src` also. I ended up running the following: `NODE_PATH=./src ts-node ./src/app/index.ts`.

Now I know we can't set environment variables in tsconfig, this would be convenient

[2017-09-12 16:29] blakeembrey commented on #422
Environment variables don't really have anything to do with `ts-node`. You can set it just like you are, or before `nodemon` if you wanted. You can also modify the require function in node.js using https://github.com/TypeStrong/ts-node#loading-tsconfigjson if you wanted to. I don't intend to have `ts-node` have the ability to alter the runtime require behaviour of node.js in any way directly.

[2017-09-12 16:58] blakeembrey commented on #424
You should open an issue at `source-map-support`, which is how we map the JavaScript runtime errors to correct line numbers. The error in your stack trace starts here: https://github.com/evanw/node-source-map-support/blob/b9b5a5576272916237a253393220770c858685d6/source-map-support.js#L422. Looks like whatever it being thrown can not be stringified, I'd say `source-map-support` should be using `Str

[2017-09-12 16:58] #424 closed

[2017-09-12 17:04] blakeembrey commented on #424
Can you log and find out what error object is being thrown at that line?

[2017-09-12 17:14] #420 closed

[2017-09-12 17:27] blakeembrey commented on #367
Any thoughts on how you think we could solve this correctly? It'll always be an issue when forking another process to do work, so I'd love to hear your thoughts.

[2017-09-12 17:28] #416 closed

[2017-09-12 17:28] #418 closed

[2017-09-12 17:30] blakeembrey commented on #355
I believe this has been solved 😄 Let me know if it wasn't and I'll re-open.

[2017-09-12 17:30] #355 closed

[2017-09-12 17:45] sgwatgit commented on #424
@blakeembrey Definitely, I'll add some more info here shortly! Thanks

I figured the issue was with `node-source-map-support` but I'm so new to `ts-node` I wasn't sure what the interplay was.

I realize I'm playing on bleeding edges here so I don't expect a reasonable solution (if any) - just exploring my options.

[2017-09-13 07:43] tedcurrent commented on #422
Alright, thanks for the comments!

[2017-09-13 07:43] #422 closed

[2017-09-13 17:11] EvanCarroll commented on #351
Still getting this error.

[2017-09-14 14:28] jordond commented on #327
I'm still having this issue, even with the latest version of ts-node.  I've worked around it for now by adding the "--no-cache" flag.

[2017-09-14 22:02] Olian04 commented on #385
Having the same issue as @iDaN5x

[2017-09-14 22:03] Olian04 commented on #351
Having the same issue on Ubuntu 17.04

[2017-09-14 22:17] #310 closed

[2017-09-15 17:19] blakeembrey commented on #351
It hasn't been released yet. It will be released with 4.0.

[2017-09-17 18:43] winksaville commented on #385
@Olian04 @SamuelMarks @iDaN5x,

Assuming all of you were trying to run `ts-node` in REPL mode the problem can be worked around by installing @types/node in a working directory, such as ts-node-repl, and then `npm install @types/node`. And then use `ts-node` in that directory as @blakeembrey mentioned in [issue 351](https://github.com/TypeStrong/ts-node/issues/351#issuecomment-307179726). Apparentl

[2017-09-18 13:08] msieurtoph opened #428 "ig"

[2017-09-19 14:14] jmjpro opened #430 "Cannot redeclare block-scoped variable 'React'"
I receive this and several other similar messages for other libraries whenever I compile my code with ts-node. I don't receive similar errors when running the same code through tsc.

I have tried to change the target and the lib and several other settings but nothing seems to help.

I'm running the following versions:
ts-node v3.3.0
node v8.5.0
typescript v2.5.2

Here's my config:
[code]

[2017-09-20 06:35] blakeembrey commented on #430
I can't do much with this, sorry. Can you share a reproducible demo or narrow it down so I can see the error myself?

[2017-09-20 06:36] blakeembrey commented on #428
Needs more info.

[2017-09-20 06:36] #428 closed

[2017-09-20 07:52] jmjpro commented on #430
I'm trying to narrow it down. It's not so simple because the error is intermittent and inconsistent, i.e. sometimes it just seems to go away on its own. When the error does occur it seems to rotate between different files upon different runs of ts-node:

run 1:
[code]

run 2:
[code]

[2017-09-20 07:58] jmjpro commented on #430
My imports look like this:
[code]

[2017-09-21 14:55] icaroharry commented on #391
I'm having a similar issue. When I compile with `tsc` it works normally, but when I run my tests (mocha + ts-node) it throws:

[code]

[2017-09-21 22:51] #296 closed

[2017-09-22 11:49] sinedied opened #431 "ts-node fails compilation when any file is changed (and tsc works fine)"
We are currently facing a very strange issue, that may be somewhat related to #391 and #385: when cloning fresh our repo, running `npm install` and starting our app with `npm start` everthing is ok.

As long as I modify any file (even just adding a comment or a space), then `ts-node` start to fail, with errors like this one:
[code]
The strange thing being that `tsc` works without any issues, no er

[2017-09-22 12:41] sinedied commented on #431
Nevermind, it wasn't ts-node related at the end but it was a typing issue between bluebird and mongoose 😝

[2017-09-22 12:41] #431 closed

[2017-09-22 22:50] blakeembrey commented on #430
From the looks of things like `styled_components_1`, it's going through transpilation multiple times. Have you registered `ts-node` twice, or another transpiler before `ts-node`?

[2017-09-23 07:15] pleerock opened #432 "Imported same things from .js files and .ts files are not equal instances"
I have an issue and Im not sure what to do with it.

In typeorm there is an option to load all entities from a single directory, it can be used this way:

[code]

If users are using ts-node they can specify .ts extension, if just node then .js

This code allows to load entities from a directory dynamically, for example if there is a `User.ts` file it will load it:

[code]

IMPORTANT: since typeorm

[2017-09-23 09:17] blakeembrey commented on #432
This is expected behaviour. `ts-node` will not alter the `require` priority, as it's not possible to meet expectations - `.js` is always first loaded with node.js (regardless of CoffeeScript, Babel, whatever). I would recommend never compiling your `.js` file beside your `.ts` files, and if you must, don't specify `.ts` files to be required. If you do, do what the ORM does - require it using the f

[2017-09-23 09:17] #432 closed

[2017-09-23 09:20] blakeembrey commented on #432
Duplicate of https://github.com/TypeStrong/ts-node/issues/389.

[2017-09-25 21:35] ninja- opened #433 "Cannot write file because it would be overwritten by multiple input files"
I keep having a problem where ts-node won't work with multi-module projects.
The local modules are linked using npm link.
They often reference each other so a dependency(npm link) chain may look like
A -> B -> C
(project's submodule depends on a "commons" module)
+
(project depends on "commons" module for type definitions etc.)
A -> C
But that's probably not the main cause on this problem?

This b

[2017-09-25 22:18] ninja- opened #434 "should read tsconfig.json"
ts-node should read tsconfig.json file closest to the running directory, not use the pointless TS_NODE_COMPILER_OPTIONS
(for example I have experimentalDecorators: true etc. so I can't run unit tests with ts-node & intellij without adding a hack in form of ts_node_compiler_options)

[2017-09-25 22:23] ninja- commented on #433
I guess adding this option from tsconfig.json to ts-node would fix it ?

[code]

[2017-09-25 23:53] blakeembrey commented on #434
That is how it works. If you're not actually in the current working directory with your `tsconfig.json` file, use the `project` option.

[2017-09-25 23:53] #434 closed

[2017-09-27 20:33] ninja- commented on #433
it seems like the problem is caused by using allowJs=true and removing it from tsconfig helps 🤔

[2017-09-28 10:29] SMotaal opened #436 "Support `.mjs` output [also a TypeScript issue]"
I guess we are kind of being forced a little here but someone has to be the bigger guy here :)

Can you please make it possible to plug into node's new mjs ESMLoader workflow?

There is a [TypeScript issue](https://github.com/Microsoft/TypeScript/issues/18442) open already.

Some notes:
* ~~must run `node --experimental-modules something.mjs` (yes **mjs**)~~

* ~~that `--experimental-modules` will

[2017-09-28 10:48] blakeembrey commented on #436
@daflair I honestly haven't looked into what supporting ES6 modules natively in node.js will entail yet. Since it doesn't use any of the module loading legacy, I'm not sure how we can hook into it. If you have details, feel free to post them - I'm on vacation one more week and can review at a later date. I'll always accept a PR also 😄

[2017-09-28 10:55] daflair commented on #436
I really wish I was suited to PR, but I am a lone developer at the moment. I've played around with ts-node a little and even looked into @std/esm but not babel (that is where I personally drew the line).

Besides, the more I think about it, I realize that this would require a different mechanism than legacy, I would be very interested in more discussion and even collaborating any time.

[2017-09-28 15:00] demurgos commented on #436
Hi,
I just want to add that during the Node discussion about ES modules, loader hooks and preloaded modules were mentioned. The plan is to roll out ES support progressively, but the use case for for custom loaders wasn't forgotten ([it's listed as an unsupported feature](https://nodejs.org/dist/latest-v8.x/docs/api/esm.html#esm_unsupported)). The spec mentions module resolution, I guess that Node

[2017-09-29 01:47] dguo commented on #405
For anyone else who runs into this issue in the future, the cause appears to be running ts-node within an npm script within Docker. See https://github.com/npm/npm/issues/4531. The suggested fix of `npm config set unsafe-perm true` worked for me.

[2017-09-29 02:02] dguo commented on #359
I was able to replicate the issue. It occurs when I run ts-node in a npm script in Docker. It appears to have the same root cause (https://github.com/npm/npm/issues/4531) as https://github.com/TypeStrong/ts-node/issues/405. The suggested fix of npm config set unsafe-perm true worked for me.

[2017-09-29 10:35] daflair commented on #436
It seems that with the exposed (not behind flags except for --experimental-modules) basically mean that you can intercept the first call to Module._load and do whatever you need (like copy or symlink with .mjs) but unfortunately, once you pass off the mjs to the _load, loading is done internally inside an internal Loader that is not accessible.

So I have a few points of discussion on some potenti

[2017-09-29 21:11] ethanresnick opened #437 "ReferenceError: exports is not defined (OSX)"
The issue originally reported in #309 (or one very related to it) is back, possibly caused by the changes in #404.

Specifically:

[code]

[2017-09-30 07:38] blakeembrey commented on #437
As the issue and PR states, it was fixed in #404. This is a duplicate. It hasn’t been released yet, you can check the commit log.

[2017-09-30 07:38] #437 closed

[2017-09-30 07:38] blakeembrey commented on #437
Duplicate of https://github.com/TypeStrong/ts-node/issues/351.

[2017-09-30 09:03] ethanresnick commented on #437
Got it; I didn't realize these changes hadn't been released. My apologies.

[2017-10-02 09:59] daflair commented on #436
There is interesting discussion, and it seems that node is coming with a completely new "ES-module-based hooks" [module: resolve and instantiate loader pipeline hooks #15445](https://github.com/nodejs/node/pull/15445#issuecomment-331419256)

From my testing, the existing internal and exposed aspects of the loader seem to reset their prototype chain inside each import's execution context, so a patc

[2017-10-02 11:09] daflair commented on #436
I checked-out guy's branch (which is already 50% approved and CI-checked and I actually got it to work. Of course this is only a custom 9.0.0-pre build of node on my own Mac but I am running node's tests all the same just to see how stable this is for others to actually play around with.

But here is the output:
[code]

---

# [Documentation](https://github.com/guybedford/node/blob/101ca053bb3d52e

[2017-10-02 13:39] bmeck commented on #436
Hiya! Let me know if you are looking for any other hooks in particular. The loader is actually much more relaxed that I planned on making it initially to avoid people intentionally spilling internals; but, am open to figuring out hooks for official ways to do use cases.

[2017-10-02 14:08] daflair commented on #436
Amazing… :)

I'm kind of exploring quickly some ideas for abstractions on top of that PR to see if there will be any snags.

Cheers

[2017-10-03 12:18] daflair commented on #436
Here is a gist (yes, still using gists) of what I have so far…

[A simple TypeScript loader using NodeJS 9+ declarative loader API](https://gist.github.com/daflair/b2454f0c36d993f7bb4d503a16899c98)

[2017-10-03 12:34] daflair commented on #436
@bmeck I just have to clarify, I'm simply a user of ts-node with a very strong motivation to get to a point where ES2015 modules finally deliver what they really promised. Please don't misunderstand what I've been posting here as the opinion of TypeStrong or the ts-node folks.

[2017-10-03 14:11] bmeck commented on #436
@daflair

Per package loaders are being designed, but global loader was first step towards that. You need a concept of per package loaders to be guard against when people are using non-standard behavior, and a mechanism to default to the parent loader (so that APM/code coverage/testing hooks still can be applied).

No plans to do so. Is there an example of a loader that is not known ahead of time

[2017-10-05 01:49] esprehn opened #440 "Add top level await in repl"
The repl doesn't run in an async function which means you can't do ex.

[code]

and instead have to use `.then()` or wrap your line in an async IIFE which is ugly.

See also:
https://twitter.com/umaar/status/897408737694109697

[2017-10-05 03:35] blakeembrey commented on #440
Is it supported in the node.js REPL? Duplicate of https://github.com/TypeStrong/ts-node/issues/245. Please search before opening an issue.

[2017-10-05 03:35] #440 closed

[2017-10-05 03:38] blakeembrey commented on #440
Feel free to follow up in the linked issue when https://github.com/nodejs/node/issues/13209 gets closed. Ideally we don't have to do anything and it _just works_, but since there's transpiling that might not be true. I just don't want to deviate too much from what node.js supports.

[2017-10-05 17:59] michaeljota commented on #138
@shirakaba Just a note, you can set your `"baseUrl"` to `"./src/"` and `"paths"` like this
[code]
I will be the same, but you are able to add more paths with the same root more easily.

[2017-10-05 18:24] VoR0220 commented on #433
I too am running into this.

[2017-10-05 19:12] blakeembrey commented on #433
My only guess is that you have both `.js` and `.ts` right next to each other. TypeScript would be resolving the `.ts` file during compilation, but node.js would be resolving the `.js` file during resolution. When `allowJs` is enabled it'd be trying to compile `.js` when node.js loads the file, resulting in the overlap.

[2017-10-05 23:12] raymondfeng opened #441 "ts-node console.trace prints `[object Object]` for strings"
With a very simple `t.ts` as follows:
[code]
$ ts-node t
[code]

Please note `[object Object]` is printed out instead of `a`.

tsc compiles the code to `console.trace('a');` and it works as expected.

BTW, console.log does NOT have the same issue.

[2017-10-06 02:06] blakeembrey commented on #441
I'd suggest making the issue over at https://github.com/evanw/node-source-map-support. I can replicate it with source map support enabled (default) and it's resolved when disabled.

[2017-10-06 02:06] #441 closed

[2017-10-06 02:06] blakeembrey commented on #441
I can also make the issue if you don't want to, just let me know 😄

[2017-10-06 02:07] blakeembrey commented on #441
For the interim, if this is urgent, would you like a flag that can disable source map support?

[2017-10-06 15:26] raymondfeng commented on #441
@blakeembrey Can you explain why this issue has to do with https://github.com/evanw/node-source-map-support? It's not about the stacktrace, but the printed out value of a string.

[2017-10-06 18:09] blakeembrey commented on #441
See my message when I closed the issue. It happens with source map support enabled, it doesn’t happen if it’s disabled.

[2017-10-06 20:03] raymondfeng commented on #441
@blakeembrey Thanks for the explanation. Do you mind opening an issue against https://github.com/evanw/node-source-map-support? You are closer to that code :-).

[2017-10-06 21:24] blakeembrey commented on #441
Sure, no problem. I haven't had a chance to investigate why just yet, but I imagine the same issue is happing on all projects using `source-map-support` (e.g. Babel and CoffeeScript also). Opening it now, will link back to here.

[2017-10-07 10:27] daflair commented on #436
@bmeck Okay, so I realize that this will seem like a request to expose ModuleWrap (which I think you are not in favour of) but this really is not, we just need to be able to createDynamicModules from raw ESM source code on the fly.

Here's why…

Currently dynamic modules (designed to facilitate wrapping cjs) work well because cjs source can be evaluated before wrapping, and returns a living export

[2017-10-07 14:57] bmeck commented on #436
@daflair

I completely agree and am stetting up standards groundwork to let us use `URL.createObjectURL` to do this in a way that works in both browser and server. Your compile would become:

[code]

This has required me going around and making some changes in MIME types, https://github.com/bmeck/I-D/tree/master/javascript-mjs + https://github.com/nodejs/TSC/issues/371 . It also will probably mean

[2017-10-07 15:10] bmeck commented on #436
While I have someone looking into things, have you looked at cross worker requirements you might have? `URL.createObjectURL` shares the blob store URLs across workers. https://github.com/ayojs/ayo/pull/40 is probably going to be pulled into node core sometime once it is cherry-picked. We haven't setup the idea of cross worker loader hooks yet and am curious if you have any requirements.

[2017-10-07 20:14] daflair commented on #436
I recommend staying away from this pattern, blobs worked well in the web for pseudo-static content (static but loaded on demand) but did not offer much for modules (or we would have seen the new WebBlobs or webpack-es-blob-loader by now).

When I explored using that pattern for dynamic modules in the browser, I quickly found several pinpoints and which cannot be avoided and make them very limiting

[2017-10-07 21:13] daflair commented on #436
I also have to mention one advantage that exists in node which mediates some but not all of the potential challenges for using `<url-from-blob>`, which is the fact that a resolver/loader might simply not do any substitutions and let the module system take care of it. Technically, for a single loader, once the source of is transpiled, it is static, so a blob works…

The flip-side of course is that

[2017-10-08 14:29] bmeck commented on #436
@daflair I am not sure the complexity is true since the loader would be given the import specifiers and not need to rewrite the code. Lets make a more concrete example of:

[code]

As a pipeline and a given text of:

[code]

The composition aspect is still being worked out but lets assume a `super` like behavior such that the `transpiler` can call `code coverage` which can call `node`.

## Using s

[2017-10-09 10:45] daflair commented on #436
@bmeck I can definitely see the benefits from node's perspective… I can also see now that can also be leveraged from a loader's perspective, different paradigm, different pros/cons.

So I'll keep thinking of potential things that may need guards below:
  * Should loaders be allowed to revoke URL's: `revokeObjectURL(objectURL)`?
  * Should loaders be responsible for figuring out if a url points to

[2017-10-11 18:37] basharov opened #442 "How do I debug an app?"
I found that I can debug a nodejs app with inspect argument as explained in docs: https://nodejs.org/api/debugger.html.

The command is like this:
[code]

Can I debug a TypeScript in a similar fashion?

[2017-10-11 19:50] blakeembrey commented on #442
You can use `--inspect`, I haven't released a fix to allow `ts-node inspect` directly, if that's what you're asking: https://github.com/TypeStrong/ts-node/pull/426.

[2017-10-11 19:50] #442 closed

[2017-10-14 00:50] esprehn commented on #34
Any progress on this? tsc supports this mode but ts-node doesn't.

[2017-10-14 02:13] blakeembrey commented on #34
Feel free to submit a PR.

[2017-10-14 02:14] blakeembrey commented on #34
Also, `tsc` definitely doesn't support this mode - `tsc` has no runtime to support this mode. Maybe you want something different.

[2017-10-14 04:11] esprehn commented on #34
tsc can both emit code and still print warnings to the console. ts-node doesn't appear to have a way to show the warnings but still emit the code.

[2017-10-14 04:17] blakeembrey commented on #34
Definitely, but `tsc` doesn't execute the code. Printing warnings while code is executing means they'll end up interleaved with your own logs. See the conversation and submit a PR if you want this feature. There's a "help wanted" label for that reason.

[2017-10-16 07:10] Diluka commented on #104
using `ts-node -F .` to run ts code missing metadata. `reflect-metadata` can't get field's type.

`tsc && node .` is OK

[2017-10-16 16:09] blakeembrey commented on #104
That make sense to me. Fast mode isn’t using type information, it’s just plain transpiling files on the fly. That’s not equivalent to `tsc`. Use the regular mode that is if you want type information. It’s a good point though and I can document that.

[2017-10-17 05:43] Diluka commented on #104
So, should I use in production?
`ts-node .` or `tsc && node .`

[2017-10-17 07:37] blakeembrey commented on #104
That's not something I can tell you. I can tell you that loading type information has a larger overhead, but it shouldn't impact performance (only memory once started).

[2017-10-17 17:51] greenkeeper[bot] opened #443 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.0.42** of [@types/node](https://www.npmjs.com/package/@types/node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2F%40types%2Fnode-8.0.42">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>
    <

[2017-10-18 03:52] greenkeeper[bot] opened #444 "An in-range update of chalk is breaking the build 🚨"
## Version **2.2.0** of [chalk](https://github.com/chalk/chalk) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2Fchalk-2.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      chalk
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Versio

[2017-10-18 21:06] greenkeeper[bot] opened #445 "An in-range update of @types/react is breaking the build 🚨"
## Version **16.0.14** of [@types/react](https://www.npmjs.com/package/@types/react) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2F%40types%2Freact-16.0.14">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/react
    </td>
  </tr>
  <tr>

[2017-10-20 19:58] greenkeeper[bot] opened #447 "An in-range update of tslint is breaking the build 🚨"
## Version **5.8.0** of [tslint](https://github.com/palantir/tslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2Ftslint-5.8.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2017-10-22 07:56] pomadin opened #448 "I get error "Cannot find module" if I use non-relative module imports and set baseUrl"
Hi,

I prefer to use non-relative module imports in my code. The typescript compiles the project and the tests well. I could setup my test run in two steps, the 1st one transpiles ts code into js and the 2nd one runs mocha for the built code. Of course, I have used some plugin on the last step to adjust module resolving (aliasing) due to non-relative imports. But I would like to setup the same in

[2017-10-22 17:36] blakeembrey commented on #448
Please use the `tsconfig-paths` module linked in the README if you want to do this.

[2017-10-22 17:36] #448 closed

[2017-10-23 07:45] pomadin commented on #448
Thank you, I missed that in README. It helps me.

[2017-10-23 09:51] leebenson opened #449 "SyntaxError: Unexpected token } in JSON at position 4707"
Node v8.7.0, Typescript 2.5.3 --

After installing globally...

/usr/local/bin/_ts-node -> /usr/local/lib/node_modules/ts-node/dist/_bin.js
/usr/local/bin/ts-node -> /usr/local/lib/node_modules/ts-node/dist/bin.js

updated 1 package in 0.725s

... neither the REPL or script loading works - I get the following JSON error:

SyntaxError: Unexpected token } in JSON at position 4707
    at JSON.parse (

[2017-10-23 16:09] blakeembrey commented on #449
Can you share your `tsconfig.json` file? Are you sure it doesn’t have a syntax error?

[2017-10-23 16:15] leebenson commented on #449
Oops - my bad. Extraneous comma. Weirdly, `tsc` forgave it. Closing.

[2017-10-23 16:15] #449 closed

[2017-10-23 18:16] blakeembrey commented on #449
Interesting. It’s likely an update needed in our config loader then. Right now it’s only stripping comments, I didn’t realise TypeScript also relaxed other parts of the config also.

[2017-10-25 00:27] greenkeeper[bot] opened #450 "An in-range update of @types/arrify is breaking the build 🚨"
## Version **1.0.2** of [@types/arrify](https://www.npmjs.com/package/@types/arrify) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2F%40types%2Farrify-1.0.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/arrify
    </td>
  </tr>
  <tr>

[2017-10-25 20:39] #443 closed

[2017-10-25 20:39] #444 closed

[2017-10-25 20:39] #445 closed

[2017-10-25 20:39] #447 closed

[2017-10-25 20:39] #450 closed

[2017-10-26 17:05] pelotom opened #453 "Unable to use REPL"
TypeScript version: 2.5.3

[code]

[2017-10-26 17:45] blakeembrey commented on #453
Duplicate of https://github.com/TypeStrong/ts-node/issues/437.

[2017-10-26 17:45] #453 closed

[2017-10-26 18:05] pelotom commented on #453
Is there any timetable for a new release with this fix?

[2017-10-26 19:23] cspotcode commented on #46
Debugging in VSCode is now very simple and works well.

[code]

If you try to specify `"program"` config, VSCode will see that it's a `.ts` file and try to locate the corresponding compiled `.js` file.  We don't want that; we're using ts-node so we want to run the `.ts` directly.  `"runtimeArgs"` does what we want, and VSCode doesn't interfere or complain.

Anway, breakpoints "just work!"  Sweet!

[2017-10-27 04:12] paqogomez commented on #308
Could this error have resurfaced?  I'm on typescript 2.5.3.  On my mac the project compiles fine, but on the windows side I get:

    [22:08:24]  build dev started ...
    [22:08:24]  clean started ...
    [22:08:24]  clean finished in less than 1 ms
    [22:08:24]  copy started ...
    [22:08:24]  transpile started ...
    [22:08:29]  typescript error
    [22:08:29]  typescript error

[2017-10-27 18:56] blakeembrey commented on #453
When all other major tasks are done, so no. Is it very difficult to install a type definition until then?

[2017-10-27 20:13] pelotom commented on #453
Nope, I just wasn’t aware of what the fix was.

[2017-10-27 20:52] blakeembrey commented on #453
No problem, I thought it was in the linked issue but it was in the duplicate of that duplicate. See https://github.com/TypeStrong/ts-node/issues/351#issuecomment-307178924.

[2017-10-30 12:35] notedit opened #455 "ts-node seems can not require json file"
one of my config module like this

[code]

tsc compiles well.

when i  use  ts-node, it has some error like

[code]

[2017-10-30 15:29] blakeembrey commented on #455
A type error is an actual JavaScript error at runtime. It's nothing to do with `ts-node`. Just because you tell the compiler something is true, doesn't mean it actually is at runtime. That error is because `config` is undefined **during runtime**. If you'd like more help, you'll need to share a reproduction.

[2017-10-30 15:29] #455 closed

[2017-11-01 12:11] smotaal commented on #436
@bmeck There is currently a difference between how resolve and dynamicInstantiate are hooked, one exposes the loader and the other does not, is that intentional? Is there a sure way to access the module being instantiated without having to crawl the actual loader instance.

[2017-11-01 14:05] bmeck commented on #436
@smotaal Neither exposes the loader. Are you talking about the reflective API for exports in our ESM facade?

No, by design; problems around doing so since it isn't actually mutable like a regular JS Object (hence the funky reflection API).

Intentional yes, but also there are questions about removing `dynamicInstantiate` entirely since it can be mocked using `resolve` + URL reservation.

They cou

[2017-11-01 17:14] smotaal commented on #436
So if dynamicInstantiate hook is kept [please keep it]

Regarding:

https://github.com/nodejs/node/blob/18df171307495e639be214917d2a247163a21268/lib/internal/loader/Loader.js#L37-L40

We should assume that a change like `this.dynamicInstantiate = dynamicInstantiate.bind(null);` which would isolate the method from the lexical context of the loader?

[2017-11-01 18:13] bmeck commented on #436
Yup

On Nov 1, 2017 12:14 PM, "Saleh Abdel Motaal" <notifications@github.com>
wrote:

So if dynamicInstantiate hook is kept [please keep it]

Regarding:

https://github.com/nodejs/node/blob/18df171307495e639be214917d2a24
7163a21268/lib/internal/loader/Loader.js#L37-L40

We should assume that a change like this.dynamicInstantiate =
dynamicInstantiate.bind(null); which would isolate the method from

[2017-11-04 16:54] NaridaL opened #456 "Not possible to ignore tsconfig.json"
I'm trying to get ts-node to behave as if there was no tsconfig in the current directory. Unless I'm misunderstanding the readme (https://github.com/TypeStrong/ts-node#loading-tsconfigjson), this should be possible...

in an empty directory:
[code]

[2017-11-04 23:29] endel opened #457 "ts-node doesn't handle graceful shutdown properly"
Hey there,

I've created a repository that reproduces this issue here: https://github.com/endel/ts-node-graceful-shutdown-issue

All versions of `ts-node` doesn't have the expected behaviour when gracefully shutting down a Node.js application.

### `ts-node` behaviour:

Process is dettached from terminal as soon as `SIGINT` is received.

[code]

### `node` behaviour:

Process is dettached from ter

[2017-11-05 09:15] notedit commented on #455
@blakeembrey   i just create a test repo to  reproduct what i say.

https://github.com/notedit/test-ts-node

i am new to ts,  maybe i made a silly  mistake.

[2017-11-05 09:25] notedit commented on #455
[code]

[2017-11-06 18:34] notedit commented on #455
@blakeembrey can you have a look?

[2017-11-09 09:19] AndrewJDR opened #459 "can --inspect be made to bind debug ports for child processes too?"
repro steps (I did this on linux and bash):
[code]
This starts a child process using cluster.fork(). Note that debugger listens fine on the master process:
[code]
And checking netstat shows that 9229 is indeed bound, which is good.
[code]

However, no debugging port is bound for the child process. The output of ps, the `--inspect-port=9230` argument would lead one to believe that a debugger port 9

[2017-11-09 09:28] AndrewJDR commented on #459
Another note, this does behave properly when using node directly, like so:
[code]

produces:
[code]
Which already looks better, since we have two "Debugger listening on..." messages. Just to be sure, I confirmed via netstat that both ports are bound, and they are.

[2017-11-09 13:08] cgatian commented on #46
@cspotcode I was unable to get the breakpoints to hit unless I supplied a `debugger` statement.

[2017-11-11 22:35] brunolemos commented on #313
In case anyone else arrive here, this works: `ts-node -O '{"module": "commonjs"}'`

[2017-11-11 23:48] blakeembrey commented on #455
Like I mentioned, this is expected. You've named your `.ts` and `.json` file the same, `.json` has higher precedence than `.ts`. `.js` has higher precedence than `.json`.

[2017-11-14 09:04] RehanSaeed commented on #313
Did you manage to get webpack config written in TypeScript to work? Following the webpack documentation on the subject seems to give a `Unexpected token import` error. See https://github.com/webpack/webpack/issues/5053 for more info.

[2017-11-14 10:45] lordmilko opened #460 "REPL: Ignore Undefined For Commands Returning Nothing"
When ts-node is executing in REPL mode and executes a command that returns nothing (such as `console.log("test")`, in addition to the output "test" it also returns `undefined`. This appears to be the default behavior of the Node.js REPL module, and can be [controlled](https://nodejs.org/api/repl.html#repl_repl_start_options) by specifying `ignoreUndefined: true` in the options passed to [start](ht

[2017-11-14 16:16] dekryptic commented on #233
Any reason why switching from `"rootDir"` to `"rootDirs"` worked? I had the same issue with webpack.config.ts until I switched.

[2017-11-14 17:25] astashov commented on #400
This PR solves the issue for me: https://github.com/TypeStrong/ts-node/pull/461

[2017-11-15 05:38] blakeembrey commented on #460
The REPL works the same as node.js. Is there an option in node.js to do this?

[2017-11-15 05:43] lordmilko commented on #460
It appears that specifying the `ignoreUndefined: true` to the `start` function in node controls this

[code]
So potentially the code in ts-node's `startRepl` function could be changed to the following

[code]

[2017-11-15 05:43] blakeembrey commented on #459
That's interesting. `ts-node` just starts an underlying node.js process by spawning `_bin.js`. Can you check if changing `__filename` in https://github.com/TypeStrong/ts-node/blob/1d630f90f31ac7cc7f82b10145819e9405d65fd3/src/_bin.ts#L176 to `join(__dirname, 'bin.js')` fixes this? The result would basically be having the child process spawn a child node.js process the same way `ts-node` does.

[2017-11-15 05:46] blakeembrey commented on #460
I didn't ask how the API works, I know that. Is there a flag for node.js's REPL to do the same functionality. If not, I won't be adding it here.

[2017-11-15 05:49] lordmilko commented on #460
I haven't been able to identify any separate flags separate from the arguments passed to the `start` function. As such, beyond ts-node controlling a variable specifying whether `ignoreUndefined` should be true or false it doesn't appear there would be any other way to implement this functionality

[2017-11-15 06:23] AndrewJDR commented on #459
I tried `process.execArgv.unshift(path_1.join(__dirname, 'bin.js'));` and it didn't work. This is the error I get:

[code]

[2017-11-15 07:06] blakeembrey commented on #460
It mostly comes down to the fact I’d prefer not to deviate far from strict node.js with a TypeScript transpiler semantics. Everything added means slightly more deviation. I’d search or submit the proposal to node.ja first and then we could follow suit.

[2017-11-15 09:26] valVk commented on #391
The same issue here

[code]

[2017-11-15 19:39] dougajmcdonald opened #462 "extending @types/jasmine interface / namespace doesn't recognise method"
I'm using `ts-node` via `jasmine-ts` and have a custom matcher which extends the `d.ts` in `@types\jasmine` unfortunately `ts-node` doesn't seem to pick up the new method.

I'm adding my method to the interface like so:

[code]

but `ts-node` reports:

[code]

I've posted this on SO here: https://stackoverflow.com/questions/47313578/cannot-extend-a-types-jasmine-interface in case this is not the r

[2017-11-16 06:59] blakeembrey commented on #459
That's interesting, thanks! It seems to be a tiny bit closer but not enough. Final test, can you try with `node -r ts-node/register --inspect index.ts`? If that works, I might refactor how `ts-node` is spawning the child node process - without any investigation it appears node.js might be doing some internal management for `--inspect` child spawning and changing the executable is breaking that man

[2017-11-16 07:03] blakeembrey commented on #456
Can you try with `--no-project`? It looks like the README is incorrect, since it relies on an underlying library to correctly parse the CLI arguments and `--project false` would just be interpreted as a string.

[2017-11-16 07:12] blakeembrey commented on #456
Closing with an update to docs: https://github.com/TypeStrong/ts-node/commit/e7591c7e70c95152d8fd1380571ff870192c475e.

[2017-11-16 09:09] AndrewJDR commented on #459
@blakeembrey Yep, `node -r ts-node/register --inspect index.ts` works! Both ports are bound just fine using that command.

[2017-11-16 13:41] NaridaL commented on #456
@blakeembrey
What about

https://github.com/TypeStrong/ts-node#loading-tsconfigjson

Also, what is the correct setting when using environment variables?

[2017-11-16 16:09] blakeembrey commented on #456
Oh, I see now, I have another place to update. Feel free to still submit a PR, otherwise I’ll get to it as I can.

[2017-11-17 07:34] motss opened #463 "ts-node -r @std/esm index.js is not supported"
Title says it all.

[2017-11-17 07:58] k8w opened #464 "Error when use symlink with node_modules"
**Problem**
File structure:
[code]

__shared/ShareClass.ts
[code]

backend/index.ts
[code]

[code]

It will throw error:

..\__shared\ShareObj.ts (1,26): Cannot find module 'tsrpc-protocol'. (2307)

**Expect**
`shared/ShareObj.ts` is treated as its symlink path.

**Demo**
A demo project [here](https://github.com/k8w/ts-node-symlink-problem)

[code]

[2017-11-17 17:05] blakeembrey commented on #463
The title doesn’t really say it all if you’d like help. What’s the error? What’s your config file look like? Is there anything in `index.js` I need to replicate? I believe someone logged an issue about this in the past, it might be worth looking for that too.

[2017-11-17 17:07] blakeembrey commented on #463
See https://github.com/TypeStrong/ts-node/issues/424 also.

[2017-11-18 19:13] #460 closed

[2017-11-19 01:44] bitliner opened #465 "Support for --trace-warnings option?"
I would need to run ts-node and print stack trace for unhandled promise exceptions.

How to pass an option `--trace-warnings`?

[2017-11-19 05:15] blakeembrey commented on #459
Awesome news! I'm not sure when I'll get around to hitting this, but I have a decent idea of how I may approach fixing it now. Basically, I'm going to need to refactor to use that command style of spawned command instead and remove the current approach used except in the case of opening the REPL. Thanks for your debugging of the issue 😄

[2017-11-19 05:15] blakeembrey commented on #465
Feel free to submit a PR. It would need to be added to https://github.com/TypeStrong/ts-node/blob/c57ded2881debf773af7b8e01cb652d48f8655ca/src/bin.ts#L19. This code may be refactored before 4.0 though because of https://github.com/TypeStrong/ts-node/issues/459 and would also result in resolving this.

[2017-11-19 18:00] blakeembrey commented on #464
Can you add your comment to https://github.com/TypeStrong/ts-node/issues/396? I believe it'd be the same issue and I'd love to have it fixed if someone wants to submit a PR.

[2017-11-19 18:02] blakeembrey commented on #462
Did you put that code in a separate `.d.ts` file? If you want to create a reproduction of the issue on GitHub for quick debugging I can probably take a look how it should work for you and submit a patch back.

[2017-11-19 18:43] dougajmcdonald commented on #462
@blakeembrey I did try a separate file. and in the same file as the tests, I'm not finding any guidance on which is the recommended way to go about it unfortunately.

The project I'm working on is on GH here: https://github.com/gareththegeek/corewar if you grab it and take a look at the `ExecutiveTests.ts.ignore` that's the one I'm having trouble with. Remove the `ignore` from the filename `npm i`

[2017-11-19 18:53] blakeembrey commented on #462
It works fine for me. There's plenty of instructions around and unfortunately `ts-node` isn't the best place to find them.

1. It needs to be in a separate `.d.ts` file because if it's in the same `.ts` file all you're doing is declaring a local namespace (it's a confusing part of TypeScript, but once you add `import` or `export` to the top level of a `.ts` file it's a module now, no longer intera

[2017-11-19 18:53] #462 closed

[2017-11-19 19:10] dougajmcdonald commented on #462
Unfortunately that example doesn't work my end :(

![image](https://user-images.githubusercontent.com/1190042/32994308-2b02b0b8-cd5d-11e7-8ae4-6a226afc2d6c.png)

[code]

I'm not quite sure what's wrong here as by the sounds of things I'm doing things correctly (once the `d.ts` is in its own file?)

[2017-11-19 19:19] dougajmcdonald commented on #462
Arg, it just twigged....

As you can see from my screenshot I need to import an interface into the matcher `d.ts` which I presume breaks things. I can switch it to an `any` and things work! thanks so much, been pulling my hair out for ages with this one.

[2017-11-19 19:20] blakeembrey commented on #462
Thanks, I was just responding that you missed that point 😄

One thing you try try if you need the `import` is wrapping it all in `declare global {}`. Haven't tested it yet, but it might work for your use-case.

[2017-11-20 09:45] k8w commented on #396
Same problem.

**Problem**
File structure:
[code]

__shared/ShareClass.ts
[code]

backend/index.ts
[code]

[code]

It will throw error:

..\__shared\ShareObj.ts (1,26): Cannot find module 'tsrpc-protocol'. (2307)

**Expect**
`shared/ShareObj.ts` is treated as its symlink path.

**Demo**
A demo project [here](https://github.com/k8w/ts-node-symlink-problem)

[code]

[2017-11-20 09:45] #464 closed

[2017-11-20 10:29] k8w commented on #396
Hi guys, I just find a solution to resolve this.
Just use:
[code]

@blakeembrey The problem is mainly because in TypeScript preserveSymlinks is true by default, while it is false in NodeJS by default.

[2017-11-20 10:32] k8w commented on #396
@blakeembrey Maybe it's better to auto set `--preserve-symlinks` if it is not false in `tsconfig.json` ?

[2017-11-23 02:46] stelcheck commented on #378
Do you still need help? I run ts-node within docker without issues with https://github.com/mage/mage using https://github.com/mage/mage-console (which essentially wraps around ts-node).

https://github.com/AngelMunoz/palabrator-api/tree/docker-branch Seems deleted, so unless you provide more details, I don't know if I can be of any further help.

[2017-11-23 02:54] AngelMunoz commented on #378
yeah I deleted the repo, my bad sorry I will take a look at your repo thanks I don't really need it anymore But I will try to use it again

[2017-11-23 02:54] #378 closed

[2017-11-23 03:14] stelcheck commented on #391
@leoasis in your repro you might want to use `ts-node --no-cache` to make sure to run in this issue while experimenting.

As far as behavior goes, I am not sure why this would be bad or incorrect:

[code]

It might end up being slower, but to be honest I don't see why we should favor performance over correctness... but maybe I fail to understand the issue in its entirety.

[2017-11-23 03:49] alexpchin opened #466 "mocha, ts-node and recursively loading files"
Using this script:

    "test": "./node_modules/mocha/bin/mocha --recursive --require ts-node/register ./test/**/*.spec.ts --opts ./test/mocha.opts",

 I've tried to load some test files inside the tree:

    .
    ├── controllers
    │   ├── admin
    │   │   └── users.spec.ts
    │   ├── authentications.spec.ts

The `authentications.spec.ts` test file gets loaded but the `users.spec.ts` doesn't.

[2017-11-24 04:08] blakeembrey commented on #466
This isn't related to `ts-node`, but I'd bet it's your shell. Just quote your glob so mocha expands it instead of your shell.

[2017-11-24 04:08] #466 closed

[2017-11-24 06:03] spacem opened #467 "Sometimes I get 'unknown error, open' errors"
Hi, sorry I am not 100% sure this is ts-node that causes this but I have been seeing these errors from time to time. Whenever this happens I just end my build task and build again and it works fine. If it makes any difference this happened in the middle of gulp-mocha task (I run gulp with a gulpfile.ts).

I have ts-node@3.3.0 installed, node 8.9.1 and windows 7.

   UNKNOWN: unknown error, open 'C

[2017-11-27 16:42] cevek opened #468 "When will be the next release?"
I really need custom transformers

[2017-11-27 22:03] kirillgroshkov commented on #396
Awesome! `preserve-symlinks` works!

[2017-11-30 13:15] netpoetica commented on #468
We are having trouble with Chalk version ts-node is using, I noticed you guys updated it in package.json but have not cut a release yet. Hoping this version update will help... I was trying to install directly from master, but this doesn't do all of the magical npm publish, dist stuff.

[code]

See: https://github.com/chalk/chalk/issues/31

Based on our testing, it seems to be an issue with the Ch

[2017-11-30 16:46] crutchcorn opened #469 "Throwing error makes all future code unreachable"
[code]

This behavior is not present in the `node` REPL.

[2017-11-30 19:30] NaridaL commented on #456
Aren't environment variables also limited to strings? Seems like that would cause the same issue...

[2017-12-01 17:32] blakeembrey commented on #456
The string is parsed as a boolean, so no.

[2017-12-01 17:34] blakeembrey commented on #456
But not that one I guess, so yes. Open to PRs.

[2017-12-02 01:37] blakeembrey commented on #469
This is an unfortunate issue and I can’t see any way to fix it unless we can disable the unreachable code error. I’ll have to look into that but feel free to submit a PR.

[2017-12-02 01:41] blakeembrey commented on #468
If you’d like to help close the last few issues I’ll be able to release ASAP. The last blocker is the breaking change ensuring you can’t double register. There’s also a task to move away from the current approach to node spawned children, but I can probably cut a v4 now and put both of these into a v5 instead.

[2017-12-02 18:04] kumarashwin opened #470 "Official logo for ts-node?"
We use `ts-node` heavily at my workplace and we're on the cusp of launching a major production application. As a little something for myself and my coworkers, to show support and pride for this project, I was planning to make a `ts-node` sticker as a gift for us all.

**Since there isn't a ts-node logo at the moment, I would like to understand if there is perhaps interest in having one?**

### Ide

[2017-12-03 19:20] ORESoftware opened #471 "Bug/feature: ts-node should work with NODE_OPTIONS"
This works:

[code]

but this doesn't

[code]

I think it's because `ts-node` starts a child process, and because of that, we get an "address already in use" error. See the Node.js help issue attached.

Just try it for yourself and you will see the problem.

[2017-12-03 22:54] ORESoftware commented on #471
I see this:

<img width="291" alt="screenshot 2017-12-03 14 53 07" src="https://user-images.githubusercontent.com/11139560/33530802-c7d97016-d839-11e7-8955-3879eabcb455.png">

perhaps `_ts-node` is for debugging? I am curious what that's for

[2017-12-04 00:22] ORESoftware commented on #471
I think what would be most useful is to highlight which env variable can trip ts-node to go into debug mode. I was looking at the source:

https://github.com/TypeStrong/ts-node/blob/master/src/bin.ts#L19

looks like `ts-node --inspect-brk foo.ts` should do the trick

but I'd also like to see an env option for that if possible (I think the new node-options initiative will make that possible)

so ma

[2017-12-04 01:54] stellarhoof opened #472 "How to load file repeatedly"
I've got a `foo.ts` file I'm editing and I want to `.load foo.ts` in the repl. First time works fine but subsequent times compilation fails because of `Duplicate function implementation`. I thought it was a cache issue but it also happens with `ts-node --no-cache`. Any way to clear compilation cache?

[2017-12-05 04:04] ashok-sc commented on #422
Does ts-node not handle non-relative paths? I'm trying to use this strategy to import modules: https://goenning.net/2017/07/21/how-to-avoid-relative-path-hell-javascript-typescript-projects/. Basically I don't want to use relative paths, but ts-node fails saying it cannot find the module. Is this not supported?

[2017-12-05 04:14] ORESoftware commented on #471
See this issue for reference: https://github.com/nodejs/help/issues/1007

[2017-12-05 04:15] ashok-sc commented on #138
I've tried nearly all the above solutions and I'm still getting `Module not found: Error: Can't resolve ...`.

What's the solution here? I have updated my `tsconfig.json` `webpack.config.js` and even tried tsconfig-paths. None of these work.

[code]

[2017-12-05 04:29] ClickSimply commented on #391
I ran into the same issue today with this block of code:
[code]

**TL;DR** run TS-Node with `--disableWarnings` and the above error should be resolved.

Turns out this is a result of TS Node stopping when there is a typings error.  The default behavior for TSC is to allow the script to compile but show errors.  TS-Node will instead take the same exact script and stop execution on it.

A quick exam

[2017-12-05 04:35] ORESoftware commented on #470
nice work :)

[2017-12-05 07:42] jonaskello commented on #138
@ashok-sc ts-node has no support for paths in tsconfig.json, and [no plans](https://github.com/TypeStrong/ts-node/pull/254#issuecomment-269404787) to add it. I think your best bet to get it working is using [tsconfig-paths](https://github.com/dividab/tsconfig-paths). If you have trouble using it feel free to file an issue at that repo.

If you are using webpack the scenario is quite different. If

[2017-12-05 11:59] michaeljota commented on #138
@ashok-sc As @jonaskello said, there is no plan to support path, as you need to replace the path call with the proper full path in order to be understandable for Webpack. You could use [Awesome Typescript Loader](https://github.com/s-panferov/awesome-typescript-loader) that have a plugin out-the-box for that, but still, it needs to be a plugin.

[2017-12-05 22:31] ashok-sc commented on #138
Hey @jonaskello and @michaeljota thanks for the help! I am in fact using awesome-typescript-loader with webpack. However, the instructions are quite poor. I understand that you may not have the answers here, but I thought I'd give it a shot anyway.

The [instructions](https://github.com/s-panferov/awesome-typescript-loader#advanced-path-resolution-in-typescript-20) state to add the TsConfigPathsPl

[2017-12-05 22:38] jonaskello commented on #138
Here's a gist of what a webpack config should look like with awesome-typescript-loader's tsconfig paths plugin. I don't pass anything in the constructor in my config, but maybe you need it if your tsconfig.json is in a non-standard location.

[code]

[2017-12-06 12:53] jonaskello commented on #138
@ashok-sc If it does not work, you can try version 0.2.0 of [tsconfig-paths-webpack-plugin](https://www.npmjs.com/package/tsconfig-paths-webpack-plugin). I have added code that prints the path that it tries to load the tsconfig.json from.

Note, `tsconfig-paths-webpack-plugin` is used instead of the one in awesome-typscript-loader. You can also use it with ts-loader.

[2017-12-06 14:25] zheeeng opened #473 "How to import 3-rd JS package which without declaration?"
Once my tsconfig.json set `"noImplicitAny": true,`, ts-node repl will report `Thrown: ⨯ Unable to compile TypeScript`

[2017-12-06 14:49] zheeeng commented on #473
I found that problem is that I set "types" option cause ts-node can't handle other libs.

[2017-12-06 19:44] michaeljota commented on #138
@ashok-sc I use ATL as @jonaskello describe and I have not faced any problems.

[2017-12-06 20:01] ashok-sc commented on #138
Hey so I've actually got the plugin to work!

Unfortunately now I still have an issue where `index.ts` files don't work.

For example an import like this:
`import config from '@src/server/config';`

where the module is `./src/server/config/index.ts` is not working. I'm getting the following error:
[code]

[2017-12-06 20:12] ashok-sc commented on #138
I've also tried `import config from '@src/server/config/index'` and nothing. Is this expected to be broken. Support for path resolution on all fronts feels quite broken.

[2017-12-06 20:40] jonaskello commented on #138
Try it with `tsc`. If the project compiles with `tsc` then it should also work with the plugins. If you get errors with `tsc` you can try `tsc --traceResolution`. See more [here](https://www.typescriptlang.org/docs/handbook/module-resolution.html) under heading "Tracing module resolution".

[2017-12-06 21:13] michaeljota commented on #138
@ashok-sc can you post the content of your tsconfig?

[2017-12-06 21:28] ashok-sc commented on #138
Here's my tsconfig.json:

[code]

[2017-12-06 21:28] ashok-sc commented on #138
@jonaskello will try this with tsc in a bit.

[2017-12-06 22:23] michaeljota commented on #138
Had you try to add a slash to the end of the `baseUrl`? Or maybe do otherwise, set `baseUrl` to `./` and set `@src/*` to `src`?

[2017-12-07 00:28] gregjacobs opened #474 "ts-node exits prematurely (before all callbacks have processed)"
`ts-node` seems to exit even while asynchronous tasks are still being performed.

For instance, this `ts-node` command exits immediately:

[code]

While using the regular `node` executable properly keeps it alive forever:

[code]

Using ts-node v3.3.0 and node v8.9.2

[2017-12-07 01:58] gregjacobs commented on #474
Worked around this for the moment using `node` and the `'ts-node/register'` module:

[code]

waiter.ts:

[code]

In this case the script stays alive.

[2017-12-07 02:07] stelcheck commented on #473
@zheeeng Have a look at https://stackoverflow.com/a/35171227/262831 - this should solve your issue.

[2017-12-07 02:15] stelcheck commented on #472
This happens because the function is already defined in the same context.

[code]

The REPL interface behaves the same way as a single ts file; the cache is a compile cache, and has nothing to do with what happens at runtime.

[2017-12-07 02:22] stelcheck commented on #471
I think the best option would be to wrap or convert https://github.com/TypeStrong/ts-node/blob/master/src/bin.ts into a bash/cmd script.

[2017-12-07 02:24] stelcheck commented on #468
FWIW, I'd really love to see #458 or #419 be part of that release. The related issue has been outstanding for months now, and I think it would be nice to finally be done with it.

[2017-12-07 04:56] blakeembrey commented on #422
@ashok-sc See the note in the README under https://github.com/TypeStrong/ts-node#loading-tsconfigjson. It's not provided directly by `ts-node`, but it's easily plugged in.

[2017-12-07 05:10] blakeembrey commented on #456
This should add `SKIP_xxx` and `--skip-xxx` to config flags.

[2017-12-07 08:18] zheeeng commented on #473
@stelcheck Thks for your help. `declaration` doesn't solve my problem, the 'type' option in tsconfig.json cause 3-rd JS package can't be complied. And 'noImplicitAny' cause another compiling problem.

[2017-12-07 20:34] stellarhoof commented on #472
Hmmm yeah you're right. I just thought `.load` would be smarter to invalidate all declarations beforehand.

[2017-12-07 20:57] blakeembrey commented on #472
How does load work in node.js with constant variables? If that works, we can try and find a way around this. The other alternative (and related to a similar issue on the REPL) is to disable a set of warnings automatically when using the REPL.

[2017-12-07 20:59] blakeembrey commented on #474
Thanks for the report. I believe there’s duplicate issues and a couple of PRs for this already, can you test the PRs and see if it works?

[2017-12-08 06:23] stelcheck commented on #472
[code]

[2017-12-08 16:49] whitecolor opened #475 "Move @types deps to devDependencies"
There is a bunch of `@types` packages in `dependencies`, seems they should not be needed by the end user, just for the sake of keeping things clean.

[2017-12-08 19:48] stellarhoof commented on #472
@stelcheck That is standard behavior yes. But the `const` redeclaration doesn't come from a `.load`. This is fine. What I'm looking for is a way for load to invalidate previous declarations when invoked. So in your example, since `const a` was already declared, it'd not error out, instead it'd overwrite the definition. But only on `.load`! I don't know if this is currently possible. Google has yie

[2017-12-09 05:16] stelcheck commented on #472
Since under the hood we use Node.js' REPL library - which, itself, is used when you run the actual `node` REPL - behaves as it does, I am not sure there would even be a way to do that for TypeScript. I hardly see how we would be able to keep track of which files define what ourselves TBH. Keep in mind that `.load` loads the file's code in the current context; once loaded, I doubt we'd have a prope

[2017-12-09 13:02] stelcheck commented on #473
Arguably, ts-node could safely override `noImplicitAnyP` when in REPL mode... that would indeed make it much easier to use it I think.

As for the `types` configuration entry, @zheeeng I am not sure what you are trying to say. Could you try rephrasing what you meant?

[2017-12-09 18:57] ORESoftware commented on #471
@stelcheck I think the problem is that `ts-node` spawns a child process

https://github.com/TypeStrong/ts-node/blob/master/src/bin.ts#L53

so what we need is that spawned child process to debug on a different port than the parent process.

[2017-12-10 00:55] stelcheck commented on #471
Why even spawn a port on the `bin` process? That process should not even *react* to NODE_OPTIONS; I can't think of a case where you'd want that as a user. This is why I was suggesting to either replace or wrap that file with a bash/sh/cmd file; these do not react to NODE_OPTIONS, and in the case of wrapping, options could then be forwarded the proper way to the spawned child process.

[2017-12-10 01:03] stelcheck commented on #470
Outside of the visual reference, might be nice to include the word "node" somewhere, so not to confuse newcomers into thinking this is a TypeScript logo.

[2017-12-10 02:45] ORESoftware commented on #471
dude I am so confused

this is ergonomic

`NODE_OPTIONS="--inspect-brk" ts-node foo.ts`

but it breaks... try it.

are you suggesting something more ergonomic, or less? Sounds like the latter to me. Perhaps demo the code you are talking about.

[2017-12-10 03:20] stelcheck commented on #471
Apologies for the confusion.

I am suggesting a way to patch `ts-node`'s code in a way that should solve your issue. Should we do that, running `NODE_OPTIONS="--inspect-brk"` should start working correctly as-is.

And please don't call me dude.

[2017-12-10 03:49] stelcheck commented on #471
Actually, the simplest thing might just be to introduce a `TS_NODE_OPTIONS` environment variable which would be passed as `NODE_OPTIONS` to the spawned process. @blakeembrey would that be acceptable to you?

[2017-12-10 04:15] stelcheck commented on #465
@bitliner made a PR to add the flag, see https://github.com/TypeStrong/ts-node/pull/476

[2017-12-10 04:16] stelcheck commented on #471
I preemptively created a PR implementing that behavior. @ORESoftware feel free to give it a spin and let me know if this would fix your current issue.

[2017-12-10 04:19] stelcheck commented on #475
I believe this is incorrect; for instance, you may want to use this repository programmatically to create your own customized TypeScript-enabled REPL. In such case, I believe the types need to be present for your dependent code to compile, but let me know if this is incorrect.

[2017-12-10 04:44] stelcheck commented on #474
@gregjacobs https://github.com/TypeStrong/ts-node/pull/477 Should solve your issue.

[2017-12-10 05:00] stelcheck commented on #459
FWIW https://github.com/TypeStrong/ts-node/pull/476 would allow you to start inspect only on the child process.

Indeed, Node itself does [quite a few things for managing ports](https://github.com/nodejs/node/issues/12941), and that behavior might be a tad bit different depending on the version of Node you are using. The only safe and sound thing to do would either to capture flags in a non-node p

[2017-12-10 06:49] ORESoftware commented on #459
This issue is related https://github.com/TypeStrong/ts-node/issues/471

[2017-12-10 09:17] whitecolor commented on #475
It depends on whether exported API uses those typings or not.
[code]
I see that https://github.com/TypeStrong/ts-node/blob/master/src/index.ts#L29 exported interfaces don't use them.

[2017-12-10 10:01] zheeeng commented on #473
@stelcheck In `tsconfig.json` I setted `types: [mocha]`. That exclude other type definitions and cause ts-node to work normally. My bad.

[2017-12-10 10:43] stelcheck commented on #473
Right. As soon as you put one types, you now need to put *all* types explicitly indeed.

[2017-12-10 20:02] ORESoftware opened #478 "Common use case not documented - ts-node-register"
Seems like this is a common use case:

[code]

if it's correct, we should put it in the README methinks

[2017-12-10 22:07] blakeembrey commented on #478
This should not be a common use-case and it probably shouldn't be in the README. You can discover it through documentation, but compiling `node_modules` at runtime for `.ts` files isn't a practice I want to recommend anyone or support by default.

[2017-12-10 22:07] #478 closed

[2017-12-10 22:08] blakeembrey commented on #475
It would be nice to do, for the sake of keeping things clean, but we can't really guarantee or easily test that these interfaces won't be accidentally exported at some time in the future. For that reason, I'd prefer to keep the `@types` in the same location as the plain dependency.

[2017-12-10 22:09] #474 closed

[2017-12-10 22:29] blakeembrey commented on #459
I would love to kill the process tree at this point. The main reason it's required is actually for REPL support, but I think it'd be good and/or fine to move toward `ts-node` for REPL only and `node -r ts-node` for everything else, or at the very least detect if it looks like REPL or regular usage and switch behaviour to prefix `--require ts-node/register`.

[2017-12-10 22:36] blakeembrey commented on #468
@stelcheck Thanks for your PRs. I'm looking into it now.

[2017-12-10 22:36] #468 closed

[2017-12-10 22:55] blakeembrey commented on #457
Closing with https://github.com/TypeStrong/ts-node/pull/419. Let me know if it doesn't solve your issue!

[2017-12-10 22:55] #457 closed

[2017-12-10 22:56] blakeembrey commented on #470
Love the logo and would be happy to add it to the README 😄 Agree with @stelcheck that adding `node` somewhere on there is probably a good idea - it definitely looks like it could be the TS logo as is.

[2017-12-10 23:19] hach-que opened #479 "4.0.0 breaks requiring ts-node/register on Windows by Gulp"
According to a lot of documentation out there, you only need to install `ts-node` alongside Gulp, and Gulp will be able to execute `Gulpfile.ts` directly via `ts-node/register`. The 4.0.0 package doesn't seem to include this file, and this breaks that integration with:

[code]

I was super confused when I couldn't find any information on this issue, only to realise the 4.0.0 is only 30 minutes old

[2017-12-10 23:36] blakeembrey commented on #479
Thanks for the catch! Forgot to update the `package.json` files list.

[2017-12-10 23:38] blakeembrey commented on #479
Fixed with 4.0.1 😄

[2017-12-10 23:38] #479 closed

[2017-12-10 23:39] gregjacobs commented on #474
Great, glad to hear! Tested with 4.0.0 and seems to work. Thanks guys!

[2017-12-11 14:31] MaxCCC commented on #475
@blakeembrey we are facing proxy issues since we are using 4.0.1 because of
[code]

We did'n have this before.

[2017-12-11 15:16] whitecolor commented on #475
Well, my point is  this need to be checked and the author should understand what they exposing or what not, ts-node API surface is not so huge to be really difficult to reason about for sure.

[2017-12-11 17:08] lednhatkhanh opened #480 "Does not work after upgrading to 4.0.0"
`ts-node` just suddenly stop working after upgrading to 4.0.0 (The same with 4.0.1):

nodemon.json
[code]

tsconfig.json
[code]

nodemon: 1.12.5 (dev dependency)
typescirpt: 2.6.2 (dev dependency)
ts-node: 4.0.1 (dev dependency)

Reverted ts-node back to 3.30 solved the problem.

[2017-12-11 19:03] dammitcoetzee opened #481 "ts-node doesn't do anything 4.0.0 and 4.0.1 on Windows"
I'm running windows 10. It's a brand new and updated windows install.

When I npm install -g ts-node and then try to run tsnode nothing happens. None of the commands do anything.

I tried 4.0.0 and the same happens.

I installed 3.3.0 and now the REPL shows up and all commands run as normal.

Thanks,
Gerrit

[2017-12-11 22:46] dereklin opened #482 "Can't install v4.0.1 because git dependencies"
I am behind a proxy.

Looking at the package.json I see:

[code]

I am getting this error:

[code]
Is there any plan to use the types from npmjs.org?

[2017-12-12 03:15] stelcheck commented on #475
@whitecolor A human error remains quite possible. Do you know of a TypeScript tool that allows verifying that the exposed types need to be shared or not?

[2017-12-12 03:17] stelcheck commented on #459
Oh, I was under the impression it was because of v8 flags and general flag parsing/mangling?

[2017-12-12 06:42] MaxCCC commented on #482
Same issue but different error since 4.0.1 (version 3.3.0 is working)
we are facing proxy issues since we are using 4.0.1 because of
[code]

error:
[code]

[2017-12-12 08:14] BernhardRode commented on #482
Not working behind our coporate proxy, too.

[2017-12-12 09:40] fox1t commented on #480
Hi, i have the same problem when using ts-node >= 4.x.x. When i save a file, node process isn't killed and both dev port and inspector port remains used. If i downgrade to 3.x.x, it starts working again. I use this npm scripts to start in dev mode:
`"nodemon": "nodemon -e ts -w \"./src\" -x \"npm run debug\"",`
`"debug": "ts-node --inspect ./src/index.ts",`

[2017-12-12 10:31] ibqn commented on #481
I have the same issue, good to know that I am not alone!
There is no output at all, I do not know even how to debug in this case.....

[2017-12-12 10:48] whitecolor commented on #475
Some checks are done while tsc produces declarations. Also, this test TS API could be done in CI (with removed dev deps), but I'm not sure that it does worth the efforts.

[2017-12-12 11:34] Xceno commented on #481
Tried to run it through `PM2`. Same result here

[2017-12-12 17:28] blakeembrey commented on #475
To resolve the issue with the proxy, we could get the types into `@types` instead of using GitHub URLs too. As for figuring out dev and not dev, I could build a tool for it - it could be a modification/plugin of something like https://github.com/maxogden/dependency-check. I'll reopen with the intention that we do that before moving the dependencies.

[2017-12-12 17:37] blakeembrey commented on #459
You're right, we do need to proxy through the flags if we expose an executable `ts-node`. However, I think it could be done by instead prefixing `-r ts-node/register` (it seems it would fix this issue). Even better might be just to kill this feature to recommend `node -r ts-node/register` though - I'm not sure how many people prefer `ts-node script.ts` over `node -r ts-node/register script.ts`. I'

[2017-12-12 17:53] unlight commented on #481
+1. Same result when using `npx`

[2017-12-12 17:55] unlight commented on #480
Possible duplicate #481

[2017-12-12 20:27] whitecolor commented on #475
Not sure how https://github.com/maxogden/dependency-check may help with `@types` deps.

[2017-12-13 13:32] schmuli commented on #482
Are these types required at runtime? I would assume that moving them into the `devDependencies` would resolve the Proxy issue, without requiring a different source.

[2017-12-13 18:24] Hugheym commented on #481
Same here. After debugging, I see that the child process _bin.js is exiting with exit code 7 "[Internal Exception Handler Run-Time Failure](https://github.com/nodejs/node-v0.x-archive/blob/master/doc/api/process.markdown#exit-codes)"

[2017-12-13 20:45] whitecolor opened #483 "Some minimist args passed from cli are null not undefined"
![image](https://user-images.githubusercontent.com/736697/33961557-537699f8-e070-11e7-9eef-8ea734d74dec.png)

And here they are checked to be `undefined`, so for example `cache` doesn't work by default.
https://github.com/TypeStrong/ts-node/blob/master/src/index.ts#L172

[2017-12-14 01:25] Hugheym commented on #481
After some work debugging the child process, I found that the issue for me was that it was not resolving typescript because it was not installed globally. Maybe the issue is that no error message is printing when node cannot resolve typescript.

[2017-12-14 06:58] ORESoftware opened #485 "ts-node not working with async functions"
I am getting this error:

[code]

after using this code:

[code]

what am I doing wrong?

[2017-12-14 13:32] lednhatkhanh commented on #481
Any updates on this?

[2017-12-14 13:49] wartab opened #486 "Cannot install ts-node 4 on Windows with Cygwin"
Attempting to install ts-node 4 on Windows with Cygwin generates an invalid path when using git.

[code]

[2017-12-14 13:50] wartab commented on #486
Temporary workaround is to use the non Cygwin version of git, by the way.

[2017-12-14 13:56] whitecolor commented on #482
Those deps even not needed in prod version https://github.com/TypeStrong/ts-node/issues/475 they just should be moved to `devDependencies`

[2017-12-14 14:04] paulkoegel-wessels commented on #482
This PR should fix it: https://github.com/TypeStrong/ts-node/pull/484

[2017-12-14 15:57] blakeembrey commented on #485
You need to provide a full reproduction or more context. The error message I can see says nothing about async, it says your missing a parenthesis.

[2017-12-14 15:58] blakeembrey commented on #483
Feel free to submit a PR. Mini ist has caused me a lot of pain and I’d love to refactor that one day.

[2017-12-14 16:22] blakeembrey commented on #485
I'm going to close this issue. I can only guess that you've tried to put the `async` function in the same file as the register?

[2017-12-14 16:22] #485 closed

[2017-12-14 16:23] blakeembrey commented on #480
Can you share the OS or other information so someone can help you debug?

[2017-12-14 16:31] fox1t commented on #480
macOS: 10.13.2
nodemon: 1.12.5 (dev dependency)
typescirpt: 2.6.2 (dev dependency)
ts-node: 4.0.1 (dev dependency)

I haven't spare time to debug at the moment , otherwise i could do it and post even more info.

[2017-12-14 17:01] blakeembrey commented on #475
@whitecolor You need to recursively traverse type definitions and alert when any dependencies are either extraneous or missing. Seems like a similar tool to what it does today, just need a different entry point and a parser for `.d.ts` files.

[2017-12-14 17:02] blakeembrey commented on #486
Going to close as a duplicate of https://github.com/TypeStrong/ts-node/issues/475, since the fix should be the same.

[2017-12-14 17:02] #486 closed

[2017-12-14 17:03] blakeembrey commented on #482
Going to close as a duplicate of https://github.com/TypeStrong/ts-node/issues/475 for now.

[2017-12-14 17:03] #482 closed

[2017-12-14 17:06] blakeembrey commented on #480
Interesting, thanks. I thought it may have been a duplicate of https://github.com/TypeStrong/ts-node/issues/481, but not if it's on mac. Looks like these issues may be negative side effects of https://github.com/TypeStrong/ts-node/pull/419.

For anyone running into this, can you switch to using `node -r ts-node/register`? This avoids many of the process issues that were occurring and is likely the

[2017-12-14 17:08] blakeembrey commented on #481
Closing in favour of https://github.com/TypeStrong/ts-node/issues/480, if that's ok. The current fix should be to use `node -r ts-node/register` instead of `ts-node` directly.

[2017-12-14 17:08] #481 closed

[2017-12-14 17:09] blakeembrey commented on #473
Looks resolved?

[2017-12-14 17:09] #473 closed

[2017-12-14 17:11] blakeembrey commented on #471
For now, can you use `ts-node -r ts-node/register`? I'm hesitant to go too much further on the different node.js shell spawning tricks in use right now.

[2017-12-14 17:13] blakeembrey commented on #465
@stelcheck If you can split out this issue with the other one, I can merge one before the other.

[2017-12-14 17:40] ORESoftware commented on #471
@blakeembrey - in this case my node.js process is spawning children and I need to debug the children using Node.js exec flags, so it's not just about loading `ts-node/register`

[2017-12-14 18:00] unlight commented on #480
node v8.9.0 Win8.1x64 `node -r ts-node/register` works for me.

[2017-12-14 19:44] saadataz opened #487 "Repl stopped working after 4.0.0"
simply running `ts-node` no longer opens REPL terminal
Rolling back to 3.3.0 fixed it

[2017-12-15 00:58] ORESoftware commented on #485
@blakeembrey yeah I actually don't know what it was, it wasn't because `async` function was in the file as the register call, it was something else. But now it's working, probably some sort of operator error on my part

[2017-12-15 02:50] stelcheck commented on #465
Done.

[2017-12-15 02:56] stelcheck commented on #487
Seems to work for me. Can you specify the platform, node version you are running, and any additional contextual information that might help us figure out your issue?

[2017-12-15 03:06] stelcheck commented on #480
@blakeembrey just switched on my windows machine and everything seems to work fine when I rebuild from master on the repo. I do run into this issue when installing from NPM however.

[2017-12-15 03:59] blakeembrey commented on #480
@stelcheck That's really odd, there shouldn't be a difference between what's on master. Can you diff your built files at all? Maybe something in my release pipeline broke, that would be odd.

[2017-12-15 03:59] blakeembrey commented on #487
Possibly the same issue as https://github.com/TypeStrong/ts-node/issues/480?

[2017-12-15 04:00] #465 closed

[2017-12-15 04:01] stelcheck commented on #480
Never mind, I was able to reproduce the issue locally.

There seems to be two issues: one related to how early errors are piped through on Windows (maybe mac?), the other I am still investigating. Trying to get a PR in ASAP.

[2017-12-15 04:10] k8w commented on #480
@blakeembrey Also not work after upgrade 4.0.1

OS: Win10
Node: 8.9.1

[2017-12-15 04:20] xiaoqf10 commented on #456
--no-project useless, sad. Still can not ignore tsconfig.json

[2017-12-15 04:49] stelcheck commented on #480
The cause of the issue appears to be that `process.stdin/out/err` cannot be inherited by spawned processes on Windows. I couldn't find a solid reference to that issue, but that's the only thing that seems to be different.

That explains both why nothing gets printed out (the error happens in the subprocess, and its stdout/err is not piped to the main process), but also explains the actual crash (s

[2017-12-15 04:54] stelcheck commented on #480
Addendum: I suspect there might be something going on when using `ts-node` as a sub-process as well. (which would explain issues on macOS). I'll reboot on Linux soon and will check that as well.

[2017-12-15 05:09] stelcheck commented on #480
Just double-checked on Linux:

[code]

This seems to work properly. @fox1t is it possible that you also catch 'SIGTERM' in your app? You might also want to look into configuring a specific signal for nodemon https://github.com/remy/nodemon/pull/725 89 (been a while I haven't used it, assuming this is still configurable).

[2017-12-15 05:15] stelcheck opened #492 "GitHub issues and PR templates"
https://github.com/blog/2111-issue-and-pull-request-templates

It would really help with investigating if we had a few questions to be answered as part of an issue template.

I am guessing we might want something similar for PRs as well at some point.

[2017-12-15 05:19] stelcheck commented on #480
@fox1t Also, I see this issue in nodemon's issue tracker: https://github.com/remy/nodemon/issues/1164 - the reporter is on Windows, but perhaps it is related to your issue as well?

[2017-12-15 08:09] sanex3339 opened #493 "Enable --type-check option by default again"
Hi. After 4.0.0 version, i got many problems with `--type-check` option that disabled by default.
Now in all mocha tests (running with CLI or with WebStorm IDE Interface) i should add `TS_NODE_TYPE_CHECK` environment variable, because without that all tests are failing due to `typescript` compile errors.

It is possible to revert back this change or add more global way (through config file) to ena

[2017-12-15 12:43] wartab commented on #486
Thank you, that fix has worked!

[2017-12-15 18:50] kumarashwin commented on #470
@stelcheck @blakeembrey Thanks for the support. Will take your comments into account and work on perhaps another similar logo that could include what you guys are suggesting.

[2017-12-17 09:37] ORESoftware commented on #485
eh it only started working again because I switched to nodejs version 9 - it says missing parenthesis, because it can't parse async functions, not because there is a missing parenthesis.

[2017-12-17 09:43] ORESoftware commented on #485
**oh I know what's up -**

I was feeding ts-node a .js file instead of a .ts file, so it wasn't transpiling it, even though it needed to be transpiled...

how can I tell ts-node to transpile .js files too?

please lmk thx

[2017-12-17 10:08] ORESoftware opened #494 "async.series async functions not transpiling correctly / as expected"
This is probably an issue with typescript or the async library, but just a heads up

using the following code:

[code]

this works with Node.js version 9

but using

[code]

it won't fire the final callback, it just exits prematurely ... I think it's a transpilation issue

[2017-12-17 10:16] ORESoftware commented on #494
I made a video demoing the problem

https://www.useloom.com/share/7cf5a168e85e4059927506bae5e6d11d

[2017-12-17 16:10] KurtGokhan opened #495 "Metadata for cyclic imports cannot be resolved after v4.0.0"
Related to Microsoft/TypeScript#4521 and rbuckton/reflect-metadata#12, metadata for cyclic dependencies cannot be resolved. However if a factory method is used to define the type, we could somehow overcome this.

So in Typescript this may fail:

[code]

But this used to work:

[code]

This used to work in v3.3.0 but not in later versions.
I will try to create a reproducing repo. Maybe you have an

[2017-12-17 19:42] ORESoftware commented on #494
this is a problem with the async library not TS, sorry for false alarm

[2017-12-17 19:42] #494 closed

[2017-12-18 07:51] lp6moon opened #496 "worker process in cluster mode can't enable type-check"
https://github.com/TypeStrong/ts-node/blob/129153f810a7e2306a89ecafff9ae698dc871fff/src/index.ts#L173

here `options.typeCheck` is `null` not `undefined`, so it didn't load env settings

[2017-12-18 08:15] Diluka commented on #496
https://github.com/TypeStrong/ts-node/blob/129153f810a7e2306a89ecafff9ae698dc871fff/src/_bin.ts#L97-L105

The default cmd args is set with `null`. And `null` is not equal to `undefined`.

[2017-12-18 21:40] nwayve commented on #487
I just ran across this issue today as well.
[code]
[code]
[code]

Issue #480 was closed with "Upgrade to latest ts-node" but from what I can tell, `4.0.2` is the latest as of this post.  Hope this info helps.

[2017-12-19 02:59] Nbsaw commented on #487
Same Issues

[2017-12-19 04:03] stelcheck commented on #487
@Nbsaw @nwayve Could you try to test #489 and see if this solves your issue?

[2017-12-19 11:01] dannyhuly opened #497 "Use ts-node locally from node_modules"
Hi,

I there a way to use `ts-node` cli tool locally (from node_modules) ?
I would like to be able to run `node_modules/.bin/ts-node src/index.ts` instead of using it globally.

This will help to manage deferent `ts-node` versions for deferent projects.

[2017-12-19 14:41] nwayve commented on #487
@stelcheck That worked for me.
[code]
Went into `/node_modules/ts-node/dist/bin.js` and set `detached: true` to `detached: process.platform !== 'win32'`

[code]

Awesome find, thank you!

[2017-12-20 01:48] Nbsaw commented on #487
@stelcheck worked for me .

[2017-12-20 02:07] stelcheck commented on #497
You can create an npm script in your project as follow:

[code]

And then call

[code]

Only drawback of this method is that you need to escape flags:

[code]

However, if you do not use flags like that (just a file name, for instance), you can simply do:

[code]

Hope this helps.

[2017-12-20 05:10] rminster opened #498 "Cannot write to stdout in v4 on Windows"
After upgrading ts-node to v4.0.0, v4.0.1 or v4.0.2, I cannot write to stdout in Windows.  I had this issue on Node v6.3.0, v8.6.0 and v8.9.3.  For example, these commands print nothing...

[code]

[code]

[2017-12-20 08:18] stelcheck commented on #493
You might want to see https://github.com/TypeStrong/ts-node/pull/412 - you should be able to use the register specified there.

It seems that type-check was disable so that the default behavior may remain fast.

[2017-12-20 08:22] stelcheck commented on #498
This is related to #480

[2017-12-20 08:23] stelcheck commented on #480
Here is another PR which would also solve the issue by simply removing subprocesses overall: https://github.com/TypeStrong/ts-node/pull/499

[2017-12-20 08:23] stelcheck commented on #459
https://github.com/TypeStrong/ts-node/pull/499 Would solve this issue.

[2017-12-20 08:27] stelcheck commented on #471
https://github.com/TypeStrong/ts-node/pull/499 Would allow you to use NODE_OPTIONS off the bat instead of using TS_NODE_OPTIONS

[2017-12-20 16:12] dannyhuly commented on #497
@stelcheck thanks for the help but the idea is to be able to run the `ts-node` from a project local node_modules.

the script is only an alias and running `ts-node` in cli it will look for it in the global scope.

[2017-12-20 16:21] dannyhuly commented on #497
I have found the solution in any case.

[code]
I didn't noticed that the `"bin"` file is located in the `dist` directory.
I think that a `"bin"` file in the `node_modules/.bin` directory will be a bit more user friendly, but its semantics at this point.

[2017-12-20 16:21] #497 closed

[2017-12-20 22:56] stelcheck commented on #497
According to https://docs.npmjs.com/cli/run-script :

    In addition to the shell's pre-existing PATH, npm run adds node_modules/.bin to the PATH provided to scripts. Any binaries provided by locally-installed dependencies can be used without the node_modules/.bin prefix.

Since ts-node will be in that folder, what I suggested should work fine. I personally use this strategy on nunerous project,

[2017-12-21 00:23] ORESoftware commented on #471
cool I am all for anything that werks

[2017-12-21 17:11] ricardasjak commented on #480
Same problem here after upgrade from 3.3.0 to 4.0.1
Windows 10,
Node 9.2.0

However it works fine on CI (unix) build server.

[2017-12-23 02:28] #480 closed

[2017-12-23 02:48] blakeembrey commented on #498
Closing as duplicate of https://github.com/TypeStrong/ts-node/issues/480.

[2017-12-23 02:48] #498 closed

[2017-12-23 02:50] blakeembrey commented on #495
What do you mean that it fails? What is the command you're running?

[2017-12-23 02:52] blakeembrey commented on #493
The things you ask for already exist, you just need to check the README. There's config options listed in https://github.com/TypeStrong/ts-node#configuration-options and there's also `ts-node/register/type-check` defined in https://github.com/TypeStrong/ts-node#programmatic. Feel free to open a PR if these docs are inadequate.

[2017-12-23 02:52] #493 closed

[2017-12-23 02:52] blakeembrey commented on #493
What does this mean? It's failing because of TypeScript compile errors when there's no type checking?

[2017-12-23 02:53] blakeembrey commented on #496
Looks like a duplicate of https://github.com/TypeStrong/ts-node/issues/483.

[2017-12-23 02:53] #496 closed

[2017-12-23 10:33] sanex3339 commented on #493
thank you. `ts-node/register/type-check` works.

[2017-12-23 19:51] joelsmedberg opened #500 "Typescript strict mode support"
Hi, maybe it's just me who's missed something but it doesn't seem to support strict mode and nullable types like

[code]
Is this on the planned for anytime soon? Guessing it's pretty much ts 2.6 support.
Sorry if I'm way off..
cheers

[2017-12-23 22:12] KurtGokhan commented on #495
Basically when you have a code with cyclic dependencies like this:

[code]

[2017-12-24 10:17] KurtGokhan commented on #495
Ignore my previous comment. The problem was with `Reflect.getMetadata`. So instead of expected output:

I was getting:

Noticed that also some built-in types like `Buffer` were not recognized.

The difference between 3.x and 4.x is the default of `type-check` flag. Solved my problem using `type-check` flag.

[2017-12-24 10:17] #495 closed

[2017-12-25 02:11] VioletIzHere commented on #39
I am getting this error with CoffeeScript files. However, I have compiled them down to JavaScript files in a directory called `js/`. When I attempt to run the tests over these javascript files, of which each of them have already been confirmed to individually pass, the tests only run over the first, more nested test file. Each file has a similar naming scheme, the two being `misc.test.js` and `hel

[2017-12-25 23:46] arthot opened #501 "Missing IPC chanel"
Hi, I've noticed yet another problem with a `spawn` of child process.
For now *ts-node* has the following option while creating a child node: [`stdio: 'inherit'`](https://github.com/TypeStrong/ts-node/blob/89d62aa53fc969e0fbf8c4e4e5b63d2339856b7c/src/bin.ts#L71).
And according [node.js docs](https://nodejs.org/api/child_process.html#child_process_options_stdio) it means "no **IPC**" (Inter-process

[2017-12-26 14:02] blakeembrey commented on #501
Thanks for the awesome writeup! I think I'll just kill child processes instead, the amount of hacks is become unmanageable and recommending `node -r ts-node/register` seems more ideal for advanced usage. Thanks!

[2017-12-26 14:15] blakeembrey commented on #495
Right, that makes sense. You'd need to type information for reflection. Thanks for the update!

[2017-12-26 14:22] blakeembrey commented on #500
What do you mean by "it's not supported"? If TypeScript supports it, it's supported in `ts-node`. If it's the lack of type checking being enabled that's the issue, use `ts-node --type-check`.

[2017-12-26 14:22] #500 closed

[2017-12-26 14:22] arthot commented on #501
Yep, if you have plans to remove child process in near future you can close this issue, because
[code]
also produces **IPC is enabled**

[2017-12-26 21:33] IAMtheIAM commented on #104
Hey, FYI there still no documentation mention about the `--fast` or `-F` option. I just found it here. That's something worth adding to the readme along with a basic intro about what it does, if its still a valid option.

[2017-12-31 00:52] blakeembrey commented on #104
It's the default behaviour. See https://github.com/TypeStrong/ts-node/releases/tag/v4.0.0.

[2018-01-03 09:13] greenkeeper[bot] opened #503 "An in-range update of @types/react is breaking the build 🚨"
## Version **16.0.33** of [@types/react](https://www.npmjs.com/package/@types/react) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2F%40types%2Freact-16.0.33">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/react
    </td>
  </tr>
  <tr>

[2018-01-03 20:47] greenkeeper[bot] opened #504 "An in-range update of @types/node is breaking the build 🚨"
## Version **8.5.3** of [@types/node](https://www.npmjs.com/package/@types/node) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2F%40types%2Fnode-8.5.3">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/node
    </td>
  </tr>
  <tr>
    <th

[2018-01-05 00:21] xipheCom commented on #367
[code]
works except port sharing, what is the main reason for a cluster...... So it is useless. There is a EADDRINUSE error with this. Nevertheless the cluster starts and works well.

I have no idea why. execArgv works, because it should give some arguments to forked node. Seems it starts  ts-node.  Looks like without that the forks are not compiled, so node is complaining about invalid "import" s

[2018-01-05 02:35] xipheCom commented on #367
ok, after doing some research if found out that you have to do this:
[code]
I will create a gist tomorrow.

[2018-01-05 11:39] ksnyde opened #505 "ts-node failing on "import" statements where tsconfig states "commonjs" module"
I read through the now closed issue [212](https://github.com/TypeStrong/ts-node/issues/212) and I think this is related but separate. In a nutshell what I'm trying to do is:

- run mocha leveraging `ts-node`
- my `npm build` script DOES compile to **es2015** modules _but_ the `tsconf.json` explicitly states the module type as **commonjs** (aka, the build script just overrides the default setting f

[2018-01-05 18:37] greenkeeper[bot] opened #506 "An in-range update of @types/chai is breaking the build 🚨"
## Version **4.1.0** of [@types/chai](https://www.npmjs.com/package/@types/chai) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2F%40types%2Fchai-4.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/chai
    </td>
  </tr>
  <tr>
    <th

[2018-01-05 20:27] cryptoquick commented on #505
I'm in the same situation, but my command isn't even as complex as yours:

`"mocha -r ts-node/register -r tsconfig-paths/register -r chai/register-expect \"./spec/**/*Spec.js\""`

[2018-01-05 20:38] electroma commented on #409
I face similar issue with "config" module. It registers ts-node explicitly https://github.com/lorenwest/node-config/blob/02c98b7f5947ece93357652b69d9cb3da6decfd3/lib/config.js#L878

@blakeembrey, after i read your comment it is clear that fix should be done on "config" side.
Can you please suggest the best way to make sure that ts-node is already registered?

[2018-01-06 04:07] cmloegcmluin commented on #411
I have been experiencing the same problem. I am not sure how to capture a reproducible moment, but I will try.

[2018-01-07 16:28] electroma commented on #409
@sixmen https://github.com/lorenwest/node-config/pull/458 should fix your issue

[2018-01-07 16:56] severen commented on #505
I'm getting this when trying to load a JavaScript file that uses ESM exports, despite having the correct settings enabled and verified to work with TS files.

[2018-01-08 19:08] nnbosko commented on #505
There's something wrong with your tsconfig.json, probably. Check carefully.

[2018-01-09 06:04] mnasyrov commented on #505
Using of `--compilers ts:ts-node/register/type-check` helps to find missed definitions in my case.

[2018-01-09 14:01] soerenBoisen commented on #449
Could this be reopened, since this is a bug in the loader per above comment?

[2018-01-09 17:19] MuthukumarHelios commented on #483
hi @whitecolor  and @blakeembrey
I am very curious about the above issue...
But i cannot understand the Question  might be lack of knowledge
ts-node/dist$ls
`_bin.d.ts  bin.js       index.d.ts    index.spec.d.ts
bin.d.ts   _bin.js.map  index.js      index.spec.js
_bin.js    bin.js.map   index.js.map  index.spec.js.map
`

on the above .ts file which file you are running

[2018-01-10 00:38] SalathielGenese opened #508 "JSON, arsing error"
Please, parse `tsconfig` using `jsonc` format instead of default `json`.

I almost gave up testing with `jasmine` because of a trailing comma.

Thanks, guy

[2018-01-10 21:57] blakeembrey commented on #508
The config file is parsed using TypeScript, I'm not sure what the issue is? Can you please explain what you'd like to see changed.

[2018-01-10 21:57] #508 closed

[2018-01-10 23:38] blakeembrey commented on #505
`ts-node` doesn't compile dependencies in `node_modules`. See https://github.com/TypeStrong/ts-node#configuration-options for more info. I'll look into improving the README overall as soon as I get a chance.

[2018-01-10 23:38] #505 closed

[2018-01-11 09:45] everedifice opened #509 "child process living despite of parent process interrupted."
When i interrupt below typescript code by press Ctrl+C

Spawned child process living despite of parent process interrupted.

[code]

I tested ts-node v4.1.0, node v8.9.1, typescript v2.4.2 environment.

I tested same code with native javascript and execute by `node` command with below code

Child process killed successfully after parent process interrupted.

[code]

[2018-01-11 23:17] blakeembrey commented on #449
@soerenBoisen Feel free to open an issue or PR to https://github.com/TypeStrong/tsconfig, it's not handled here. You can also open an issue with TypeScript since the reason it had to be handled outside `ts-node` is that the TypeScript method wasn't exposed (this has probably changed since then, but I don't have time to fix it).

[2018-01-12 05:09] gkawin opened #510 "ts-node doesn't work when I use `esnext` in module generator."
I specify the module generator in `tsconfig.json` to `esnext`. I doesn't work. I got an error log like this
[code]
in the other hand, i change to `commonjs` It pretty work fine. unless I change the whole import codes to ```import React from 'react'``` to ```import * as React from 'react'``` instead. Do you have any idea how to work on esnext module?

[2018-01-13 20:04] blakeembrey commented on #510
Node.js would need to support ESNext modules and I believe there's a long discussion in https://github.com/TypeStrong/ts-node/issues/436 about figuring out how to support it.

[2018-01-13 20:04] #510 closed

[2018-01-14 04:56] mikelehen commented on #411
Oh, it's worth noting that we're using version 3.3.0 and so type-checking is enabled by default (and we do indeed want it enabled). I verified that with TS_NODE_FAST=YES set, then the error goes away (and presumably would by default on 4.x as well).

[2018-01-14 10:15] 19majkel94 opened #511 "ts-node breaks Date reflection mechanism"
[code]

ts-node output:
[code]
tsc and node output:
[code]
I have no idea what's going on, how can we check the emitted js files?
I'm using ts-node `4.1.0` 😉

[2018-01-14 10:48] xipheCom commented on #367
To close this issue I suggest to document the need of the parameters in execArgv for clusters . It works like a charme in one of my production apps

[2018-01-14 15:19] renehamburger commented on #268
@blakeembrey, I'm experiencing a similar issue when running Protractor tests through ts-node. The line and column numbers of the stack traces of errors thrown in the test files themselves are never correct. This is tricky, of course, as test expectations fail frequently and having an accurate stack trace is crucial.

Here's a minimal example which allows you to reproduce this issue: https://github

[2018-01-14 15:54] renehamburger commented on #268
I discovered the culprit! Protractor activates it's own source-map-support, which probably conflicts with the one in ts-node. Adding a `skipSourceMapSupport: true` to Protractor's config resolves the issue completely!

I'll post an issue at source-map-support to either resolve this issue or log a warning when it's activated multiple times.

[2018-01-15 15:25] janis-r commented on #495
Hello!
Can anyone elaborate on this one? I'm currently solving exactly the same problem of `undefined` types coming from Reflect metadata and even though we're currently using `awesome-typescript-loader` I'd be more than happy to upgrade webpack config to use `ts-loader` if that gives me all declared metadata without need to hack anything in code layout.
Only problem is that I cannot find any ment

[2018-01-15 15:37] KurtGokhan commented on #495
@janis-r this issue is exclusively on _ts-node_ and _node.js_ side. You do not seem to be using _ts-node_ but your issue might be related to Microsoft/TypeScript#4521 and rbuckton/reflect-metadata#12.

[2018-01-16 21:56] mikelehen commented on #411
Strangely, my problem (described above with the firebase-js-sdk repo) does not reproduce with 4.1.0. Instead I get kind of an inverse problem. If I make a module declaration change in A.ts that should cause B.ts not to compile, B.ts still compiles (even though I am using ts-node/register/type-check). Even if I change A.ts and B.ts at the same time (so both cached files are invalidated), it still c

[2018-01-16 22:43] mikelehen opened #512 "Document typeCheck option."
I seem to be confused about what this option does. My tests (written in typescript and executed via mocha with `--require ts-node/register`) run just as fast with or without typeChecking (~23 seconds after clearing the cache) and catch simple type errors I've tried introducing, regardless of whether I use the typeCheck option or not.

I've tried enabling / disabling it both via the require entrypo

[2018-01-16 23:11] mikelehen commented on #512
Okay, this is really weird. When I was clearing the cache between runs, ts-node/register and ts-node/register/typecheck both took 23 seconds. But if instead I set TS_NODE_CACHE=NO, then ts-node/register only takes 9 seconds, while ts-node/register/typecheck still takes 23 seconds (which is the opposite of what I would expect!).

My package.json has:
[code]

And here are my timings:
[code]

[2018-01-17 00:42] coreh opened #513 "SIGWINCH causes process to terminate on Windows"
Whenever I resize my terminal on Windows, `ts-node` terminates with `ENOSYS`.

Here's a video of it happening:

https://streamable.com/xsoep

That video was recorded while I had v4.0.0 installed, but I've updated to v4.1.0 and even with the detached terminal change, the error still takes place.

The problem seems to be caused by this line:
https://github.com/TypeStrong/ts-node/blob/master/src/bin.

[2018-01-17 09:21] Gekkio opened #515 "Use of enums is transpiled in a different way than with tsc"
For some reason TypeScript enum values are transpiled differently with ts-node than with tsc. This can lead to runtime errors if the used enum doesn't exist at runtime.

Here's an example: the current typings for `big.js` define an enum that doesn't actually exist in the JS library:

[code]

This enum doesn't exist at runtime:

[code]

Now, let's say we have this TS code:

[code]

tsc transpiles i

[2018-01-17 16:47] greenkeeper[bot] opened #516 "An in-range update of source-map-support is breaking the build 🚨"
## Version **0.5.1** of [source-map-support](https://github.com/evanw/node-source-map-support) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2Fsource-map-support-0.5.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      source-map-support
    </td

[2018-01-17 17:08] subvertallchris commented on #515
I am also experiencing this problem. It occurs in both 3.3.0 and 4.1.0 when using TypeScript 2.5.3.

[2018-01-17 17:52] greenkeeper[bot] opened #517 "An in-range update of semver is breaking the build 🚨"
## Version **5.5.0** of [semver](https://github.com/npm/node-semver) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2Fsemver-5.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      semver
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2018-01-20 18:19] endel opened #519 "graceful shutdown using child processes"
Whilst issue https://github.com/TypeStrong/ts-node/issues/457 has been fixed on `ts-node@4.1.x`, the behaviour is still wrong when using child processes. (cluster module)

I've updated my sample project to demonstrate the issue here: https://github.com/endel/ts-node-graceful-shutdown-issue

## `ts-node` behaviour:

SIGINT can be catched only for the master process.

[code]

## `node` behaviour:

S

[2018-01-20 18:42] endel commented on #509
Seems related to https://github.com/TypeStrong/ts-node/issues/519 and https://github.com/TypeStrong/ts-node/pull/419 😢

[2018-01-20 19:44] soulmachine opened #520 "TypeError: pubnub_1.default is not a constructor"
I'm not sure this issue is related to pubnub or ts-node, but when I use pubnub with ts-node together, it will throw out the following error:

[code]

My code is:

[code]

And my `tsconfig.json` is:

[code]

I've already installed types for pubnub,

[code]

I guess I need to change some configurations in `tsconfig.json`, any ideas?

[2018-01-21 12:54] 19majkel94 commented on #511
ping @blakeembrey after a week 😜

[2018-01-22 10:30] courteous opened #521 "ts-node using with mocha and tsconfig.json"
Hello and first thank you for creating this project.  I bumped is a problem that seems to be discussed before but it is not clear to me what the solution is:

Here is the problem:

I was following yesterday this unit testing [manual](https://journal.artfuldev.com/unit-testing-node-applications-with-typescript-using-mocha-and-chai-384ef05f32b2)  that describe one of the ways how to do unit testing

[2018-01-22 15:01] phiresky opened #522 "Can't pass node flags"
I'm trying to run a file with `ts-node --harmony-async-iteration file.ts` but it just drops me to a node REPL. There seem to be multiple issues regarding similar stuff, but I can't find any information on what the current state is.

[2018-01-22 20:31] NaridaL commented on #456
@blakeembrey I authored a PR to fix this.

[2018-01-22 21:12] ORESoftware commented on #522
check out this issue: https://github.com/TypeStrong/ts-node/issues/471

[2018-01-23 09:03] gloomybrain commented on #521
Hi @courteous! I've been struggling with the same issue lately and here's the setup that worked for me:

**package.json**
[code]

**tsconfig.json**
[code]

So as you can see the `npm start` command first executes compilation via `tsc` (see "prestart") and then actually starts the main file. Notice the "include" section in **tsconfig.json** that implicitly excludes everything other than "src" direc

[2018-01-23 21:55] nebeleh opened #524 "issue in compiling modernizr and jsdom, in a mocha test"
I have a small [repo](https://github.com/nebeleh/ts-node-test) for testing a couple of modules using `mocha` and `ts-node`.

`src/myclass.ts`:
[code]

`src/myclass.spec.ts`:
[code]

One of my modules uses [modernizr](https://modernizr.com/). When I use `npm run test` everything works fine, however, I need to implement and test modules that use client-side methods like `atob` as well. For that, I h

[2018-01-23 22:53] greenkeeper[bot] opened #525 "An in-range update of @types/mocha is breaking the build 🚨"
## Version **2.2.47** of [@types/mocha](https://www.npmjs.com/package/@types/mocha) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2F%40types%2Fmocha-2.2.47">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/mocha
    </td>
  </tr>
  <tr>

[2018-01-24 07:54] windware commented on #232
Old thread but, @blakeembrey can you explain your set up?

I have been trying with "tsc -w" + node-dev and while it was good, "tsc -w" never picks up newly added files, I had to manually restart "tsc -w" in those cases but lately, I've switched to "nodemon" and "ts-node", so that if any file gets modified or added "ts-node" gets restarted, which is usually fast enough.

I also found there's a pack

[2018-01-24 10:58] NaridaL commented on #520
The correct import is `import pubnub = require('pubnub')`.

[2018-01-24 11:02] windware commented on #106
Good thing about node-dev (ts-node-dev) is that you don't have to specify any files to monitor as any files that were 'require'ed would be automatically monitored but if some are 'require'ed at a later point, it won't be picked up though. You could require them at the start explicitly (assuming they don't do any destructive operations) to just preload them.

[2018-01-24 15:58] jwhitmarsh commented on #519
I was just about to open an issue, but I think this is related - i'm getting issues when running with the `--inspect` flag. Stopping and starting a process throws `Starting inspector on 127.0.0.1:9229 failed: address already in use` - presumably because the inspector is a child process which hasn't been stopped?

[2018-01-24 16:05] jwhitmarsh commented on #519
After a bit more digging around in the issues it seems as though `node --inspect -r ts-node/register` works, which is perhaps expected?

[2018-01-24 18:21] soulmachine commented on #520
@NaridaL By doing so you're importing it as a normal JavaScript library and you lose type checking

[2018-01-24 22:30] soulmachine commented on #520
@NaridaL Thanks!

But in this file [types/pubnub/index.d.ts](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/pubnub/index.d.ts), pubnub is exported by `export default Pubnub;` instead of `export = Pubnub;`

[2018-01-25 00:05] rbuckton opened #527 "ts-node no longer working with TypeScript@2.7"
ts-node has a dependency on an old api called `parseConfigFile` that was removed in 1.7. In TypeScript 2.7 a new internal `parseConfigFile` was added with a different signature for a different purpose and it seems that due to the order in which ts-node looks for an API to parse a tsconfig.json file.

Example:
[code]

I would recommend changing the order of feature testing to push the check for par

[2018-01-25 14:46] cortopy commented on #391
I'm also experimenting this issue. If I have *.d.ts files in the src code, ts-node will throw:

[code]

However, tsc works fine

[2018-01-25 15:43] courteous commented on #521
Hello Denis,  many thanks for the reply. I have tired exactly what you described and for that proposed i wanted to consolidate all my *.ts file in one folder which i did just not. i.e. currently all *.ts are in folder called ts/ which is on in on level as the package.json and tsconfig.json. However  even when putting the  "inlude"statement in the tsconfig as you proposed and execution the npm star

[2018-01-25 22:48] nebeleh commented on #524
I was able to resolve this issue, but the solution is non-intuitive and I'm not sure why.

So the only way I could both use `jsdom` functions and load `modernizr` was to avoid registering `jsdom` in my `mocha` commands, i.e., I had to only use `"test": "mocha -r ts-node/register src/**/*.spec.ts"`. But then in my test file, I can use `require("jsdom-global")()` and it will solve the problem.

Inte

[2018-01-26 00:14] kantlove commented on #520
Check this pull request DefinitelyTyped/DefinitelyTyped#23085, the export statement is now updated to `export = Pubnub`

[2018-01-26 00:25] soulmachine commented on #520
@kantlove Thanks, it does solve the problem!

[2018-01-26 00:25] #520 closed

[2018-01-26 11:04] courteous commented on #521
got it changing node-ts does not support em6 yet, described here:

https://github.com/TypeStrong/ts-node/issues/212

changing the  module parameters from

// "module": "es6",
      "module": "commonjs",

worked for me,  although  es6 support will be nice since that is where the road is going anyway.

[2018-01-28 10:53] sshraki opened #528 "typescript browser error"
ReferenceError: require is not defined  [Learn More]      polyfills.js%20line%20120%20%3E%20eval:1:1
ReferenceError: exports is not defined  [Learn More]      vendor.js:1:1
ReferenceError: exports is not defined [Learn More]       app.js:1:1

im getting this error on browser any one can help ??

[2018-01-28 23:45] blakeembrey commented on #232
@windware You're definitely right. Today with the fast transpile mode being default my answer is probably different, it'd be quickest to either use `ts-node` directly and have something restarting it - or use something like `ts-node-dev`.

[2018-01-29 00:18] blakeembrey commented on #511
Try using `--type-check` if you want type information.

[2018-01-29 00:18] #511 closed

[2018-01-29 00:24] blakeembrey commented on #528
This repo is for `ts-node` and doesn't have anything to do with running in a browser.

[2018-01-29 00:24] #528 closed

[2018-01-29 00:25] #503 closed

[2018-01-29 00:25] #504 closed

[2018-01-29 00:25] #506 closed

[2018-01-29 00:26] blakeembrey commented on #522
Try `node --harmony-async-iteration --require ts-node/register file.ts` instead.

[2018-01-29 00:26] #522 closed

[2018-01-29 09:24] 19majkel94 commented on #511
Ok, it works but why only `Date` reflection is broke in this mode? What does `--type-check` do? 😕 Why no "Use TypeScript with type checking" affect on this case?

[2018-01-29 14:06] agborkowski commented on #113
same here.. TS_NODE_IGNORE_WARNINGS just silent down errors... needs cmd+c and run again

[2018-01-29 14:34] agborkowski commented on #266
@gpresland youp works for me too `npm run test:watch` execute cmds like:

[code]

and watch works very well

[2018-01-29 19:00] danielpa9708 commented on #216
I have the same problem in linux,

[code]

[2018-01-30 14:20] paulsouche commented on #216
@danielpa9708 add

[code]

[2018-01-31 17:39] evgenyt1 commented on #46
@cspotcode I had to replace "runtimeArgs" with "args" to make it work.
Otherwise `--inspect=12400 --debug-brk` args are passed after `foo.ts` and are ignored by ts-node

node: 8.9.4
ts-node: 4.1.0
vs-code: 1.9.3

[2018-02-01 00:36] sagnol commented on #430
I have same error.
using nodemon (nodemon.json)
[code]

[2018-02-02 16:38] SalathielGenese commented on #508
@blakeembrey

They were trailling semicolon and comments in my tsconfig... Which tsc itself handle well through `jsonc` spec format.

At  first, I was thinking JASMINE wasn't working as expected (since I wanted to setup Jasmine for TS raw files)... But after 04 days of unsuccessful attempts, I tried to debug it myself and found that the issue came from the way ts-node parses the `tsconfig.jscon` f

[2018-02-02 23:52] cuarti opened #529 "require imports javascript if exist instead of typescript"
When you import/require a module from the typescript file called from ts-node, it imports typescript if javascript doesn't exist, otherwise execute javascript instead of typescript.

In my case, I have a webpage in typescript and compiled to javascript to execute it in development and production, because is faster instead of execute typescript directly. I have some typescript scripts to test actio

[2018-02-03 01:18] crammag commented on #529
If I understood properly your problem, you need that TS extension has a greater priority than JS extension. I fixed it on my [fork](https://github.com/crammag/ts-node), could you check if this solves your problem? If so, later I will create the PR to this repo.

[2018-02-05 22:09] cuarti commented on #529
Yes it works, is a little bit ugly deleting and reassigning properties, but works. I supose that internally NodeJS gets the pointer of require.extensions so the only method to fix is reassign the properties.

[2018-02-06 00:01] crammag commented on #529
Okay, creating PR. If someone finds a better way, i'll be glad to hear it.

[2018-02-06 20:56] crammag commented on #529
I had to close the PR because I found a bug on this approach, I'll try to solve it as soon as posible and then reopen the PR.

[2018-02-07 12:06] localvoid commented on #515
Running `ts-node` in type check mode should fix this problem:

[code]

[2018-02-07 15:17] 4F2E4A2E commented on #511
@blakeembrey why did you close this issue? Does it mean it's not a bug? Will this be covered somehow or is the param workaround the final solution?

[2018-02-08 12:22] Deilan opened #531 "debug-wise args are not honored"
- `nodemon -v`: 1.14.12
- `node -v`: 8.9.4
- `ts-node -v`: 4.1.0
- Operating system/terminal environment: Windows 10 x64
- Command you ran:

`nodemon` with the following `nodemon.json`:
[code]
### Expected behaviour
`--inspect=5858 --inspect-brk` are passed to node and one can connect with debugger

### Actual behaviour
`--inspect=5858 --inspect-brk` are not passed to node and one can't connect wi

[2018-02-08 12:24] Deilan commented on #531
Continuation of discussion of remy/nodemon#1250.

[2018-02-09 09:03] dragosbulugean commented on #527
TypeScript 2.7.1
ts-node 4.1.0

It is just stuck - doesn't do anything. Any clues as to why?

[2018-02-10 10:19] appsolutegeek commented on #531
Yes, I was going crazy for a file. I thought it was just me. Actually, I am also running nodemon but I took this out of the equation. So I execute

`ts-node ./src/index.ts --inspect-brk=5860   `

And the same thing, it never waits for the debugger to be attached and prints out to the console the console.log that I made. I also had a breakpoint on the console.log.

[2018-02-10 10:21] appsolutegeek commented on #531
Sorry, probably worth mentioning that i am on a MAC

and

ts-node v4.1.0
node v8.9.1
typescript v2.7.1

[2018-02-10 10:35] appsolutegeek commented on #531
Ok, I think i have a workaround

You can execute it like this

`node --inspect-brk=5858 --require ts-node/register ./src/index.ts`

so you can create your nodemon.json file and do this, (create multiple nodemon.json files if you like - I have 1 for inspect and 1 for inspect-brk)

[code]

Hope that helps.

So this trick here is not to run ts-node direct but to load via node.

[2018-02-10 11:39] Deilan commented on #531
Thanks for the workaround! Unfortunately it's not a complete solution because there's a case when third-party tools pass these args to the ending dynamically, e. g. Visual Studio Code debugger.

[2018-02-11 06:23] windware commented on #512
It seems current version 4.1.0 released on npm still has old options in the help.

[2018-02-13 01:01] renewooller opened #532 "Improvements to error message for incompatible tsconfigs"
Hi, this is a fantastic project, thanks for it.

I have some feedback for small improvements that could substantially improve the initial experience when working with random tsconfigs

When the tsconfig.json is incompatible with ts-node, we currently get an error like so:

[code]

What would be great is if a JSON-schema or similar was defined for the tsconfig, and the incoming tsconfig.json was va

[2018-02-13 07:31] GeeWee commented on #511
What does the --type-check flag do? We're having the same issue in ts-jest.

[2018-02-13 23:02] oshingc commented on #182
where do you put this? ts-node -O '{ "module": "commonjs" }'

[2018-02-15 10:50] greenkeeper[bot] opened #534 "An in-range update of make-error is breaking the build 🚨"
## Version **1.3.4** of [make-error](https://github.com/JsCommunity/make-error) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/TypeStrong/ts-node/compare/greenkeeper%2Fmake-error-1.3.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      make-error
    </td>
  </tr>
  <tr>
    <th align=

[2018-02-15 20:42] cortopy commented on #391
I've just noticed it also happens when I import from an index file that `exports * from` other modules in same directory. Again tsc works fine, ts-node doesn't

[2018-02-16 21:46] emzero commented on #182
@gluons
Yes, that works, but why it doens't if  `"module": "commonjs"` is specified in `tsconfig.json` ?
`tsc` works using my tsconfig.json but `ts-node` doesn't...

[2018-02-17 06:04] gluons commented on #182
@emzero For me, I use `"module": "es2015"`. So, it won't work because `ts-node` doesn't support `"module": "es2015"`. But in the other case, I don't know. 😅

[2018-02-17 06:06] gluons commented on #182
@oshingc It's just a command line option.

**From `ts-node` docs:**

[2018-02-17 17:34] thasmo commented on #513
Happens for me too, although it's not a `ENOSYS` but a `EINVAL`.
[code]

[2018-02-17 17:38] thasmo commented on #513
Also see https://github.com/nodejs/node/issues/9542.

[2018-02-19 04:09] blakeembrey commented on #532
JSON schema would not tell you your JSON is invalid as you'd still need to parse it to validate. What exactly are you suggesting? The correct fix would be to use TypeScript to load the `tsconfig.json` file if that API is properly exposed.

[2018-02-19 04:11] blakeembrey commented on #531
I'd recommend using `node --require` with flags. I'm going to deprecate this current usage, the hacks are just too taxing on me to maintain. Can you describe why that doesn't work for Visual Studio Code debugger?

[2018-02-19 11:03] renewooller commented on #532
It seems the problem is not that it's invalid JSON, but rather that the tsconfig has fields that cannot be processed by ts-node, like 'include'. IE I've found through trial an error that if I remove 'include', it will work. So I'm proposing we include some post-parsing validation into ts-node to make sure the tsconfig is acceptable. I'd prefer to use JSON schema to do this, but I'm ok with hardcod

[2018-02-19 15:18] Kaba2 opened #535 "Ignore node_modules without ignoring project/node_modules"
I'd like to ignore the `node_modules/` path in ts-node (--ignore), but not ignore the `project/node_modules/` path. Is this possible? A similar thing is possible, for example, in .gitignore where you can say `node_modules/` followed by  `!project/node_modules/`.

[2018-02-19 17:09] Xotabu4 commented on #46
For debugging protractorJS tests this works:

[code]

The only JS file - is `protractor.conf.js`, and first line - `require('ts-node').register();`

tsconfig.json:
[code]

[2018-02-19 20:45] blakeembrey commented on #532
As far as I know, that's not the case. Would you like to make an example that can reproduce your issue? If the JSON is valid, you won't have a syntax error, so I'm not quite sure I follow how you landed in this issue.

[2018-02-19 20:46] blakeembrey commented on #535
Should currently be `--no-ignore` mentioned in https://github.com/TypeStrong/ts-node#configuration-options. Will be `--skip-ignore` in a future release.

[2018-02-19 20:46] #535 closed

[2018-02-19 20:48] blakeembrey commented on #535
Oh, I see, it's a bit more complex than that. I'm honestly not sure but probably using a messy regexp could work? Something with a negation possibly, but you'll probably have to explore that for yourself (or just disable for now).

[2018-02-19 22:11] blakeembrey commented on #501
Closing with https://github.com/TypeStrong/ts-node/pull/536. Thanks for your patience!

[2018-02-19 22:11] #501 closed

[2018-02-19 22:15] #534 closed

[2018-02-19 22:16] blakeembrey commented on #532
Should be fixed with https://github.com/TypeStrong/ts-node/pull/536. I bumped a minimum TypeScript version required and am now using the built in TypeScript parser.

[2018-02-19 22:16] #532 closed

[2018-02-19 22:16] blakeembrey commented on #531
Closing with https://github.com/TypeStrong/ts-node/pull/536. I recommend `node -r ts-node/register` for all advanced node.js use-cases and flags.

[2018-02-19 22:16] #531 closed

[2018-02-19 22:17] blakeembrey commented on #527
Thanks for your patience, I haven't had much time for OSS recently. I finally got to it with https://github.com/TypeStrong/ts-node/pull/536.

[2018-02-19 22:17] #527 closed

[2018-02-19 22:17] #525 closed

[2018-02-19 22:20] blakeembrey commented on #521
JSON parsing should be a bit better with https://github.com/TypeStrong/ts-node/pull/536 so the error will be easier to track down. Your issue was with invalid JSON (trailing comma in the `exclude` array) but it shouldn't be an issue with the next release.

[2018-02-19 22:20] #521 closed

[2018-02-19 22:21] blakeembrey commented on #519
Closing with https://github.com/TypeStrong/ts-node/pull/536. Pushing people toward `node -r ts-node/register` for advanced usage since there's been a bunch of drawbacks with both approaches I've taken for supporting node.js flags natively.

[2018-02-19 22:21] #519 closed

[2018-02-19 22:21] #516 closed

[2018-02-19 22:21] #517 closed

[2018-02-19 22:24] blakeembrey commented on #515
Please note this has nothing to do with `ts-node` vs TypeScript compilations being different. This is just because runtime is failing (e.g. compilation works on both, but the code is wrong). That's because the `.d.ts` file is incorrect, `.d.ts` files don't interact with runtime so whatever is in there needs to match expectations - in this case, it does not, because that package doesn't actually ha

[2018-02-19 22:24] #515 closed

[2018-02-19 22:25] blakeembrey commented on #515
I apologise actually, @localvoid is correct. It's likely because it needs the type information for inlining. I didn't realise TypeScript had changed this behaviour, I recall it was an issue long ago with the compiler.

[2018-02-19 22:26] blakeembrey commented on #513
Closing with https://github.com/TypeStrong/ts-node/pull/536 and removing sub-process behaviour.

[2018-02-19 22:26] #513 closed

[2018-02-19 22:26] blakeembrey commented on #509
Closing with the deletion of child processes in https://github.com/TypeStrong/ts-node/pull/536.

[2018-02-19 22:26] #509 closed

[2018-02-19 22:26] blakeembrey commented on #512
Added with https://github.com/TypeStrong/ts-node/pull/536.

[2018-02-19 22:26] #512 closed

[2018-02-19 22:28] blakeembrey commented on #487
Closing with https://github.com/TypeStrong/ts-node/pull/536.

[2018-02-19 22:28] #487 closed

[2018-02-19 22:28] blakeembrey commented on #483
Closing with https://github.com/TypeStrong/ts-node/pull/536.

[2018-02-19 22:28] #483 closed

[2018-02-19 22:29] blakeembrey commented on #471
Closing with https://github.com/TypeStrong/ts-node/pull/536 as I won't be supporting the subprocess behaviour anymore.

[2018-02-19 22:29] #471 closed

[2018-02-19 22:31] blakeembrey commented on #459
The `ts-node` subprocess has been killed with https://github.com/TypeStrong/ts-node/pull/536.

[2018-02-19 22:31] #459 closed

[2018-02-19 22:31] blakeembrey commented on #430
Closing without extra info.

[2018-02-19 22:31] #430 closed

[2018-02-19 22:32] blakeembrey commented on #456
Should be possible again now with https://github.com/TypeStrong/ts-node/pull/536. Thanks for your patience.

[2018-02-19 22:32] #456 closed

[2018-02-19 22:34] blakeembrey commented on #385
Closing as it should be resolved since 4.0. Thanks @winksaville.

[2018-02-19 22:34] #385 closed

[2018-02-19 22:35] blakeembrey commented on #161
Closing this now as it seems like to be some sort of type loading issue.

[2018-02-19 22:35] #161 closed

[2018-02-20 06:44] blakeembrey commented on #511
It does what it sounds like. It uses the TypeScript compiler to compile using the language services and type system information. Without it is only a single file transpile. If you don't have type information, you won't be able to get features that are required by having type information (such as reflecting type information as metadata).

It is not a bug, if you want type information the solution i

[2018-02-20 08:28] 19majkel94 commented on #511
I've tested it and every single reflection works (classes from external files, String, Number, Boolean, etc.), only the `Date` is reflected as `Object` in this mode. That's why it's weird, should we bump the question to the TS team?

[2018-02-20 15:50] slikts commented on #522
The above command results in `Error: Cannot find module 'ts-node/register'`

[2018-02-21 00:04] michalchochol opened #537 "in newest version 5.0.0 debugging is not possible using --inspect parameter"
In ts-node@5.0.0 --inspect parameter does not work anymore. It was working in previous ts-node version.

[2018-02-21 17:30] blakeembrey commented on #511
@19majkel94 Without using `--type-check`? That's really interesting interesting, I expected an all or nothing case since the transpiler mode is a really quick `x -> y` operation without validation of types. Feel free to ping someone on the TS team, I'm not sure I'll have enough time to investigate the behaviour myself.

[2018-02-21 21:12] kirillgroshkov commented on #505
Ended up with funny script that just copies my *.ts files out from `node_modules` to some other dir, symlinking it, and then ts-node finally compiles it. Same files. Only difference - they are in a folder that is not named `node_modules`. Look very weird, why is it such a big deal for ts-node that files are in `node_modules`?

[2018-02-23 05:57] danthegoodman commented on #524
@nebeleh I pulled down your repo, and after a little bit of playing around I got it running in plain node. The issue exists there too, so it's not a ts-node issue.

In any case, it looks like it's an issue with requirejs and jsdom: https://github.com/jsdom/jsdom/issues/643

[2018-02-23 19:25] nebeleh commented on #524
thanks for looking into it.

[2018-02-24 05:13] RanadeepPolavarapu commented on #537
I am having same issue. Nothing about `--inspect` was mentioned in changelog either.

[2018-02-25 12:24] egoroof commented on #537
`node --inspect -r ts-node/register path/to/ts` works for me

[2018-02-25 17:51] blakeembrey commented on #537
That’s the intent. Please check the README or change log or more info and use the node command above for inspecting and other node.js flags.

[2018-02-25 17:51] #537 closed

[2018-02-26 04:40] bradzacher opened #539 "issue with running 5.0.0 via vs-code"
I have the following launch config:
[code]

This worked fine in v`4.x.y`.
However I tried upgrading to v`5.0.0` and it doesn't launch.
I did a quick debug and found that it's due how minimist collects arguments.

the command that gets run by vscode for the above config is:
[code]

minimist collects the arguments as follows:
[code]

so then ts-node never executes, because as far as it's concerned n

[2018-02-26 05:53] ogwh opened #540 "ts-node fails when trying to execute a script not included in 'rootDir' of tsconfig.json"
I have separate scripts and src directories. With project source files being in src/ it's the dir set as rootDir and included with the includes option in the tsconfig.

Because ts-node loads everything in the tsconfig file this means that scripts under scripts/ cannot be executed.

Additionally when using the --skip-project option ts-node just drops to a REPL and doesn't run the script. Even if th

[2018-02-26 14:08] warseph commented on #539
Same issue here on 5.0.0, just running `ts-node --inspect src/index.ts` opens the REPL instead of running the script.

[2018-02-26 14:39] joshkel commented on #497
As another option, [npx](https://github.com/zkat/npx#running-a-project-local-bin) can run project-local binaries. This may be easier than using full `node_modules/*/dist/bin.js` paths or setting up `scripts` entries in package.json.

[2018-02-26 16:39] aj-r opened #541 "--project and --compilerOptions not working"
It seems like the `--project` and `--compilerOptions` flags have no effect.

I have a directory structure that looks like this:

[code]

I've installed `ts-node@5.0.0` globally. (Also tried with `4.1.0` and having the same issue.) I've also installed `typescript@2.7.2` both locally and globally.

I'm trying to use the new `esModuleInpterop` compiler option, so `scripts/tsconfig.json` looks like th

[2018-02-26 16:45] aj-r commented on #541
Finally figured it out - looks like I need to put the `--project` parameter BEFORE my input file, i.e.

[code]

[2018-02-26 16:47] aj-r commented on #541
Would be nice if `ts-node` supported arguments after the input file, or at least warns you if you try to put an option like `--project` after your input file.

[2018-02-27 18:33] ndthanhdev opened #542 "--inspect isn't working for me"

[2018-02-27 20:25] pherret commented on #542
@ndthanhdev It seems adding port helped me `ts-node --inspect=9229 ./src/index.ts`

[2018-02-28 20:11] xueeey opened #543 "ts-node --inspect does not work on 5.0.0"
[code]

Works fine with v4.1.0

[2018-03-01 04:27] blakeembrey commented on #543
Duplicate of https://github.com/TypeStrong/ts-node/issues/537. Please search before opening another issue, especially since the issue directly before this is the exact same.

[2018-03-01 04:27] #543 closed

[2018-03-01 04:27] blakeembrey commented on #542
Duplicate of https://github.com/TypeStrong/ts-node/issues/537.

[2018-03-01 04:27] #542 closed

[2018-03-01 04:28] blakeembrey commented on #539
There are no more advanced flags supported by `ts-node`. Use `node -r ts-node/register` for advanced functionality. It's also documented in the README, feel free to submit a PR if that documentation is not adequate.

[2018-03-01 04:28] #539 closed

[2018-03-01 04:30] blakeembrey commented on #541
That's not possible. Node.js works exactly the same way. I think you're neglecting the common use-case of people using a CLI with their own arguments which may or may not be named the same as `ts-node` arguments. Feel free to submit a PR if you'd like to clarify this in the documentation.

[2018-03-01 04:30] #541 closed

[2018-03-01 04:37] blakeembrey commented on #540
I can ignore error `6059` but I can't replicate any of your other issues. Using `--skip-project` on this repo skips the `tsconfig.json` file and doesn't open the REPL.

[2018-03-01 04:43] blakeembrey commented on #540
Also, you can't just ignore everything outside of `compilerOptions` because of type definitions and other features. I'll have a PR for ignoring the root dir warning, but I'd like to understand how you got the REPL issue - can you share the command you were running?

[2018-03-01 04:53] blakeembrey commented on #539
I think changing `runtimeExecutable` to `node` and `args` to `["-r", "ts-node/register"]` should be enough, right? Please let me know if that works, happy to add this to the documentation.

[2018-03-01 04:53] #540 closed

[2018-03-01 04:56] blakeembrey commented on #522
@slikts Did you install `ts-node` first?

[2018-03-01 09:17] slikts commented on #522
IIRC it turned that it needed to be installed locally while I had it installed globally.

[2018-03-01 10:25] alexanderby commented on #478
I had the following situation: I used components written with TSX which imported ES2015 code from node_modules and got `Unexpected token import`. I've switched tsconfig to `"module": "commonjs"` but it didn't help because imported code contained another ES2015 import. So, finally, `ignore` option helped me, I was lucky to find it here.

[2018-03-01 11:25] jasdeep-compro opened #545 "ts-node tries to compile any imported files"
Hi, while running test with mocha I got an issue.  ts-node tries to compile my 3rd-party  javascript imports which are already compiled. Is there a way to ignore the javascript imports ?

[2018-03-01 12:39] ogwh commented on #540
Apologies for the barely comprehensible language in the original report. I'm going to say I was tired at the time but that might be a lie!

The command and output is:

[code]

Where > is the REPL prompt.

Version info is:

[code]

I'll update to the latest versions of all three and retest. Thanks for the fix with #544!

[2018-03-01 17:26] blakeembrey commented on #545
I need more information to help you. Can you share an example of a 3rd-party JavaScript import which is having trouble?

[2018-03-01 17:37] blakeembrey commented on #540
Awesome, thanks. That makes a lot more sense now, `--skip-project` isn't an option with `ts-node` 4.x.

[2018-03-01 17:46] blakeembrey commented on #478
@alexanderby The only way you should be importing ES2015 module code from `node_modules` is if it was published that way. If it was published that way, the intent could be for it to be consumed as ES2015 modules. Transpiling it to CommonJS can introduce inconsistencies there. Also, this option is in the README: https://github.com/TypeStrong/ts-node#cli-and-programmatic-options.

It was also in the

[2018-03-01 17:48] blakeembrey commented on #478
Can you also share the command which you used to help you? I'm not sure how `ignore` helped.

[2018-03-01 19:02] ogwh commented on #540
Ah. I must have read the wrong docs.

I was just about to say I checked out master and everything works perfectly now! Thanks. :-)

[2018-03-02 13:10] alexanderby commented on #478
My code was
[code]
and then I was able to import *.tsx files with es2015 modules.

[2018-03-02 15:54] nicolaspeixoto opened #546 "ts-node isn't checking dependencies when cache is enabled"
I have two files:
a.ts:
[code]

b.ts:
[code]

I'm running b.ts with ts-node. It's compiling and running.

if I comment line 1 on file a.ts:
[code]

I'm **not** getting the expected compilation error when I run ```ts-node``` again, but if I try to compile using ```tsc``` or run ```ts-node --no-cache``` I'm getting an error, what is **expected**.

[2018-03-02 16:55] blakeembrey commented on #546
Enable type checking?

[2018-03-02 17:02] nicolaspeixoto commented on #546
Yes, same result.
[code]

[2018-03-03 02:58] SalchiPapa opened #548 "Readme out of date"
![image](https://user-images.githubusercontent.com/4594825/36929812-b944775e-1e5b-11e8-93d3-d598dc1641b8.png)

[code]

I have to use `--type-check`, which is not the default as it would seem in the readme example, also `.type` return the value **not** the type! :warning:

[code]

[2018-03-03 05:04] blakeembrey commented on #548
Actually, `'foo'` is a type. That screenshot is just from a long time ago before literal types even existed. I'll update it now.

[2018-03-03 05:14] blakeembrey commented on #548
Closed with https://github.com/TypeStrong/ts-node/commit/a95357976c7e30b5d3305b12c0cecec817eddc75.

[2018-03-03 05:14] #548 closed

[2018-03-03 05:18] blakeembrey commented on #546
@nicolaspeixoto What `ts-node` version are you using?

[2018-03-03 05:22] blakeembrey commented on #546
I haven't been able to replicate the issue testing it locally. Might need something more reproducible. Can you output `ts-node -v` with and without type checking enabled? The only way this can happen is if the file somehow ended up in the cache so it's skipping compilation, but the `typeCheck` flag should be giving two separate cache paths.

![image](https://user-images.githubusercontent.com/10889

[2018-03-03 06:08] mindjuice commented on #350
I needed to do the same thing, but also needed to pass some flags to `ts-node`.  Ended up it was as simple as this:

``` forever start -c "ts-node --type-check -r tsconfig-paths/register" src/server.ts```

[2018-03-04 00:24] govorov opened #549 "Inspect is broken in 5.0.1, but ok in at least 3.3.0"
Hi,

I'm experiencing issues with latest `ts-node`  and `inspect` flag:
`yarn run ts-node --inspect=localhost:9229 -r tsconfig-paths/register ./src/server.ts`
I see no connection with my launched chrome inspector.

Whereas version 3.3.0 is fine with exactly the same command:
[code]

Related StackOverflow discussion with the same problem:
https://stackoverflow.com/questions/49042830/why-does-the-no

[2018-03-04 03:37] blakeembrey commented on #549
Duplicate of https://github.com/TypeStrong/ts-node/issues/543. Please check the README and search past issues in the future.

[2018-03-04 03:37] #549 closed

[2018-03-05 14:28] kirillgroshkov commented on #396
`--preserve-symlinks` doesn't work:( Also, it's not documented anywhere. Is it still supported? Any workarounds?

[2018-03-05 14:48] kirillgroshkov opened #550 "What is the current way to pass flags to node? (e.g preserve-symlinks)"
I'd like to pass flags down to node, e.g `preserve-symlinks`. How can I do that?

In the past I've seen ppl reported success with `--preserve-symlinks` or `--preserveSymlinks` but it doesn't work anymore.

[2018-03-06 06:35] blakeembrey commented on #396
[code]

[2018-03-06 06:36] blakeembrey commented on #550
Please check the README: https://github.com/TypeStrong/ts-node#programmatic.

[2018-03-06 06:36] #550 closed

[2018-03-07 00:33] michalchochol commented on #537
Unfortunately this solution does not work with pm2, which uses ts-node by default to run typescript and passes arguments to ts-node via node_args property.

[2018-03-07 05:08] blakeembrey commented on #537
Can you provide a reference or code snippet so I can verify that claim? Seems like a simple thing to fix.

[2018-03-07 15:15] michalchochol commented on #537
Hi,

lets assume we have ts-node installed locally via npm and very simple app-test to run:

[code]

Normally to run and debug app using node:

`node --inspect=7000 app-test.js` 			//works OK with debugger

`node --inspect=7000 -r ts-node/register app-test.ts`  	//works OK with debugger

To run and debug using pm2 (without typescript installed internally in pm2):

`pm2 start --node-args="--inspect

[2018-03-07 19:10] Auxx commented on #505
@kirillgroshkov because this is `tsc` behaviour, not `ts-node`. `tsc` never compiles things in `node_modules`.

[2018-03-07 20:00] svkurowski commented on #515
Hello, please re-open this issue and remove the invalid label as ts-node is behaving differently than tsc and node for completely valid TypeScript code. Here is a minimal example to reproduce:

MyEnum.ts:
[code]
index.ts:
[code]
Expected behavior as evidenced by tsc/node:
[code]
Actual behavior of ts-node:
[code]

Yes, it works correctly with the `TS_NODE_TYPE_CHECK` environment variable set to `Y

[2018-03-08 00:43] blakeembrey commented on #515
How do you expect this issue to be fixed if the output is correct from typescript?

[2018-03-08 01:03] blakeembrey commented on #537
Seems like you should submit a fix to `pm2`. The feature of using node flags via the CLI was an explicit decision and won’t be enabled in future releases.

[2018-03-08 19:51] michalchochol commented on #537
I don't think so it is so simple, but I'm going to try :) Thanks for your time and great project - ts-node really helps and saves a lot of development time.

[2018-03-08 21:41] tomitrescak commented on #266
Guys, is this a bug with mocha? I am getting error:

[code]

[2018-03-13 15:56] pumano commented on #545
I have same problem. I use mocha with ts-node/register and it have problem with es6 imports of another libs.

[code]

[2018-03-13 18:59] Jiahui-Ruan commented on #545
I have same problem with @pumano when I want to import es6 module that I written in other folder inside my project.

[2018-03-14 03:17] blakeembrey commented on #545
@pumano @Jiahui-Ruan That sounds like the opposite problem to OP. I'm closing this now since I haven't had a response and both your reports means it works correctly.

[2018-03-14 03:17] #545 closed

[2018-03-14 03:21] blakeembrey commented on #545
@Jiahui-Ruan Please provide more information when you have a problem. There's nothing actionable I can do to help you with your response. What's the folders look like? What's the files look like? Can you make a reproduction?

@pumano You shouldn't be importing ES6 modules from other libs. Can you share how you're ending up with that?

[2018-03-14 03:22] #546 closed

[2018-03-14 09:00] johan-gorter opened #552 "ts-node starts REPL when using --inspect"
The following command ran fine with ts-node 4.1 on windows
`ts-node --inspect our/file.ts`

With ts-node 5.0, this command seems to ignore the last argument and starts the REPL instead. Changing the command to the following solves this problem for now:
`ts-node --inspect -- our/file.ts`

I cannot think of any reason why the `--` should be required here.

[2018-03-14 12:16] Xenya0815 commented on #391
I've also problems with reexports of declaration files.

I tried different exports but no one worked.

An example with named export:

[code]

An example with default export:

[code]

I tried it with different scenarios (export type, storage folders, with and without `.d`) - all tries failed with ts-node (tried with 4.x.x and 5.0.1) . The typescript compiles compiles all rightly.

I use ts-node/reg

[2018-03-14 12:53] pumano commented on #545
@blakeembrey I use react-native with typescript. When I try to unit test it via mocha + ts-node/register I got imports in my application with libraries that contain ES6 code with ES6 imports. And it causes error (I was provided stacktrace below). I don't figure out how to solve that problem.

[2018-03-14 12:58] jasdeep-compro commented on #545
@blakeembrey Sorry I couldn't reply earlier. The problem faced by @pumano is similar to mine. The libraries I'm importing contains ES6 imports.  I'm not sure if I can create a git repo for reproduction.

@pumano It would be really helpful if you can create a reproduction at your end.

[2018-03-14 13:15] marcj commented on #537
Any solution yet to start newest ts-node with inspect via pm2?

[2018-03-14 14:03] zposten opened #553 "Throws syntax error for valid syntax"
I'm in the process of creating a React v16 app with Redux v4 and Typescript v2.7.  I'm having an odd issue where ts-node, when running my tests, exhibits different behavior than [awesome-typescript-loader], that I use to build and run my project.

It's specifically around a particular instance of the `as` keyword.  This is complicated further by the fact that I'm using a version of redux-thunk tha

[2018-03-14 17:12] blakeembrey commented on #553
That error comes from babel (see stack trace) and is caused by registering babel for `.ts` and `.tsx` over the top of `ts-node`. Babel only reads from files in the current release IIRC, what version are you using?

[2018-03-14 17:12] #553 closed

[2018-03-14 17:14] blakeembrey commented on #552
Neither of those work on 5.0, please check the README, changelog or past issue before creating an issue. Refs:

* https://github.com/TypeStrong/ts-node#programmatic
* https://github.com/TypeStrong/ts-node/releases/tag/v5.0.0
* https://github.com/TypeStrong/ts-node/issues/549

[2018-03-14 17:14] #552 closed

[2018-03-14 17:44] blakeembrey commented on #391
@Xenya0815 You'll find that if you try to run the output of `tsc` it'll be exactly the same. Node.js can't find a module that doesn't exist. Write your interfaces as a `.ts` file and don't try to import from `.d`.

[2018-03-14 17:45] blakeembrey commented on #545
Can either of you tell me what the expected behaviour would look like? I got the impression from the text in OP that you don't want it to compile 3rd party scripts, but now it sounds like you want it to. Are you all using `allowJs`?

I'm also not familiar with `react-native`, does it import ES6 files somehow? I just can't see in the lib you mentioned any reference to the ES6 files, they're publish

[2018-03-14 17:51] zposten commented on #553
@blakeembrey Thank you for your response.  When I try removing babel, I get errors with `async`.  Is there a nice way to make ts-node and babel work in unison?

[code]

[2018-03-15 07:01] Xenya0815 commented on #391
@blakeembrey I can not confirm that.

To reproduce my result, here what I did to check it:

[code]

[code]

The command to compile: `tsc src/index.ts --declaration --declarationDir dist/@types --target ES2016 --module commonjs --outDir dist/component`
tsc version: 2.7.2

Created files:
[code]

[code]

When I run `node dist/component/index.js`, it returns with the status code 0 and I see the output

[2018-03-17 13:26] peternann commented on #46
Can I very, very strongly suggest that the 'current, best' way to setup VSCode debugging with ts-node is described in the main README?

VSCode is very widely used for Typescript dev. ts-node is awesome during dev.
Both working together is SWEET, but it's BLACK MAGIC to get it going!
There is a TON of partial/old/incorrect information floating around...

An official 'Hello World' debugging setup wo

[2018-03-17 17:54] blakeembrey commented on #46
I can check but I'm not sure it should be very complicated to get started. Just add `['-r', 'ts-node/register']` to the default node.js configuration? I don't really use this myself but would accept a PR that adds the example to the README.

[2018-03-17 18:02] blakeembrey commented on #46
Just verified it working locally by creating a new project. All I did is below. Can someone confirm this?

[code]

[2018-03-17 18:25] blakeembrey commented on #553
This is an issue with babel unfortunately, they're reading directly from file circumventing `ts-node` altogether. You can try the 7.0 beta where I believe they fixed this. Otherwise, you can transpile `async` using TypeScript - what's your `tsconfig.json` file?

[2018-03-17 18:29] blakeembrey commented on #391
Did you enable `--type-check`? I'd guess `tsc` does elision of modules based on type detection. This isn't something I can fix, I'd recommend using `.ts` files.

[2018-03-17 18:35] blakeembrey commented on #391
Adding a note about this to the README now.

[2018-03-17 18:37] blakeembrey commented on #391
I'm also going to close this issue since it's been a bit derailed. If someone has a reproduction of this (an error code of 0 with `tsc` **and** `node` on the output files and non-zero error code of `ts-node` on the same code), please open a new issue 😄

[2018-03-17 18:37] #391 closed

[2018-03-19 17:24] zposten commented on #553
@blakeembrey I can definitely try the babel beta, thank you for the suggestion!

I was attempting to target `esnext` with Typescript so that it would transpile things like this, but when it didn't seem to work I turned to babel lol

Here is my `tsconfig.json`, is there some amendment I can make to it to successfully transpile `async`?

[code]

[2018-03-20 03:52] blakeembrey commented on #553
@zposten Target `esnext` means no language features are being transpiled (you're saying that your target supports `esnext`, aka everything used). Try `es2015` or `es2016` depending on node.js version.

[2018-03-22 02:39] froodley opened #556 "Pass arguments from programmatic invocation"
Hi, just a question I couldn't find an answer to...

I'm trying to replicate a command line invocation of ts-node where I pass CLI arguments into the script:
`ts-node script.ts --arg val1`
Works great.  Thanks!

But I want to do the same now from a gulp task.
`require('ts-node').register(tsConfig);
require('script.ts --arg val1');`

... does not work, as expected.  So how can I acheive the same fr

[2018-03-22 12:35] peternann commented on #46
I'm still getting patchy breakpoint behaviour. It seems to work in the primary file (index.ts), but not in other imported files.

Interestingly, it works somewhat more reliably after a restart of VSCode.
I'm testing a very short-lived script - It feels a bit like a race condition during startup perhaps.
Strangely, WHETHER OR NOT the breakpoint happens to work in any one run, hovering over the brea

[2018-03-22 14:46] blakeembrey commented on #556
You can’t pass arguments like that through require. You can just make whatever your doing a function instead and pass the function whatever you want.

[2018-03-22 14:46] #556 closed

[2018-03-22 16:01] galilg commented on #467
Hi! Did you find a solution to this issue? I'm facing the same one.

[2018-03-22 20:29] froodley commented on #556
*slaps forehead* thanks

after invoking it as a cli script a few hundred times I had stopped thinking of it

[2018-03-22 23:47] RenWenshan opened #558 "Sending multiple lines to ts-node"
### Bug

[code]

Pasting the above code to ts-node gives:

[code]

whereas, sending the definition of `minimizeXml` in one line (minimized) is successful.

### Expected

Pasting multiple line code segments to ts-node works.

[2018-03-23 06:05] blakeembrey commented on #558
It worked fine for me:

![image](https://user-images.githubusercontent.com/1088987/37814099-67cf5c2a-2e25-11e8-932f-75276c0ea3ac.png)

Can you provide some more information about your environment (e.g. `ts-node` version, node.js version, `tsconfig.json` file) that might impact this or something standalone I can use to reproduce?

[2018-03-23 06:08] blakeembrey commented on #529
We should definitely document this in the README but I don't intend to change the functionality of core node.js for this. There may be unintended side effects of mutating something people rely on globally.

[2018-03-23 06:14] hath995 opened #559 "Thanks!"
Not really an issue just wanted to say thanks to everyone who worked on this project. It is amazing and solves so many problems. Intensely glad it exists!

Thanks again!

[2018-03-23 07:15] spacem commented on #467
Sorry.. actually I don't remember now the last time this happened but since reporting this I got a new laptop now with windows 10 and updated node (now 8.9.3) and typescript (now 2.6.2) also I reset my tsconfig to be the angular-cli generated one so you could try one of those things.

[2018-03-23 07:15] #467 closed

[2018-03-23 07:41] jpike88 opened #560 "Stabilizing ES6 Modules"
The --experimental-modules flag seems to be something that has been a thing for quite a while. Is there any plan to stabilise things to the point where this flag won't be necessary?

As more developers start making use of it in production (like myself), which by the way, works flawlessly, there is the growing need for support in other tools like Typescript. Problem is, they won't take it seriously

[2018-03-23 17:29] Tokimon opened #561 "Testing with mocha and defining project with TS_NODE_PROJECT fails"
Hi

I have a project, a library, of small convenience methods for JS and I use Mocha for my unit testing with the following command:

[code]

Which has worked well until I updated to `ts-node` version **5.0.1**.

Now it it has started failing with the error message that it cannot find my test folder.

So I wanted to know if you could tell me why it is failing?

**Note**
I use NYC (Istanbul) for co

[2018-03-23 23:34] dpaquette commented on #511
I am running in to this problem too. I am using the `--type-check` flag to work around the issue but that is causing performance issues as sometimes `ts-node --type-check .\app.ts` takes several minutes to run. For comparison, `ts-node .\app.ts` takes ~5 seconds to run. I can consistently reproduce the slow compile time by using the `--no-cache` flag: `ts-node --type-check --no-cache .\app.ts`.

A

[2018-03-24 01:32] blakeembrey commented on #561
It needs to be a path to a configuration file, not just a directory now. Open to accepting a PR for supporting a directory again. This should have been documented in the release changelog and is reflected in the README (on mobile so didn’t double check the changelog).

[2018-03-24 01:35] blakeembrey commented on #560
Submit a PR, this is an OSS project maintained by unpaid volunteers.

[2018-03-24 02:53] #560 closed

[2018-03-24 03:40] blakeembrey commented on #561
Updated https://github.com/TypeStrong/ts-node/releases/tag/v5.0.0.

[2018-03-24 03:40] #561 closed

[2018-03-24 07:28] s-KaiNet commented on #46
Works well for me on node `8.10`, however on node `6.x` breakpoints never hit. Maybe that's the case for other folks.

[2018-03-24 08:25] s-KaiNet commented on #46
**UPDATE:** well, breaks work in an initial file (`index.ts` for example), however, don't work in all imported files :( (`Breakpoint ignored because generate code not found (source map problem`)

[2018-03-24 08:39] s-KaiNet commented on #46
Created reproduction repository - [here](https://github.com/s-KaiNet/ts-node-46):
1. Clone, `npm i`
2. Add breaks in `index.ts` and `parser.ts`, F5 -> doesn't work in `parser.ts`

node `8.10` npm `5.7.1`

[2018-03-24 09:42] s-KaiNet commented on #46
So it looks like vscode [bug](https://github.com/Microsoft/vscode/issues/45657)... superannoying!

[2018-03-24 09:49] s-KaiNet commented on #46
Installed `1.20` from [here](https://vscode-update.azurewebsites.net/1.20.1/win32-x64/stable) - everything works! ts-node, node, breaks, everything!

[2018-03-25 18:00] Tokimon commented on #561
Arh ok thank you for clarifying this. I will correct my path then.

[2018-03-27 11:21] rjmacarthy commented on #46
I've managed to get debugging in ts working. The solution was to compile the ts to js in a dist folder with source maps then attach to the debugger after running the solution. Typescript -w is used to watch the files and  `nodemon` is used to restart the server on js file changes.

You need to be on a Node version which supports the `--inspect` parameter.

Then add a new npm script in package.json

[2018-03-27 13:06] atian25 commented on #25
hey, @blakeembrey any plan on this ?

[2018-03-27 13:06] whxaxes commented on #25
Is there any progress？

[2018-03-27 13:26] cuarti commented on #529
So, if you have compiled files and change some required typescript by your executed file, it doesn't work and you have to compile .ts to .js.
I understand what you say but with it ts-node is unnecessary, because only works for marginal cases, when you only modify the executed file or you don't have the compiled js.

[2018-03-28 04:54] electricessence commented on #422
@blakeembrey Before I open another issue I want to be sure I'm not going insane because I currently cannot get ts-node to do anything worthwhile.  I've been beating my head bloody for days searching, reading and experimenting with every config I can think of.

If it's not one thing it's another.  But most of my woes seem to be related to importing other modules.
In the case of gulp for example, I'

[2018-03-28 08:40] atian25 opened #562 "update typescript version or unlock it?"
https://github.com/TypeStrong/ts-node/blob/master/package-lock.json#L1143

[code]

[2018-03-28 11:57] blakeembrey commented on #422
@electricessence Have you tried updating `ts-node`? If that fails I can look further into it, but the version you have listed in your `package.json` is over a year old.

[2018-03-28 12:00] blakeembrey commented on #562
I don't understand the issue, you'll need to elaborate if you want support.

[2018-03-28 12:00] #562 closed

[2018-03-28 12:01] blakeembrey commented on #559
Thank you @hath995! ❤️

[2018-03-28 12:02] atian25 commented on #562
sorry, I found that this modules has a `package-lock.json` and lock `typescript` with an old version `2.7.2`, could you upgrade it to the newest version ?

[2018-03-28 12:08] blakeembrey commented on #562
That file doesn't affect you though, is there a reason you think I should update?

[2018-03-28 12:10] atian25 commented on #562
oh, sorry, it's a dev dep,  really sorry.

[2018-03-28 12:34] jessedvrs commented on #245
Temporary workaround which blocks the REPL while resolving:

[code]

[2018-03-28 15:12] electricessence commented on #422
@blakeembrey Wow ok.  That was odd.  (I had thought I updated everything.)  My first attempt to update took it from 1.6 to 1.7.  Then I updated global and it jumped to 5.0.   Then I uninstalled and installed again and got the project up to 5.  Now everything works. 😄 Thank you.

[2018-03-28 15:33] electricessence commented on #515
Encountered this as well.  The behavior should be that if loading a `.js` file that is accompanied with a `.d.ts` file then it should type check.  (in my case the declaration file is exported adjacent to the javascript.) Just setting the environment variable isn't enough because it means that if someone clones my project they can't get up and running without setting that.